.info-block {
    position: relative;
    overflow: hidden;
    padding: 8rem 0;
    display: flex;
    flex-wrap: wrap;

    > div {
        width: 100%;
    }

    &__left {
        width: 55%;
        padding-right: 2rem;

        @include desktop_hd {
            padding-right: 11rem;
        }

        @include desktop {
            width: 50%;
            padding-right: 0;
        }

        @include mobile {
            width: 100%;
            margin-bottom: 3rem;
        }
    }

    &__right {
        width: 45%;
        padding-left: 2rem;

        &._bg {
            width: calc(45% + 10rem);
            margin: -8rem -12rem -8rem 2rem;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            @include desktop_hd {
                margin: -10rem -25rem -10rem 2rem;
                width: calc(50% + 14rem);
            }
        }

        @include desktop {
            width: 50%;
            padding-left: 4rem;
        }

        @include mobile {
            width: 100%;
            padding-left: 0;
        }
    }

    &__inner {
        margin: auto 0;
        width: 100%;
    }

    &__inner-projects {
        z-index: 9;

        @include new-mobile {
            margin-bottom: 2.8rem;
        }
    }

    &__projects-title {
        align-self: flex-start;
        position: relative;
        text-transform: uppercase;
    }

    &__production {
        .info-block {
            &__left {
                padding: 17rem 22% 7rem 0;
                background-repeat: no-repeat;
                background-size: auto 95%;
                background-position: calc(100% - 1rem) calc(50% + 2rem);
                width: calc(55% + 2.5rem);
                margin: -8rem -1.5rem -8rem 0;

                @include desktop_hd {
                    background-size: auto 95%;
                    background-position: calc(100% - 1rem) calc(50% + 2rem);
                    width: calc(55% + 2.5rem);
                    margin: -10rem -1.5rem -10rem 0;
                    padding-top: 22rem;

                    p {
                        max-width: 90%;
                    }
                }

                @include desktop {
                    min-height: 40rem;
                    width: calc(100% - 20rem);
                    padding: 7rem 18rem 7rem 3rem;
                    margin-top: -6.5rem;
                    margin-bottom: -6.5rem;
                    background-size: auto 95%;
                    background-position: 100% calc(50% + 0.5rem);
                }

                @include mobile {
                    width: calc(100% + 2rem);
                    min-height: 0;
                    margin: -5rem -2rem -5rem 0;
                    padding: 5rem 5rem 5rem 0;
                    background-size: auto 95%;
                    background-position: calc(100% + 4rem) calc(50% + 0.5rem);

                    p {
                        max-width: 80%;
                    }
                }
            }

            &__right {
                margin: -8rem -13.5rem -8rem 1rem;

                @media (min-width: 1200px) and (max-width: 1699px) {
                    width: calc(45% + 20rem);
                    margin: -8rem -23.5rem -8rem 2rem;
                }

                @include desktop_hd {
                    margin-left: 1rem !important;
                }

                @include desktop {
                    width: 25rem;
                }

                @include mobile {
                    display: none;
                }
            }
        }
    }

    &__individual {
        @include media-min(1200px) {
            padding-bottom: 5rem;
        }
    }

    &__video {
        &-container {
            max-width: 1330px;
            margin: 0 auto;
            width: auto !important;
            padding: 6.5rem 0;
            border: 6px solid #fff;
            position: absolute;
            top: 7rem;
            right: 2rem;
            bottom: 7rem;
            left: 2rem;
            pointer-events: none;
            z-index: 10;
            height: 100%;
            max-height: 44.5rem;

            &._active {
                .info-block__video-area {
                    height: 310%;
                    left: 50%;
                    top: 50%;
                    width: 120%;

                    .icon {
                        opacity: 0;
                    }

                    @include mobile {
                        height: 210%;
                        left: 50%;
                        top: 50%;
                        width: 150%;
                    }
                }

                .info-block__video-thumb {
                    opacity: 1;

                    .thumb {
                        background-position: center;
                    }
                }

                .video {
                    opacity: 1;
                    pointer-events: all;
                    transition-delay: 0.5s;
                    z-index: 15;
                }
            }

            @include desktop_hd {
                max-width: 1920px;
                top: 7.5rem;
                bottom: 7.5rem;
                right: 5rem;
                left: 5rem;
                max-height: calc(100% - 15rem);
            }

            @include desktop {
                border: 0;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                max-height: 100%;

                .banner-line {
                    display: none;
                }
            }

            @include mobile {
                top: inherit;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 0;
                height: 250px;
            }
        }

        &-thumb {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 6;
            // transition: $transition;

            .thumb {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: calc(50% - 85px) center;
                background-size: 2000px;
                // transition: all .5s linear;

                &.static {
                    background-size: cover;
                    background-position: center;
                }

                @include mobile {
                    background-size: auto 250px;
                    background-position: center;
                }
            }
        }

        &-area {
            position: absolute;
            top: 50%;
            left: calc(50% + 76px);
            width: 145px;
            height: 145px;
            border-radius: 50%;
            border: 6px solid #FFFFFF;
            background: #000;
            overflow: hidden;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            pointer-events: all;
            //transform: translate(-50%, -50%);
            z-index: 5;
            // transition: all .5s linear;

            &:hover {
                // box-shadow: 0 0 50px -10px rgba(0,0,0,.4);

                .icon {
                    transform: scale(1.2);
                }
            }

            .icon {
                z-index: 7;
            }

            @include desktop_hd {
                width: 195px;
                height: 195px;
                left: calc(50% + 97px);

                .icon {
                    max-width: 51px;
                    max-height: 51px;
                }
            }

            @include desktop {
                width: 77px;
                height: 77px;
                left: calc(100% - 254px);
                border: 4px solid #FFFFFF;

                .icon {
                    max-width: 17px;
                    max-height: 17px;
                }
            }

            @include mobile {
                left: 50%;
            }
        }

        .info-block {
            &__left {
                padding-right: 120px;
                @include media-max(1300px) {
                    padding-left: 30px;
                    padding-right: 80px;
                }
                @include desktop {
                    width: calc(100% - 240px);
                    padding-left: 30px;
                }
                @include mobile {
                    width: 100%;
                    padding-left: 0;
                    padding-right: 20px;
                }
            }

            &__right {
                &.zoomIn {
                    opacity: 1;
                }

                @include desktop {
                    width: 300px;
                    background-position: right center;
                }

                @include mobile {
                    width: calc(100% + 40px);
                    margin: 0 -20px -50px;
                    min-height: 250px;
                }
            }
        }

        .banner-line {
            z-index: 10;
        }

        .video {
            position: absolute;
            top: 6px;
            left: 6px;
            bottom: 6px;
            right: 6px;
            width: calc(100% - 12px);
            height: calc(100% - 12px);
            z-index: 9;
            padding: 0;
            display: block;
            opacity: 0;
            transition: all 0.3s ease;
            transition-delay: 0s;

            &-block {
                position: absolute;
            }

            @include desktop {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: calc(100% + 40px);
                height: calc(100% + 1px);
                margin: 0 -20px;
            }

            @include mobile {
                width: 100%;
                margin: 0;
            }
        }

        @include desktop_hd {
            &.info-block {
                padding: 150px 0;
            }

            .info-block {
                &__right {
                    margin-top: -150px;
                    margin-bottom: -150px;
                }
            }
        }

        @include desktop {
            overflow: hidden !important;

            .modal-video {
                width: calc(100% + 40px) !important;
            }
        }

        @include mobile {
            .modal-video {
                width: calc(100% + 50px) !important;
            }
        }
    }

    &.info-block__video-block {
        padding-bottom: 0;
        padding-top: 0;
    }

    &__video-block {
        &.info-block {
            .container {
                @include media-min (1300px) {
                    left: auto;
                    padding-left: 0;
                }
            }

            @include desktop {
                min-height: 510px;
            }
            @include mobile {
                min-height: 385px;
            }
        }
    }

    &__quote {
        &.info-block {
            min-height: 0;
            padding: 65px 0;

            p {
                font-weight: 300;
                line-height: 35px;
                font-size: 24px;
                margin-bottom: 25px;
                position: relative;
                z-index: 15;

                @include desktop_hd {
                    font-size: 34px;
                    font-weight: 300;
                    line-height: 51px;
                    z-index: 16;
                }
            }

            .icon-quote {
                max-width: 122px;
                max-height: 98px;
                fill: #fff;
                position: absolute;

                &._top {
                    top: 90px;
                    left: 80px;

                    @include desktop_hd {
                        max-width: 232px;
                        max-height: 191px;
                        top: 85px;
                        left: 120px;
                        z-index: 15;
                    }

                    @include desktop {
                        top: -55px;
                        left: 55px;
                    }

                    @include mobile {
                        z-index: 20;
                        top: 0;
                        left: 35px;
                        top: 15px;
                        max-width: 92px;
                        max-height: 68px;

                        display: none;
                    }
                }

                &._bottom {
                    bottom: 120px;
                    right: 45px;
                    transform: translate3d(0, 70px, 0) rotate(180deg);
                    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

                    &.is-active {
                        transform: translate3d(0, 0, 0) rotate(180deg);
                    }

                    @include desktop_hd {
                        bottom: 120px;
                        right: 60px;
                        max-width: 232px;
                        max-height: 191px;
                    }

                    @include desktop {
                        bottom: 40px;
                        right: 55px;
                    }

                    @include mobile {
                        display: none;
                    }
                }
            }

            .container {
                max-width: 1330px;

                @media (min-width: 1200px) {
                    padding: 140px 85px 120px 165px !important;
                }

                @include desktop_hd {
                    padding-right: 85px !important;
                    max-width: 1835px;
                    min-height: 600px;
                    padding-top: 140px;
                    padding-left: 240px;
                }
            }

            .author {
                display: block;
                font-style: italic;
                font-weight: 300;
                line-height: normal;
                font-size: 18px;
                position: relative;
                z-index: 15;

                @include desktop_hd {
                    font-weight: 300;
                    line-height: normal;
                    font-size: 28px;
                }
            }

            @include desktop {
                padding-top: 300px;

                .banner-line {
                    display: none;
                }

                .container {
                    padding: 0 120px 0 150px;
                }
            }

            @include mobile {
                padding: 20px 0 40px;

                p {
                    line-height: 25px;
                    font-size: 15px;
                    z-index: 25;
                }

                .author {
                    font-size: 15px;
                }

                .banner-line {
                    display: block;
                }

                .container {
                    padding: 55px 30px 30px;
                    margin: 0 20px;
                }
            }
        }
    }

    &__map {
        &.info-block {
            background-image: url("../map.png");
            background-repeat: no-repeat;
            background-position: calc(100% + 100px) calc(100% - 100px);
            background-size: auto 100%;

            @include desktop {
                padding-bottom: 500px;
                background-size: 620px auto;
                background-position: center bottom;
            }

            @include mobile {
                padding-bottom: 200px;
                background-size: auto 320px;
                background-position: center bottom;
            }
        }
    }

    &__slider {
        h4 {
            line-height: 1.333333333333333;
            position: relative;
            z-index: 9;

            @include desktop {
                margin-bottom: 4rem;
            }

            @include mobile {
                margin-bottom: 2rem;
            }
        }
    }

    &__more {
        &.info-block {
            min-height: 370px;
            padding: 0;

            .button {
                margin: auto;
            }

            .container {
                @media (min-width: 1200px) {
                    padding-left: 0 !important;
                }
            }

            @include mobile {
                min-height: 200px;
            }
        }
    }

    &__content {
        &--height {
            @media (min-width: 1200px) {
                min-height: 680px;
            }
        }

        &._bg {
            .info-block {
                &__left {
                    padding-right: 10px;
                }

                &__right {
                    margin-left: 50px;
                    margin-right: -250px;
                    width: calc(50% + 200px);
                }
            }
        }

        .info-block {
            &__left {
                width: 50%;
                padding-right: 50px;
            }

            &__right {
                width: 50%;
                padding-left: 50px;
            }
        }

        img {
            width: 100%;
        }
    }

    &__features {
        &.info-block {
            padding: 150px 50px;
            min-height: calc((100vw + 300) / 3);

            @include desktop {
                padding: 65px 0;
                min-height: 0;
            }

            @include mobile {
                padding: 50px 0;
            }
        }

        .banner-line__container {
            width: 100%;
            position: absolute;
            top: 75px;
            right: 50px;
            bottom: 75px;
            right: 50px;
            padding: 60px 75px;
            pointer-events: none;
            max-height: calc(100% - 150px);
            max-width: calc(100% - 100px);
        }

        @include desktop {
            h3 {
                text-align: center;
            }

            .banner-line {
                display: none;
            }

            .banner-line__container {
                padding: 0;
            }
        }
    }

    &__contacts {
        background-repeat: no-repeat;
        background-position: 70% 50px;
        background-size: auto 578px;

        @media (min-width: 1200px) {
            min-height: 725px;
        }

        @include desktop {
            background-position: 20% 80%;
        }

        @include mobile {
            background-image: none !important;
        }
    }

    &__form {
        overflow: visible;

        &.info-block {
            min-height: 542px;
        }

        .info-block {
            &__left {
                @include media-min(1200px) {
                    max-width: 565px;

                    h3 {
                        line-height: 56px;
                        font-size: 48px;
                        margin-bottom: 25px;
                    }
                    p {
                        line-height: 38px;
                        font-size: 25px;
                    }
                }
            }

            &__right {
                @include media-min(1921px) {
                    padding-left: 81px;
                }

                @include media-min(1200px) {
                    margin-left: auto;
                    padding-top: 0;
                    max-width: 627px;
                }

                @include desktop_hd {
                    max-width: 100%;
                    padding-left: 68px;
                }

                @include media-max(1700px) {
                    padding-top: 0;
                }
            }
        }

        @include media-min(1200px) {
            min-height: 588px;
            padding-top: 210px;
            padding-bottom: 140px;

            .container {
                padding-left: 20px;
            }
        }

        @include desktop_hd {
            padding-top: 240px !important;
            padding-bottom: 140px !important;
            padding-right: 70px !important;
            padding-left: 98px !important;

            .container {
                max-width: 1795px !important;
                left: 0px !important;
                padding-left: 52px !important;
            }
        }

        @include media-min(1921px) {
            .container {
                max-width: 1795px !important;
                left: 0px !important;
                padding-left: 28px !important;
            }
        }
    }

    &__catalog {
        background-color: map_get($colors, darkGray);
        position: relative;
    
        &:after {
            background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, #f6f6f6 100%);
            bottom: 0;
            content: '';
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            width: 19.6rem;

            @include new-mobile {
                display: none;
            }
        }

        &.info-block {
            min-height: 0;
            // padding-left: 20px;

            // @media (min-width: 1921px) {
            //     padding-left: calc((100vw - 1795px) / 2 + 30px);
            // }
            // @media (min-width: 1300px) {
            //     padding-left: calc((100vw - 1270px) / 2);
            // }
            // @media (min-width: 1200px) {
            //     padding-top: 83px;
            //     padding-bottom: 55px;
            // }
            // @include desktop_hd {
            //     padding-left: 140px;
            // }
            // @include desktop {
            //     padding-left: 0;
            // }
        }

        .container {
            max-width: 100% !important;
            padding-right: 0 !important;
            width: 100%;

            @include media-min(1200px) {
                padding-left: 0;
            }
        }

        h3 {
            width: 230px;
            padding-right: 50px;
            position: relative;
            z-index: 10;
            pointer-events: none;

            // @media (min-width: 1200px) {
            //     line-height: 52px;
            //     font-size: 48px;
            // }
            // @include desktop {
            //     width: 140px;
            //     padding-right: 50px;
            // }
            // @include mobile {
            //     width: 100%;
            // }
        }

        .slider {
            width: calc(100% - 23rem);
            padding-left: 14rem;

            @include new-tablet {
                width: calc(100% - 10.5rem);
                padding-left: 5rem;
            }

            @include new-mobile {
                width: calc(100% + 8rem);
                padding: 0;
            }
        }
    }

    &__tech {
        &--screen2 {
            @media (min-width: 1200px) {
                padding-top: 6rem;

                p {
                    padding-right: 10%;
                }
            }
        }

        &--screen3 {
            @media (min-width: 1200px) {
                padding-top: 6rem;

                p {
                    padding-right: 10%;
                }
            }
        }
    }

    &__info {
        display: flex;

        @include new-mobile {
            flex-direction: column;
        }
    }

    .slider {
        @include new-tablet {
            margin-left: -3.5rem;
        }

        @include new-mobile {
            margin-left: -2rem;
            margin-right: -2rem;

            img {
                min-width: 100%;
            }
        }
    }

    h3 {
        letter-spacing: 0.4px;
        margin-bottom: 2rem;

        @include desktop {
            line-height: 3rem;
            font-size: 2.8rem;
        }

        @include mobile {
            line-height: 2.6rem;
            font-size: 2.8rem;
        }
    }

    p {
        line-height: 2.8rem;
        font-size: 1.8rem;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        &.link {
            margin-bottom: 1rem;
        }

        a {
            color: inherit;
            font-size: inherit;
            font-weight: inherit;
        }

        @include desktop_hd {
            line-height: 3.4rem;
            font-size: 2.2rem;
        }
    }

    img {
        display: block;

        &.icon {
            width: auto;
        }

        @include media-min(1200px) {
            max-width: 57.7rem;
        }

        @include desktop_hd {
            width: 100%;
            max-width: none;
        }
    }

    @include desktop_hd {
        padding: 10rem 0;
        min-height: 800px;
    }

    @include media-min(1200px) {
        min-height: 57.7rem;
    }

    @include desktop {
        padding: 6.5rem 0;

        ._img_fully {
            max-width: calc(100% + 3.5rem);
            margin-left: -3.5rem;
        }

        ._flex--swap-md {
            .info-block {
                &__left {
                    margin-bottom: 0;
                }

                &__right {
                    margin-bottom: 4rem;
                }
            }
        }
    }
    
    @include mobile {
        padding: 5rem 0;

        &._pb-0 {
            padding-bottom: 0;
        }

        img {}

        ._img_fully {
            min-width: calc(100% + 4rem);
            margin-left: -2rem;
            margin-right: -2rem;
        }

        ._flex--swap-xs {
            .info-block {
                &__left {
                    margin-bottom: 0;
                }

                &__right {
                    margin-bottom: 3rem;
                }
            }
        }

        ._flex--swap-md {
            .info-block {
                &__left {
                    margin-bottom: 0;
                }

                &__right {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

.contacts-header {
    align-items: center;
    display: flex;
    width: 100%;

    @include new-mobile {
        align-items: flex-start;
        flex-direction: column;
    }

    &__title {
        text-transform: uppercase;

        @include new-mobile {
            font-size: 2.4rem;
        }
    }
}

.contacts-tab-nav {
    display: flex;
    font-size: 2rem;
    list-style: none;
    margin: 0 0 0 6rem;
    padding: 0;

    @include new-tablet {
        margin-left: 2rem;
    }

    @include new-mobile {
        margin-left: 0;
    }

    &__item {
        border-left: 1px solid #c4c4c4;
        margin-left: 1.3rem;
        padding-left: 1.3rem;

        &:first-child {
            border-left: 0;
            margin-left: 0;
            padding-left: 0;
        }

        &._active {
            .contacts-tab-nav__link {
                color: #5a5a5a;
                text-decoration: none;
            }
        }
    }

    &__link {
        text-decoration: underline;
    }
}