.error {
    min-height: 100vh;
    background: #000000;
    position: relative;
    text-align: center;

    &-thumb {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 1;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #000;
            z-index: 2;
            opacity: .7;
        }
    }
    &-inner {
        width: 100%;
        margin: auto;
        z-index: 10;
        position: relative;
    }
    &-title {
        font-size: 50px;
        color: #FFFFFF;
        margin-bottom: 90px;

        @include desktop {
            font-size: 35px;
            margin-bottom: 60px;
        }
        @include mobile {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    &-code {
        font-family: 'MetaPro';
        line-height: 469px;
        font-size: 500px;
        font-weight: 500;
        color: #FFFFFF;
        opacity: 0.2;
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        z-index: 3;

        @include desktop {
            line-height: 369px;
            font-size: 400px;
        }
        @include mobile {
            font-size: 200px;
            line-height: 169px;
        }
    }
    .container {
        min-height: 100vh;
        position: relative;
        z-index: 5;
    }
    .site-logo {
        max-width: 240px;
        margin: auto auto 0;
        position: absolute;
        bottom: 200px;
        left: 0;
        right: 0;
        top: inherit;

        img {
            position: relative;
            top: 140px;
        }
        @include desktop_hd {
            width: 100%;
            max-width: 330px;
        }
        @include desktop {

            img {
                top: 160px;
            }
        }
    }
}