.slider {
    max-height: 45rem;
    overflow: hidden;

    &._slider-auto {
        max-height: none;

        @include media-min(1200px) {
            max-width: none;
        }
    }

    &-item {
        cursor: -webkit-grab;
        cursor: grab;

        &.is-grabbing {
            cursor: -webkit-grabbing;
            cursor: grabbing;
        }

        &__inner {
            align-items: center;
            display: flex;
        }

        &__extra {
            border-left: 1px solid map_get($colors, default);
            line-height: 1;
            margin-left: 2.4rem;
            padding-left: 2.4rem;

            @include new-tablet {
                display: none;
            }
        }

        &__link {
            color: map_get($colors, gray);
            text-decoration: underline;
        }

        &__project {
            color: #000;
            text-decoration: none;
        }
    }

    &._arrows {
        .slick {
            &-arrow {
                background: transparent;
                border: 1px solid #767676;
                cursor: pointer;
                height: 4.5rem;
                left: 6rem;
                outline: none;
                padding: 0;
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                transition: $transition;
                width: 4.5rem;
                z-index: 10;

                &:hover {
                    border-color: #000;

                    .icon {
                        fill: #000;
                    }
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 1rem;
                    max-height: 1.4rem;
                    fill: #767676;
                }

                @include new-tablet {
                    left: -10.3rem;
                    top: 17rem;
                }
            }

            &-next {
                left: inherit;
                right: 6rem;

                @include new-tablet {
                    left: -4.8rem;
                }
            }
        }
    }

    &._slider-catalog {
        overflow: inherit;

        .slick {
            &-dots {
                margin-top: 2.5rem;
            }

            &-list {
                padding-left: 25rem;
                margin-left: -25rem;
                position: relative;
                pointer-events: none;

                &:before,
                &:after {
                    content: '';
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    z-index: 2;
                    width: 25rem;
                    
                    @include mobile {
                        display: none;
                    }
                }

                &:before {
                    left: 0;
                    background: linear-gradient(to right, map_get($colors, darkGray) 23%, map_get($colors, darkGray) 24%, rgba(237, 238, 237, 0) 100%);
                }

                &:after {
                    background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, map_get($colors, darkGray) 100%);
                    right: 0;


                }


                @include new-tablet {
                    padding-left: 12rem;
                    margin-left: -8rem;

                    &:before {
                        width: 14rem;
                    }
                }
            }

            &-track {
                pointer-events: none;
            }

            &-arrow {
                background: transparent;
                border: 1px solid #767676;
                cursor: pointer;
                height: 4.5rem;
                left: -20.4rem;
                padding: 0;
                position: absolute;
                top: 13rem;
                transform: translate3d(0, 0, 0);
                width: 4.5rem;
                z-index: 10;

                &:hover {
                    border-color: #000;

                    .icon {
                        fill: #000;
                    }
                }

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    max-width: 1rem;
                    max-height: 1.4rem;
                    fill: #767676;
                }

                @include desktop {
                    left: -10.3rem;
                    top: 8rem;
                }
            }
        }

        .slider {
            &-item {
                margin: 0 1.5rem;
                opacity: 0;
                pointer-events: none;
                position: relative;
                transition: all .7s ease;
                width: 66rem;
                z-index: 1;

                @include new-tablet {
                    width: 34rem;
                }

                &.slick-active,
                &.slick-active ~ .slider-item {
                    opacity: 1;
                    pointer-events: all;
                }

                &__thumb {
                    min-height: 37rem;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: all .5s ease;

                    @include new-tablet {
                        min-height: 24.5rem;
                    }

                    &-container {
                        cursor: pointer;
                        position: relative;
                        overflow: hidden;
                        margin-bottom: 1rem;
                    }

                    &:hover {
                        transform: scale(1.2);
                    }

                    @include new-mobile {
                        min-height: 20rem;
                    }
                }

                &__title {
                    font-family: 'Open Sans';
                    font-size: 1.8rem;
                    font-weight: 600;

                    @include new-tablet {
                        font-size: 2rem;
                    }
                }

                &__info {
                    font-weight: 300;
                    line-height: normal;
                    font-size: 1.6rem;
                    color: map_get($colors, gray);
                    margin-top: 0.5rem;
                }

                @include new-mobile {
                    width: 20rem;
                }
            }
        }

        @include new-tablet {
            margin-right: 0 !important;
            margin-left: -3.5rem !important;
        }
    }

    &-main {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        transition: $transition;
        transition-delay: .3s;
        max-height: none !important;

        &.slick-after-init {
            opacity: 1;
        }

        &__item {
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: $transition;

            &.slick-active {
                opacity: 1;
            }
        }

        .slick {
            &-list {
                width: 100%;
                height: 100%;
            }
            &-track {
                height: 100%;
            }
        }
    }

    &-info {
        @include media-min(1200px) {
            max-width: 57.7rem;
        }
    }

    @include desktop_hd {
        max-height: none;

        &-info {
            max-width: none;
        }
    }
}

.slick {
    &-slide {
        outline: none;
    }

    &-dots {
        line-height: 0;
        list-style: none;
        padding: 0;
        margin: 1.8rem 0 0;
        text-align: center;

        li {
            display: inline-block;
            width: 1rem;
            height: 1rem;
            margin: 0 0.5rem;

            &.slick-active {
                button {
                    box-shadow: inset 0 0 0 0 #bcbcbc;
                }
            }
        }

        button {
            outline: none;
            display: block;
            width: 1rem;
            height: 1rem;
            border: 0;
            padding: 0;
            font-size: 0;
            border-radius: 50%;
            background: rgba(#bcbcbc, .5);
            box-shadow: inset 0 0 0 10px #bcbcbc;
            transition: all 0.5s ease;
            cursor: pointer;
        }
    }

    @include mobile {
        &-dots {
            margin: 1.5rem 0 0;

            li {
                width: 0.8rem;
                height: 0.8rem;
                margin: 0 0.4rem;
            }

            button {
                width: 0.8rem;
                height: 0.8rem;
                box-shadow: inset 0 0 0 8px #bcbcbc;
            }
        }
    }
}

.info-block__catalog-nav {
    display: flex;
    margin-left: -2rem;
    margin-top: 2.3rem;

    @include new-mobile {
        display: none;
    }

    .slick-arrow {
        background: transparent;
        border: 1px solid #767676;
        cursor: pointer;
        height: 4.5rem;
        left: -20.4rem;
        margin-left: 2rem;
        outline: none;
        padding: 0;
        transform: translate3d(0, 0, 0);
        width: 4.5rem;

        &:hover {
            border-color: #000;

            .icon {
                fill: #000;
            }
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 1rem;
            max-height: 1.4rem;
            fill: #767676;
        }
    }
}