.tab {
    &-container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-top: 6rem;

        @include desktop {
            margin-top: 3rem;
        }
    }
    
    &-nav {
        width: 25%;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 1.8rem;
                font-weight: 700;
                margin-bottom: 3.4rem;
                line-height: 1;
                color: #000;
                position: relative;

                &._active {
                    color: map_get($colors, default);

                    a:before {
                        right: -1.5rem;
                        opacity: 1;

                        @include desktop {
                            transform: translate(0, -50%) rotate(90deg);
                        }
                    }
                }

                &:hover {
                    color: map_get($colors, default);
                }

                @include desktop_hd {
                    font-size: 2.2rem;
                }

                @include desktop {
                    font-size: 1.5rem;
                    display: inline-block;
                    margin: 0 3rem 1.5rem 0;
                }
            }
            
            a {
                font-size: inherit;
                font-weight: inherit;
                border-bottom: 1px solid;
                color: inherit;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 0.7rem;
                    height: 1.2rem;
                    background: url('../svg_icons/arrow-right.svg') no-repeat;
                    background-size: cover;
                    transform: translate(0, -50%);
                    transition: $transition;
                    opacity: 0;

                    @include desktop {
                        transform: translate(0, -50%) rotate(90deg);
                    }
                }
            }
        }

        @include desktop {
            width: 100%;
        }

        @include mobile {
            display: none;
        }
    }

    &-select {
        width: 100%;
        position: relative;
        z-index: 7;

        @include media-min(768px) {
            display: none;
        }
    }

    &-content {
        width: 75%;
    
        &_main {
            width: 100%;

            @include new-mobile {
                margin-top: 0;
            }
        }

        @include new-tablet {
            width: 100%;
            margin-top: 3rem;
        }
    }

    &-pane {
        display: none;

        &._active {
            display: block;
        }
    }
}