.banner {
    position: relative;
    z-index: 1;
    min-height: 740px;
    color: #fff;
    padding: 0 50px 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 0%, #5B4949 100%);
        pointer-events: none;
        opacity: 0.47;
    }

    &._main {
        padding-top: 160px;
        background-color: #4C565C;
        overflow: hidden;

        .banner {
            &-content {
                margin: auto;
            }
        }
        @include desktop {
            padding-top: 100px;
        }
        @include mobile {
            padding-top: 80px;
        }
    }

    &._standard {
        background: map_get($bgColors, default);
        min-height: 0;
        padding-top: 100px;
        padding-bottom: 60px;

        &:before {
            display: none;
        }

        h1 {
            color: #000;
            max-width: 100% !important;
            @include desktop {
                line-height: 58px;
                font-size: 55px;
            }
            @include mobile {
                line-height: 46px;
                font-size: 44px;
                margin-bottom: 20px;
            }
        }

        p {
            color: #000;
            line-height: 28px;
            font-size: 18px;
            @include desktop_hd {
                font-size: 22px;
                line-height: 34px;
            }
        }

        img {
            width: 100%;
        }

        .banner {
            &-content {
                padding-bottom: 0;
                @include desktop {
                    padding: 20px 20px 0;
                }
                @include mobile {
                    padding: 0;
                }
            }
        }

        .label {
            color: #000;
            margin-bottom: 40px;
            @include desktop {
                margin-bottom: 30px;
            }
        }

        @include mobile {
            height: auto;
        }
    }

    &._tehlonogy {
        padding-bottom: 70px;

        .banner {
            &-info {
                &__left {
                    @include media-min(1200px) {
                        padding-top: 35px;
                    }
                }

                &__right {
                    @include media-min(1200px) {
                        padding-left: 38px;
                        position: relative;
                        left: 14px;
                    }
                    @media (min-width: 1200px) and (max-width: 1400px) {
                        padding-left: 21px;
                    }
                }

                &__thumb {
                    margin-top: 0;
                    @include desktop {
                        margin-bottom: -120px;
                    }
                    @include mobile {
                        max-width: 100%;
                    }
                }
            }
        }
        @media (min-width: 1200px) and (max-width: 1400px) {
            padding-right: 15px;
        }
    }

    &._default {
        padding-bottom: 70px;

        .banner {
            &-info {
                &__left {
                    @include media-min(1200px) {
                        padding-top: 35px;
                    }
                }

                &__right {
                    img {
                        width: 100%;
                    }
                    @include media-min(1700px) {
                        padding-right: 32px;
                        padding-left: 35px;

                        img {
                            max-width: none;
                        }
                    }
                    @include media-min(1200px) {
                        padding-left: 38px;
                        padding-right: 0;
                        position: relative;
                        left: 14px;

                        img {
                            max-width: 577px;
                        }
                    }
                    @media (min-width: 1200px) and (max-width: 1400px) {
                        padding-left: 21px;
                    }
                }

                &__thumb {
                    margin-top: 0;

                    img {
                        width: 100%;
                    }
                    @include desktop {
                        margin-top: 30px;
                        margin-bottom: -120px;
                    }
                    @include mobile {
                        max-width: 100%;
                    }
                }
            }
        }
        @media (min-width: 1200px) and (max-width: 1400px) {
            padding-right: 15px;
        }
    }

    &._catalog {
        &.default {
            @media (min-width: 1200px) {
                padding-bottom: 40px;
            }
        }
        .banner {
            &-info {
                padding-left: 0;

                &__left {
                    @include media-min(1200px) {
                        padding-top: 0;
                        margin-bottom: -40px;
                        margin-top: 110px;
                    }
                    @include desktop_hd {
                        margin-top: 240px;
                    }
                }

                &__right {
                    @media (min-width: 1200px) {
                        left: 26px;
                        margin-top: -60px;
                    }
                    @include desktop_hd {
                        left: 37px;

                        img {
                            max-width: 803px;
                            position: relative;
                            top: 100px;
                        }
                    }
                    @include desktop {
                        margin-top: 30px;
                    }
                }

                &__thumb {
                    @include media-min(1200px) {
                        margin-top: -120px;
                    }
                }
            }
            &-content {
                @-moz-document url-prefix() {
                    margin-top: -400px;
                }
            }
        }
        @media (min-width: 1200px) {
            height: 550px;
            padding-bottom: 40px;

            h1 {
                position: relative;
                top: 67px;
                line-height: 1.2;
            }
        }
        @include desktop_hd {
            h1 {
                top: 157px;
            }
        }
    }

    &._brand {
        .label {
            @media (min-width: 1200px) {
                max-width: 585px;
            }
            @include desktop_hd {
                max-width: 715px;
            }
        }
    }

    &._contacts {
        &.banner {
            @media (min-width: 1200px) {
                padding-bottom: 110px;

                &._default .banner-info__left {
                    padding-top: 5px;
                }
            }
        }
    }

    &-info {
        margin-top: 40px;
        padding: 0 25px;
        align-items: flex-start;

        &__left {
            width: 50%;
            padding-right: 15px;
            @include desktop {
                width: 100%;
                padding: 0;
            }
        }

        &__right {
            width: 50%;
            padding-left: 90px;

            p {
                &:first-child {
                    margin-top: 15px;
                }
            }
            @include desktop {
                width: 100%;
                padding: 0;
            }
        }

        &__thumb {
            margin-top: 20px;
            margin-bottom: -180px;
            position: relative;
            z-index: 10;

            &.visible-xs-md {
                display: none;
                @include desktop {
                    display: block;
                }
            }

            &.visible-lg {
                @include desktop {
                    display: none;
                }
            }
            @include desktop_hd {
                max-width: none;
            }
            @include media-min(1200px) {
                max-width: 577px;
            }
            @include desktop {
                margin-top: 40px;
                margin-bottom: -250px;
            }
            @include mobile {
                max-width: calc(100% - 60px);
                margin: 30px auto -120px;
            }
        }
        @include desktop {
            padding: 0;
        }
        @include mobile {
            margin-top: 20px;
        }
    }

    &-thumb {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0.4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        @include mobile {
            background-position: right bottom;
        }
    }

    &-content {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 1330px;
        margin: 0 auto;
        border: 6px solid #FFFFFF;
        box-sizing: border-box;
        padding: 100px 50px 60px;
        @include desktop_hd {
            max-width: 1920px;
            padding-top: 135px;
            padding-bottom: 135px;
        }
        @include desktop {
            padding: 30px 50px 35px;
            border: 3px solid #FFFFFF;
        }
        @include mobile {
            padding: 0;
            border: 0;
        }
    }

    &-line {
        position: absolute;
        background: #fff;

        &__container {
            border: 0 !important;
            position: relative;

            @include desktop {
                border: 0;
            }

            &._home {
                min-height: 445px;
                position: absolute;
                top: 195px;
                left: 50px;
                right: 50px;
                max-width: 1330px;
                z-index: 100;
                margin: 0 auto;
                pointer-events: none;

                @include desktop_hd {
                    top: 240px;
                    max-width: 1920px;
                    min-height: 600px;
                }

                @include desktop {
                    top: 85px;
                    left: 35px;
                    right: 35px;
                    min-height: 260px;
                }

                @include mobile {
                    display: none;
                }
            }
        }

        &__top {
            top: 0;
            left: 0;
            width: 0;
            height: 6px;

            @include desktop {
                height: 3px;
            }

            &.widthIn {
                width: 100%;
            }
        }

        &__right {
            top: 0;
            right: 0;
            height: 0;
            width: 6px;
            @include desktop {
                width: 3px;
            }

            &.heightIn {
                height: 100%;
            }
        }

        &__bottom {
            bottom: 0;
            right: 0;
            width: 0;
            height: 6px;
            background: #fff;

            @include desktop {
                height: 3px;
            }

            &.widthIn {
                width: 100%;
            }
        }

        &__left {
            bottom: 0;
            left: 0;
            height: 0;
            width: 6px;

            @include desktop {
                width: 3px;
            }

            &.heightIn {
                height: 100%;
            }
        }
        @include mobile {
            display: none;
        }
    }

    p {
        margin: 20px 0 0;
        font-weight: normal;
        color: #fff;

        @include desktop_hd {
            font-size: 28px;
        }

        @include desktop {
            margin-top: 15px;
        }

        @include mobile {
            margin-top: 10px;
        }
    }

    h1 {
        margin: 0;
        line-height: 75px;
        color: #fff;

        @include desktop_hd {
            line-height: 87px;
            font-size: 82px;
            margin-bottom: 30px;
        }

        @include media-min(1200px) {
            max-width: 715px;
        }

        @include media-min(768px) {
            max-width: 450px;
        }

        @include desktop {
            font-size: 45px;
            line-height: 50px;
        }

        @include mobile {
            font-size: 32px;
            line-height: 33px;
        }
    }

    @include desktop_hd {
        min-height: 990px;

        h1 {
            max-width: 915px;
        }
    }

    @include desktop {
        min-height: 395px;
        // min-height: 0;
        padding: 0 35px 45px;

        .banner-content {
            margin: 0 !important;
        }
    }

    @include mobile {
        min-height: 420px;
        padding: 20px 20px 0;
        align-items: center;
    }
}