.catalog-card-wrap {
    transform: translate3d(0, 2rem, 0);
    transition: transform 0.5s cubic-bezier(0.110, 1.165, 0.995, 0.975);
}

.catalog-card {
    background: map_get($colors, darkGray);
    font-size: 1.4rem;
    min-height: 89.4rem;
    padding-top: 80px;

    @include new-tablet {
        padding-top: 50px;
    }

    @include new-mobile {
        min-height: auto;
    }

    &__header {
        margin-top: 3rem;

        @include new-tablet {
            margin-top: 1rem;
        }
    }

    &__inner {
        display: flex;
        margin-left: -2.7rem;
        margin-right: -2.7rem;

        @include new-mobile {
            flex-direction: column-reverse;
        }
    }

    &__info {
        flex-basis: 36%;
        margin-left: 2.7rem;
        margin-right: 2.7rem;

        @include new-tablet {
            flex-basis: 56%;
        }
    }

    &__preview {
        flex-grow: 1;
        margin-left: 2.7rem;
        margin-right: 2.7rem;
        margin-top: -6rem;

        @include new-mobile {
            margin-top: 1rem;
        }
    }

    &__notice {
        color: map_get($colors, gray);
        display: block;
        font-size: 1.2rem;
        margin-top: 4rem;
        padding-bottom: 3.4rem;
    }

    &__nav {
        display: none;
        margin-bottom: 4rem;
        margin-left: -1.4rem;
        margin-top: -2rem;
        padding-top: 2.5rem;

        @include new-tablet {
            display: flex;
        }

        @include new-mobile {
            flex-direction: column;
        }

        .img-download-btn,
        .add-to-collection {
            @include new-tablet {
                margin-left: 1.4rem;
                margin-top: 2rem;
            }
        }
    }
}

.stove-preview {
    display: flex;
    margin-left: -1.6%;
    margin-right: -1.6%;
    margin-top: -2rem;
    justify-content: space-between;

    @include new-mobile {
        flex-direction: column;
    }

    &__main-column,
    &__extra-column {
        margin-left: 1.6%;
        margin-right: 1.6%;
        margin-top: 2rem;
    }

    &__main-column {
        flex-shrink: 0;
        width: calc(25% - 3.2%);

        @include new-tablet {
            width: 100%;
        }

        @include new-mobile {
            width: auto;
        }
    }

    &__extra-column {
        flex-shrink: 0;
        width: calc(75% - 3.2%);

        @include new-tablet {
            display: none;
            width: auto;
        }

        @include new-mobile {
            display: block;
        }
    }

    &__main-img,
    &__extra-img {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
        position: relative;
    }

    &__main-img {
        padding-bottom: 245%;

        @include new-tablet {
            padding-bottom: 300%;
        }

        @include new-mobile {
            padding-bottom: 33.33333333333333%;
        }
    }

    &__extra-img {
        padding-bottom: 74.5%;

        @include new-mobile {
            padding-bottom: 100%;
        }
    }

    &__label {
        left: -0.6rem;
        position: absolute;
        top: 0.7rem;

        @include new-mobile {
            left: auto;
            right: -0.6rem;
        }
    }

    .img-download-btn,
    .add-to-collection {
        @include new-tablet {
            display: none;
        }
    }
}

.img-download-btn,
.add-to-collection {
    align-items: center;
    font-size: 1.6rem;
    justify-content: center;
    margin-top: 4rem;
    position: relative;
    transition: background $default-transition-duration, color $default-transition-duration;
    white-space: nowrap;

    @include new-tablet {
        height: 4.2rem;
        line-height: 4.2rem;
        margin-top: 0;
    }

    @include new-mobile {
        width: auto;
    }
}

.img-download-btn {
    background: map_get($colors, default);
    border: 1px solid map_get($colors, default);
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        background: darken(map_get($colors, default), 5%);
        border-color: darken(map_get($colors, default), 5%);
    }

    .icon {
        flex-shrink: 0;
        margin-left: 0.8rem;
        max-height: 1.5rem;
        max-width: 1.5rem;
    }
}

.add-to-collection {
    background: none;
    border: 1px solid map_get($colors, default);
    color: #000;
    align-items: center;
    display: inline-flex;
    font-size: 1.6rem;
    height: 5rem;
    position: relative;

    &:hover,
    &.is-active {
        background: map_get($colors, default);
        color: #fff;

        .icon {
            fill: #fff;
        }

        .add-to-collection__dropdown {
            opacity: 1;
            visibility: visible;
            z-index: 2;
        }
    }

    &.is-done {
        background: #e3e3e3;
        border-color: #e3e3e3;

        &:hover {
            color: currentColor;
        }

        .icon {
            fill: map_get($colors, default);
        }
    }

    .icon {
        fill: map_get($colors, default);
        flex-shrink: 0;
        margin-right: 0.8rem;
        max-height: 2.4rem;
        max-width: 2.6rem;
    }

    &__content {
        align-items: center;
        cursor: pointer;
        display: block;
        line-height: 5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        width: 100%;

        .icon {
            display: inline-block;
            margin-top: -0.3rem;
            vertical-align: middle;
        }
    }

    &__selected-collection {
        color: map_get($colors, default);
        display: inline-block;
        margin-left: 0.3rem;
    }

    &__dropdown {
        background: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
        color: #000;
        font-size: 1.2rem;
        left: 0;
        margin-top: 1px;
        opacity: 0;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-top: 1rem;
        position: absolute;
        right: 0;
        top: 100%;
        transition: $transition;
        visibility: hidden;
        z-index: -1;
    }

    &__title {
        align-items: center;
        display: inline-flex;
        font-size: 1.4rem;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        &:before {
            background: map_get($colors, default) url('../icon-plus.svg') no-repeat 50% / 1.1rem;
            content: '';
            display: inline-flex;
            flex-shrink: 0;
            height: 1.5rem;
            margin-right: 1rem;
            width: 1.5rem;
        }
    }

    &__inner {
        margin-top: 0.8rem;
    }

    &__input-wrap {
        position: relative;

        &.is-valid {
            .add-to-collection__input {
                background: url('../icon-input-valid.svg') no-repeat 100% 50% / 1.4rem 1.1rem;
            }
        }
    }

    &__input {
        border: 0;
        border-bottom: 1px solid #e3e3e3;
        font-size: 1.4rem;
        height: 3.4rem;
        outline: none;
        padding-right: 2rem;
        transition: border-color $default-transition-duration;
        width: 100%;

        &:focus {
            border-color: map_get($colors, default);

            & + .add-to-collection__title {
                display: none;
            }
        }
    }

    &__label {
        color: #c4c4c4;
    }
}

.add-to-collection-list {
    list-style: none;
    margin: 0.5rem 0 0;
    padding: 0;

    &__item {
        cursor: pointer;
        margin: 0 -1.4rem;
        padding: 0.6rem 1.4rem;
        transition: $transition;

        &:hover {
            background: map_get($colors, default);
            color: #fff;
        }
    }
}

.similar-stoves {
    padding-bottom: 9.2rem;
    padding-top: 5.5rem;

    @include new-tablet {
        padding-bottom: 6rem;
        padding-top: 3.5rem;
    }

    @include new-tablet {
        padding-bottom: 5rem;
        padding-top: 3rem;
    }

    &__title {
        font-family: 'Open Sans';
        font-weight: 600;
        text-transform: uppercase;
    }
}

