.site-catalog {
    font-size: 1.6rem;

    &__title {
        font-family: 'MetaPro';
        font-size: 3.2rem;
        text-transform: uppercase;

        @include new-mobile {
            font-size: 2.4rem;
        }
    }

    &__subtitle {
        color: map_get($colors, gray);
        font-family: 'Open Sans';
        font-size: 1.4rem;
    }

    p {
        font-size: 1.6rem;

        @include new-mobile {
            font-size: 1.4rem;
        }
    }
}

.catalog-filter {
    background: url('../catalog-filter.jpg') no-repeat 50% / cover;
    padding-bottom: 14rem;
    padding-top: 110px;
    position: relative;

    @include new-tablet {
        padding-bottom: 0;
    }

    @include new-mobile {
        padding-top: 70px;
    }

    &__inner {
        justify-content: space-between;
        margin-top: 3.5rem;

        @include new-tablet {
            flex-direction: column;
            margin-top: 0;
        }
    }

    &__content-wrap {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.6s;
        visibility: hidden;
        z-index: -1;
        .catalog-filter__content {
            flex-basis: auto;
            max-width: 737px;
        }
        .reset-filter {
            display: none;
        }
        @include new-tablet {
            .catalog-filter__content {
                flex-basis: 100%;
                width: 100%;
                max-width: unset;
                padding-bottom: 0;
            }

        }

        @include new-mobile {
            flex-direction: column;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .form-group {
            margin-top: 2rem;
        }

        &.is-active {
            position: relative;
            visibility: visible;
            opacity: 1;
            z-index: 1;
        }
    }
    //catalog-content
    &__content {
        display: flex;
        align-items: center;
        width: 65%;
        max-width: 737px;
        position: relative;

        @include new-tablet {
            //flex-grow: 1;
            //flex-basis: auto;
            display: block;
            width: 100%;
            max-width: unset;
            padding-bottom: 80px;
            position: relative;
        }

        @include new-mobile {
            flex-direction: column;
            width: 100%;
            padding-bottom: 0;
        }
    }

    &__extra {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        margin-left: 1.6rem;
    }

    &__panel {
        align-items: center;
        background: rgba(255, 255, 255, 0.65);
        bottom: 0;
        display: flex;
        height: 1px;
        left: 0;
        min-height: 10rem;
        position: absolute;
        right: 0;
        z-index: 2;

        @include new-tablet {
            height: auto;
            margin-top: 4rem;
            position: relative;
        }

        @include new-mobile {
            margin-top: 2rem;
        }

        .catalog-container {
            height: 100%;
            width: 100%;
        }
    }

    &__reset {
        @include new-mobile {
            display: flex;
            justify-content: center;
        }
    }
}

.catalog-filter-btn {
    align-self: flex-start;
    font-size: 1.8rem;
    outline: none;
    min-width: 25.3rem;

    @include new-tablet {
        margin-left: auto;
        //margin-top: 3rem;
        margin-top: -4rem;
    }

    @include new-mobile {
        width: 100%;
        margin-top: 2.5rem;
    }

    &__content {
        opacity: 0;
        position: absolute;
        transition: opacity 0.6s;
        visibility: hidden;
        z-index: -1;

        &_collections {
            opacity: 1;
            position: static;
            visibility: visible;
            z-index: 1;
        }
    }

    &.is-filter {
        .catalog-filter-btn__content_filter {
            opacity: 1;
            position: static;
            visibility: visible;
            z-index: 1;
        }

        .catalog-filter-btn__content_collections {
            opacity: 0;
            position: absolute;
            visibility: hidden;
            z-index: -1;
        }
    }
}

.reset-filter {
    align-items: center;
    color: #9c9c9c;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.2rem;
    user-select: none;
    white-space: nowrap;
    &--orange {
        position: absolute;
        left: 99%;
        top: 1.5rem;
        align-items: center;
        width: 14rem;
        display: none;
        color: #EF7B0F;
        font-size: 1.4rem;
        line-height: 28px;
        font-weight: 400;
        font-family: 'MetaPro';
        margin-left: 4.1rem;
        &.active {
            display: inline-flex;
        }
        @include new-tablet {
            margin-left: 0;
            margin-top: 5.1rem;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @include new-mobile {
            margin-top: 3rem;
            position: static;
        }
        svg {
            margin-right: .4rem;
        }
    }

    &__icon {
        margin-left: 1.1rem;
    }

    @include new-mobile {
        margin-top: 2rem;
    }
}

.collections-slider-wrap {
    opacity: 0;
    position: absolute;
    transition: opacity 0.6s;
    visibility: hidden;
    z-index: -1;

    &__nav {
        background: none;
        border: 0;
        display: none;
        height: 2.1rem;
        outline: none;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 3.1rem;

        @include new-tablet {
            display: none;
        }

        &_prev {
            right: 100%;
        }

        &_next {
            left: 100%;
        }

        &.is-active {
            display: block;
        }
    }

    &.is-active {
        position: relative;
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
}

.collections-slider {
    list-style: none;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    white-space: nowrap;

    @include new-tablet {
        margin-left: -1rem;
        margin-right: -1rem;
        white-space: normal;
    }

    @include new-mobile {
        font-size: 1.4rem;
        text-transform: none;
    }

    .jspHorizontalBar,
    .ps__rail-x {
        display: none;
    }

    .slick-disabled {
        display: none !important;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 2rem;

        @include new-tablet {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    &__btn {
        align-items: center;
        display: inline-flex !important;
        bottom: 0;
        position: absolute;
        top: 0;
        width: 6rem;

        .icon {
            cursor: pointer;
            user-select: none;
        }

        &_prev {
            right: 100%;

            .icon {
                margin-left: 0.8rem;
                margin-right: auto;
            }
        }

        &_next {
            left: 100%;

            .icon {
                margin-left: auto;
                margin-right: 0.8rem;
            }
        }
    }

    &__link {
        color: #000;
        display: block;
        outline: none;
        padding: 3.8rem 0;

        @include new-tablet {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }

        &:hover {
            color: map_get($colors, default);
        }
    }
}

.collections-list {
    height: auto;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: hidden;
    z-index: -1;

    &.is-active {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    &.show-all {
        .collections-list__item {
            &:nth-child(n+5) {
                opacity: 1;
                position: relative;
                visibility: visible;
                z-index: 1;
            }
        }

        .collections-list__btn {
            display: none;
        }
    }

    &__inner {
        list-style: none;
        margin-bottom: 5.3rem;
        margin-top: 7rem;
        padding: 0;
        position: relative;

        @include new-tablet {
            margin-top: 0;
        }
    }

    &__item {
        background-position: right 0 top 50%;
        background-repeat: no-repeat;
        background-size: 75% 100%;
        margin-top: 4rem;
        padding-bottom: 25%;
        position: relative;
        transition: opacity 0.3s;
        text-align: left;

        @include new-desktop-md {
            background-size: cover;
            padding-bottom: 33.33333333333333%;
        }

        @include new-tablet {
            margin-left: -30px;
            margin-right: -30px;
            margin-top: 0;
        }

        @include new-mobile {
            margin-left: 0;
            margin-right: 0;
            margin-top: 2rem;
            min-height: 12rem;
        }

        &:first-child {
            margin-top: 0;

            @include new-mobile {
                margin-top: 2rem;
            }
        }

        &:nth-child(n+5) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }

        &_dark {
            .collections-list__title,
            .collections-list__description {
                @include new-desktop-md {
                    color: #fff;
                }
            }
        }
    }

    &__info {
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2.6rem;
        padding-right: 1.6rem;
        position: absolute;
        top: 0;
        width: 25%;

        @include new-desktop-md {
            padding-left: 2.2rem;
            padding-top: 2.2rem;
            width: 33.33333333333333%;
        }

        @include new-tablet {
            padding-left: 30px;
            padding-right: 30px;
            width: auto;
        }

        @include new-mobile {
            padding-left: 15px;
            padding-top: 1.6rem;
            padding-right: 15px;
        }
    }

    &__content {
        background: #fff;
        bottom: 0;
        display: flex;
        flex-direction: row-reverse;
        left: 25%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(100%);

        @include new-desktop-md {
            left: 33.33333333333333%;
        }

        @include new-tablet {
            display: none;
        }
    }

    &__title {
        font-family: 'MetaPro';
        position: relative;
        text-transform: uppercase;
    }

    &__label {
        margin-left: 1.4rem;
    }

    &__description {
        color: map_get($colors, gray);
        line-height: 1.375;
        max-width: 80%;
        position: relative;
        padding-top: 1.4rem;

        @include new-tablet {
            max-width: 60%;
        }

        @include new-tablet {
            max-width: none;
        }

        @include new-mobile {
            display: none;
        }

        &:before {
            background: map_get($colors, default);
            content: '';
            height: 3px;
            position: absolute;
            top: 0;
            width: 4.5rem;
        }
    }

    &__btn {
        font-size: 1.8rem;
    }

    &__btn-notice {
        font-family: 'Open Sans';
        font-size: 1.4rem;
    }

    &__mobile-link {
        bottom: 0;
        display: none;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;

        @include new-mobile {
            display: block;
        }
    }
}

.stove-list {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
    margin-left: -2.4rem;
    padding: 0;
    position: relative;
    width: 100%;

    &__column {
        height: 100%;
        margin-left: 2.4rem;
    }

    &__item {
        color: inherit;
        display: block;
        height: 33%;
        margin-top: 13%;
        max-width: 430px;
        opacity: 0;
        position: relative;
        transform: translate3d(0, 3rem, 0);
        transition: transform 0.6s cubic-bezier(0.110, 1.165, 0.995, 0.975);

        &.is-active {
            transform: translate3d(0, 0, 0);
        }

        @include new-desktop-md {
            height: 29%;
        }

        &:hover {
            color: map_get($colors, default);
        }
    }

    &__img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%
    }

    &__name {
        color: inherit;
        position: absolute;
        right: 0;
        top: calc(100% + 0.4rem);

        &:hover {
            color: map_get($colors, default);
        }
    }
}