.catalog-collection-detail {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    position: relative;
    z-index: 2;

    @include new-tablet {
        padding-top: 50px;
    }

    @include new-mobile {
        padding-top: 40px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-left: -1.7rem;
        margin-right: -1.7rem;
        padding-bottom: 2.1rem;
        transform: translate3d(0, 2rem, 0);
        transition: transform 0.5s cubic-bezier(0.110, 1.165, 0.995, 0.975);

        @include new-tablet {
            margin-top: 3rem;
        }

        @include new-mobile {
            flex-direction: column;
            margin-top: 1rem;
            transform: translate3d(0, 0, 0);
        }
    }

    &__info {
        flex-basis: 60rem;
        flex-shrink: 0;
        margin-left: 1.7rem;
        margin-right: 1.7rem;
        padding-bottom: 1.6rem;

        @include new-tablet {
            flex-basis: 45%;
        }

        @include new-mobile {
            flex-basis: auto;
        }
    }

    &__form {
        display: flex;

        @include new-tablet {
            flex-direction: column;
            width: 75%;
        }

        @include new-mobile {
            width: auto;
        }

        .form-group {
            @include new-tablet {
                width: auto;
            }
        }
    }

    &__label {
        margin-left: 1rem;
        margin-top: -1rem;
    }

    &__description {
        color: map_get($colors, gray);
        font-size: 1.4rem;
        line-height: 1.357142857142857;
        margin-top: 1.6rem;
        max-width: 43.8rem;
    }

    &__data {
        margin-bottom: 1.5rem;
        margin-left: -2rem;

        @include new-tablet {
            align-items: center;
            display: flex;
        }

        @include new-mobile {
            justify-content: space-between;
        }
    }

    &__size {
        display: block;
        margin-left: 2rem;
        margin-top: 1.7rem;
    }

    &__size-value {
        color: #000;
        display: inline;
        vertical-align: center;
    }

    &__download {
        font-size: 1.6rem;
        margin-left: 2rem;
        margin-top: 1.7rem;

        a {
            text-decoration: underline;
        }
    }

    &__characters {
        flex-basis: 43.2rem;
        margin-left: 1.7rem;
        margin-right: 1.7rem;

        @include new-tablet {
            margin-top: 0.7rem;
        }

        @include new-mobile {
            flex-basis: auto;   
        }
    }

    .reset-filter {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 3rem;
    }
}

.catalog-collection-detail_dark {
    color: #fff;

    h1,
    .catalog-collection-detail__description,
    .catalog-collection-detail__size-value,
    .form-placeholder,
    .selectize-control._active + .form-placeholder,
    .item {
        color: #fff;
    }

    .selectize-input {
        border-bottom: 1px solid #fff;
    }

    .breadcrumbs__link {
        color: #fff;
    }

    .breadcrumbs__current {
        color: map_get($colors, darkGray);;
    }

    .reset-filter {
        color: #fff;
    }
}

.catalog-collection-content {
    padding-top: 2rem;

    @include new-mobile {
        padding-top: 0;
    }
}

.stove-combinations-wrap {
    margin-bottom: 6.5rem;
    margin-top: 7rem;
    text-align: center;

    @include new-tablet {
        margin-top: 3rem;
    }

    @include new-mobile {
        margin-bottom: 3rem;
    } 

    &__inner {        
        display: none;
        overflow: hidden;
        position: relative;
        will-change: opacity;
    }

    &.is-full {
        .stove-combinations-wrap__toggle-btn:before {
            content: 'Свернуть';
        }
    }

    &__toggle-btn {
        border-bottom: 1px dashed map_get($colors, default);
        color: map_get($colors, default);
        cursor: pointer;
        display: inline-block;
        user-select: none;

        @include new-tablet {
            font-size: 1.4rem;
        }

        &:before {
            content: 'Развернуть варианты комбинаций плит';
        }
    }
}

.stove-combinations-list {
    border-top: 1px solid #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 5rem;
    margin-left: -3rem;
    padding: 5rem 0 0;
    text-align: left;

    @include new-tablet {
        padding-top: 0;
    }

    &__item {
        flex-basis: calc(50% - 3rem);
        height: 0;
        margin-left: 3rem;
        margin-top: 4rem;
        overflow: hidden;
        padding-bottom: 16.66666666666667%;
        position: relative;

        @include new-mobile {
            flex-basis: 100%;
            margin-top: 2.1rem;
            padding-bottom: 33.33333333333333%;
        }
    }

    &__img {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}