.catalog-container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 45px;
    max-width: 1924px;
    position: relative;

    @include new-tablet {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include new-mobile {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.breadcrumbs {
    font-size: 1.4rem;
    list-style: none;
    padding: 0;

    &__item {
        display: inline-block;
        vertical-align: top;

        &:not(:last-child):after {
            content: '/';
            display: inline-block;
        }
    }

    &__link {
        color: #000;
        text-decoration: underline;
    }

    &__current {
        color: map_get($colors, gray);
    }
}

.title-with-line {
    padding-bottom: 1.6rem;
    position: relative;

    &:after {
        background: map_get($colors, default);
        bottom: 0;
        content: '';
        height: 3px;
        left: 0;
        position: absolute;
        width: 4.5rem;
    }
}

.collection-label {
    background: map_get($colors, default);
    color: #fff;
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 1.4rem;
    font-weight: 400;
    height: 2rem;
    line-height: 2rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    text-transform: uppercase;
    vertical-align: middle;
}

.materials-list-wrap {
    margin-bottom: 3rem;
}

.materials-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: -2.9rem 0 0 -2.9rem;
    opacity: 0;
    padding: 2.9rem 0 2.9rem;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    visibility: visibility;
    z-index: -1;

    @include new-mobile {
        margin-top: -1.6rem;
        padding-top: 1.6rem;
    }

    &.is-active {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    &__item {
        background-size: cover;
        backgrouns-position: 50%;
        backgrouns-repeat: no-repeat;
        margin-left: 2.9rem;
        margin-top: 2.9rem;
        opacity: 1;
        padding-bottom: 11.11111111111111%;
        position: relative;
        transition: opacity 0.3s;
        visibility: visible;
        width: calc(33.33333333333333% - 2.9rem);
        z-index: 1;

        &.is-hidden {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -1;
        }

        &_dark {
            color: #fff;
        }

        &_fourth {
            padding-bottom: 9%;
            width: calc(25% - 2.9rem);
        }

        @include new-tablet {
            padding-bottom: 18%;
            width: calc(50% - 2.9rem);
        }

        @include new-mobile {
            margin-top: 1.6rem;
            padding-bottom: 33.33333333333333%;
            width: 100%;
        }
    }

    &__link {
        bottom: 0;
        color: inherit;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
            color: map_get($colors, default);

            .materials-list__name {
                color: map_get($colors, default);

                .icon {
                    left: 0;
                    opacity: 1;
                }
            }
        }
    }

    &__label {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
        font-size: 1.4rem;
        left: -0.9rem;
        position: absolute;
        top: 1rem;
    }

    &__name {
        align-items: center;
        color: inherit;
        display: inline-flex;
        text-transform: uppercase;

        .icon {
            left: -1rem;
            opacity: 0;
            position: relative;
            transition: all 0.2s;
        }
    }

    &__footer {
        bottom: 2rem;
        display: flex;
        justify-content: space-between;
        left: 0;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        position: absolute;
        right: 0;

        @include new-tablet {
            bottom: 0.8rem;
        }
    }
}

.materials-not-found {
    margin-top: 5rem;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    visibility: hidden;
    will-change: opacity;
    z-index: -1;

    @include new-mobile {
        margin-top: 2.5rem;
    }
}

.materials-list.is-empty + .materials-not-found {
    opacity: 1;
    position: relative;
    text-align: center;
    visibility: visible;
    z-index: 1;
}

.main-characters-table {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    &__cell {
        padding: 0.5rem 1.4rem;

        @include new-tablet {
            padding-bottom: 0.2rem;
            padding-top: 0.2rem;
        }

        &:first-child {
            padding-left: 0;
        }
    }

    &__key {
        color: map_get($colors, gray);
    }
}

.characters-table-wrap {
    font-size: 1.4rem;
    text-align: center;

    &.is-full {
        .characters-table-wrap__toggle-btn:before {
            content: 'Свернуть';
        }
    }

    &__inner {
        height: 30rem;
        overflow: hidden;
        text-align: left;
        will-change: height;
    }

    &__toggle-btn {
        border-bottom: 1px dashed map_get($colors, default);
        color: map_get($colors, default);
        cursor: pointer;
        display: none;
        margin-top: 2rem;
        user-select: none;

        &.is-active {
            display: inline-block;
        }

        @include new-tablet {
            margin-top: 1rem;
        }

        &:before {
            content: 'Развернуть';
        }
    }
}

.characters-table {
    border-collapse: collapse;
    margin-top: 3.4rem;
    table-layout: fixed;
    width: 100%;

    &:first-of-type {
        margin-top: 0;
    }

    &__title {
        background: #fff;
        color: #000;
        font-family: 'MetaPro';
        font-weight: 700;
        padding: 0.4rem 0.7rem;
        text-align: left;

        @include new-tablet {
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
        }
    }

    &__cell {
        border-bottom: 1px solid #d1d1d1;
        padding: 0.4rem 0.7rem;
        vertical-align: middle;

        @include new-tablet {
            padding-bottom: 0.3rem;
            padding-top: 0.3rem;
        }

        &_without-border {
            border-bottom: 0;
        }

        &_right {
            text-align: right;
        }
    }

    &__row {
        &:last-child {
            .characters-table__cell {
                border-bottom: 0;
            }
        }
    }
}


.catalog-card-wrap {
    .characters-table-wrap__inner {
    height: auto;
    margin-bottom: 4rem;
    
    
    }
} 
