.personal-design {
    background: url('../personal-design.jpg') no-repeat 50%;
    display: flex;
    min-height: 46.1rem;
    flex-direction: column-reverse;
    padding-bottom: 4.6rem;

    @include new-tablet {
        min-height: 27rem;
        padding-bottom: 2rem;
    }

    &__inner {}

    &__description {
        line-height: 1.357142857142857;
        margin-top: 1.5rem;
        max-width: 20%;

        @include new-tablet {
            max-width: 50%;
        }

        @include new-mobile {
            max-width: none;
        }
    }
}

.personal-design-constructor {
    margin-top: 5rem;

    &__row {
        margin-top: 1.1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    &__info {
        @include new-tablet {
            overflow: hidden;
        }

        @include new-mobile {
            overflow: visible;
        }
    }

    &__choice {
        font-size: 1.8rem;
        margin-bottom: 2.3rem;
    }

    &__preview {
        align-items: center;
        background: url('../personal-design-preview.jpg') no-repeat 50% / cover;
        // display: flex;
        float: right;

        position: relative;

    
        // height: 98rem;
        height: 0;

        justify-content: center;    
        margin-left: 3rem;
        margin-top: -8rem;
        // padding: 2rem;
        width: 66%;

        padding-bottom: 53%;

        img {
            max-height: 90%;
            left: 50%;
            max-width: 90%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @include new-tablet {
            margin-left: 1.6rem;
            padding-bottom: 46%;
            width: 49%;
        }

        @include new-mobile {
            float: none;
            margin-left: -16px;
            margin-right: -16px;
            margin-top: 0;
            padding-bottom: 90%;
            width: auto;
        }
    }

    &__requirements {
        background: #f8f8f8;
        padding: 1.3rem 1.6rem 2.3rem;
        width: 31.8405243036592%;

        @include new-tablet {
            width: 48%;
        }

        @include new-mobile {
            font-size: 1.5rem;
            margin-top: 2rem;
            padding-left: 1.1rem;
            padding-right: 1.1rem;
            width: auto;
        } 
    }

    &__requirements-title {
        display: block;
        margin-bottom: 1.2rem;
    }

    &__load-file {
        align-items: center;
        background: transparent;
        border: 1px solid map_get($colors, default);
        color: map_get($colors, default);
        display: flex;
        font-family: 'MetaPro';
        font-weight: 500;
        height: 4.6rem;
        justify-content: center;
        margin-top: 1.5rem;
        text-align: center;
        width: 100%;
    }

    &__form {
        background: #f8f8f8;
        border-top: 1px solid transparent;
        margin-top: 3rem;
        overflow: hidden;
        padding-bottom: 4.7rem;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        padding-top: 1rem;
        width: 31.8405243036592%;

        @include new-tablet {
            clear: both;
            width: auto;
        }

        @include new-mobile {
            padding-left: 1.1rem;
            padding-right: 1.1rem;
        }

        .form-control {
            border-bottom: 1px solid #333;
        }
    }

    &__form-inner {
        flex-wrap: wrap;
    }

    &__comment {
        background: transparent;
        font-size: 1.5rem;
        min-height: 12.2rem;
        outline: none;
        padding: 1.1rem;
        transition: $transition;
        width: 100%;

        &:focus {
            border-color: map_get($colors, default);
        }
    }

    &__btn {
        font-size: 1.6rem;
        margin-top: 2.7rem;
        width: 100%;

        @include new-tablet {
            width: auto;
        }

        @include new-mobile {
            width: 100%;
        }
    }
}

.requirements-table {
    width: 100%;

    &__row:last-child {
        .requirements-table__cell {
            border-bottom: 0;
        }
    }

    &__cell {
        border-bottom: 1px solid #e3e3e3;
        padding: 0.7rem 0.5rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &__key {
        color: #939393;
    }
}

.mfp-with-fade {
  // before-open state
  .mfp-content,
  &.mfp-bg {
    opacity: 0;
    transition: opacity .5s ease-out;
  }
  // open state
  &.mfp-ready {
    .mfp-content {
     opacity: 1; 
    }
    &.mfp-bg {
      opacity: 0.8; // background opacity
    }
  }
  
  // closed state
  &.mfp-removing {
    &.mfp-bg {
      opacity: 0;
    }
  }
}
