.WYSIWYG {

    p {
        display: inline-block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.6rem;

        &:not(:last-child) {
            margin-bottom: 3rem;

            @include new-mobile {
                margin-bottom: 2rem;
            }
        }

        @include new-tablet {
            font-size: 1.4rem;
        }


        @include new-mobile {
            font-size: 1.2rem;
        }
    }

    blockquote {
        font-size: 2.2rem;
        font-style: italic;
        font-weight: 600;
        line-height: normal;

        border-left: 5px solid #EF7B0F;
        margin: 3rem 0;
        padding: 0 3rem;
        display: block;
        clear: both;

        @include new-tablet {
            font-size: 1.4rem;
            padding: 0 1rem;
        }
    }


    ul {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.4rem;
        color: #575757;
        list-style: none;
        clear: both;
        padding-left: 0;

    }


    li {

        padding-left: 1rem;
        position: relative;
        margin-bottom: 0.4rem;

        &:before {
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            background: #EF7B0F;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

    }


}







/*-------------------PROJECTS MAIN-------------------*/

.catalog-common {
    background: url('../catalogue/header.jpg') no-repeat 50% / cover;
    padding-top: 50rem;
    position: relative;

    padding-top: 35.5rem;

    @include new-mobile {
        padding-top: 16.4rem;
    }

    &:before {
        content: "";
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.72) 0%, rgba(169, 169, 169, 0) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60%;
    }
}

.catalog-common__links {
    position: absolute;
    padding: 3.6rem 4.5rem;
    bottom: 0;
    left: 0;
    z-index: 2;

    @include new-tablet {
        padding: 2.5rem 3rem;
    }

    @include new-mobile {
        padding: 1.6rem;
    }

}

.catalog-common__link {
    text-transform: uppercase;
    color: #E3E3E3;
    margin-right: 3.6rem;
    font-family: 'MetaPro';
    line-height: 1;
    font-size: 3.2rem;
    border-bottom: 2px solid;
    display: inline-block;

    &.current {
        color: #fff;
        border-color: transparent;
    }

    &:hover {
        border-color: transparent;
    }

    @include new-tablet {
        font-size: 2.4rem;
        margin-right: 1.5rem;
    }
}



.catalog-container_common {
    padding: 0 4.5rem;

    @include new-tablet {
        padding: 0 3rem;

    }

    @include new-mobile {
        padding: 0 1.6rem;

    }


}

/*catalog grid*/

.catalog-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.03rem;
    padding: 4rem 0;

    @include new-desktop-md {
        padding: 4.5rem 0 3.5rem;
        margin: 0 -1.5rem;
    }

    @include new-tablet {
        margin: 0 -1.5rem;
        padding-top: 1.5rem;

    }

    @include new-mobile {
        padding-top: .1rem;

    }
}

.catalog-grid__item {
    position: relative;
    margin: 2.02rem;
    margin-bottom: 15rem - 2.03rem;
    width: calc(100%/4 - 4.06rem);



    @include new-desktop-md {
        margin: 1.4rem;
        margin-bottom: 13.4rem;
        width: calc(100%/4 - 3rem);
    }

    @include new-tablet {
        margin: 1.4rem;
        margin-bottom: 8.8rem - 1.5rem;
        width: calc(100%/2 - 3rem);

    }

    @include new-mobile {
        width: 100%;

        .catalog-grid__button {
            background: #575757;
            width: 100%;
            padding-right: 18%;

            * {
                color: #fff;
            }

            &:after {
                width: 18%;
                opacity: 1;
                color: #fff;
            }
        }

    }

    @media (min-width: 768px) {


        &:hover .catalog-grid__button {
            background: #575757;
            width: 100%;
            padding-right: 18%;

            * {
                color: #fff;
            }

            &:after {
                width: 18%;
                opacity: 1;
                color: #fff;
            }
        }
    }



}

.catalog-grid__image {
    height: 0;
    background-position: center;
    max-width: 100%;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



.catalog-grid__button {
    min-height: 12.8rem;
    padding: 1rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    background: #F7F7F7;
    width: 82%;
    position: absolute;
    bottom: -6rem;
    cursor: pointer;
    padding: 2rem;
    transition: all .3s;


    @include new-desktop-md {
        min-height: 10rem;
        bottom: -5rem;
    }

    @include new-desktop-sm {
        min-height: 9.5rem;
        bottom: -5rem;

    }


    @include new-mobile {
        min-height: 8rem;
        padding: 1.4rem;
    }


    &:after {
        content: "";
        background: #EF7B0F;
        background-image: url(/assets/catalogue/arrow.svg);
        background-repeat: no-repeat;
        background-position: 50% 88%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        opacity: 0;
    }


}

.catalog-grid__title {
    font-size: 2.4rem;
    color: #000;
    font-weight: 600;
    font-family: 'MetaPro';
    line-height: normal;


    @include new-desktop-md {
        font-size: 2rem;

    }

    @include new-tablet {
        font-size: 1.6rem;

    }
}

.catalog-grid__meta {
    font-family: Open Sans;
    line-height: normal;
    font-size: 1.4rem;
    color: #575757;
    margin-top: auto;

    /*@include desktop_hd {}

    @include tablet {
        font-size: 1.6rem;

    }*/
}

.catalog-grid__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.catalog-common__button {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5rem;


    .button-default {
        position: relative;
        border: 3px solid #EF7B0F;
        text-align: center;
        line-height: 1;
        font-size: 2rem;
        padding: 1.8rem 9rem 1.8rem;


        @include new-desktop-md {
            padding: 1.2rem 5.5rem 1.1rem;
            font-size: 1.8rem;

        }

        @include new-mobile {
            width: 100%
        }
    }


}


/*-------------------PROJECTS MAIN end-------------------*/








/* ----------PROJECTS DETAIL-------------------*/
.catalog-common_detail {

    padding-top: 120px;
    filter: grayscale(1);

    &:after {
        content: "";
        background: rgba(247, 247, 247, 0.82);
        mix-blend-mode: normal;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }


    @include new-tablet {
        padding-top: 70px;
    }


    @include new-mobile {
        padding-top: 80px;
        background-color: #F7F7F7;
        background-image: unset !important;
    }




}

/*header*/


.project-breadcrumbs {
    position: absolute;
    left: 4.5rem;
    z-index: 3;
    top: 80px;


    @include new-tablet {
        top: 40px;
        left: 3rem;
        font-size: 1.4rem;
    }


    @include new-mobile {
        top: 35px;
        left: 1.6rem;
    }


}

.project-breadcrumbs__link {
    color: #000;
    text-decoration: underline;

    &.current {
        pointer-events: none;
        opacity: .5;
        text-decoration: none;

    }
}



.project-info {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 4.5rem;
    display: flex;
    z-index: 1;
    justify-content: space-between;
    align-items: flex-end;

    @include new-tablet {
        flex-direction: column;
        padding: 3rem;
    }

    @include new-mobile {
        padding: 1.4rem;
        position: relative;
        padding-top: 0;
    }


}


.project-info__project-name {

    @include new-tablet {
        align-self: flex-start;
        margin-bottom: 3.5rem;
        position: relative;

        &:after {
            content: "";
            width: 4.5rem;
            height: 3px;
            background: #EF7B0F;
            position: absolute;
            bottom: -1.9rem;
        }
    }

    @include new-mobile {}
}

.project-info__title {
    font-size: 3.2rem;
    line-height: 1.3;
    font-family: MetaPro;
    text-transform: uppercase;


    @include new-tablet {
        font-size: 2.4rem;
    }
}

.project-info__meta {
    color: #575757;

    @include new-tablet {
        font-size: 1.4rem;
    }
}

.project-info__details {
    display: flex;
    flex-direction: column-reverse;

    @include new-tablet {
        align-self: flex-start;
    }

    @include new-mobile {
        width: 100%;
    }

}


.project-info__members {
    display: flex;

    @include new-tablet {
        flex-direction: column;
    }

    @include new-mobile {
        margin-bottom: 1.6rem;
    }
}


.project-info__members-item {
    &:not(:last-child) {
        margin-right: 1.8rem;
        padding-right: 1.8rem;
        border-right: 1px solid #9C9C9C;


        @include new-tablet {
            margin-right: unset;
            padding-right: unset;
            border-right: none;
            margin-bottom: 0.5rem;
        }
    }

    @include new-tablet {
        display: flex;
        align-items: flex-end;
    }

    @include new-mobile {
        margin-left: -.8rem;
        width: calc(100% + .8rem);
        flex-wrap: wrap;
    }


}

.project-info__role {
    color: #575757;
    font-size: 1.4rem;
    margin-right: 1.4rem;

    @include new-tablet {
        font-size: 1.2rem;
        margin-right: 0.7rem;
    }

    @include new-mobile {
        margin-right: 0;
        margin-left: .8rem;
    }
}


.project-info__link {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.8rem;
    text-decoration: underline;
    text-transform: uppercase;
    color: #000;

    &:not(:last-child) {
        margin-right: 1.8rem;

        @include new-mobile {
            margin-right: 0;
        }

    }


    @include new-tablet {
        font-size: 1.4rem;
    }


    @include new-mobile {
        white-space: nowrap;
        margin-left: .8rem;
    }

}


.project-info__list {
    text-align: right;
    margin-bottom: 2rem;
    font-size: 1.4rem;

    @include new-tablet {
        position: absolute;
        right: 3rem;
        font-size: 1.2rem;
    }


    @include new-mobile {
        position: static;
        text-align: left;
        margin-bottom: 1.6rem;
    }


}

/*header*/

/*content*/
.project-content {
    padding: 5rem 4.5rem 6rem;

    @include new-tablet {
        padding: 3rem;
    }

    @include new-mobile {
        padding: 0;
        padding-top: 0;
    }
}

.project-content__row {
    display: flex;
    max-width: calc(100% - 5rem);

    @include new-tablet {
        max-width: calc(100% - 3rem);
    }

    @include new-mobile {
        flex-direction: column-reverse;
        max-width: 100%;
    }
}

.project-content__col {
    min-width: 50%;

    @include new-mobile {
        padding: 0 1.6rem;
        background: #F7F7F7;
    }

    &:first-child {
        margin-right: 5rem;

        @include new-tablet {
            margin-right: 3rem;
        }

        @include new-mobile {
            background: #fff;
            padding-top: 2.6rem;
            padding-bottom: 2.6rem;
            margin-right: unset;
        }

    }
}

.project-content__text {

    p {
        display: inline-block;
        line-height: 1;
        float: left;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.6rem;

        @include new-tablet {
            font-size: 1.4rem;
        }

        @include new-mobile {
            font-size: 1.2rem;
        }


        &:first-child:first-letter {
            display: inline-block;
            font-weight: 700;
            font-size: 4rem;
            line-height: 1.1;
            float: left;
            font-family: 'MetaPro';
            letter-spacing: 5px;

            @include new-tablet {
                font-size: 3.5rem;
                letter-spacing: 4px;
            }

            @include new-mobile {
                font-size: 3.1rem;
                letter-spacing: 4px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 3rem;

            @include new-mobile {
                margin-bottom: 2rem;
            }
        }
    }

    blockquote {
        font-size: 2.2rem;
        font-style: italic;
        font-weight: 600;
        line-height: normal;

        border-left: 3px solid #EF7B0F;
        margin: 3rem 0;
        padding: 0 3rem;
        display: block;
        clear: both;

        @include new-tablet {
            font-size: 1.4rem;
            padding: 0 1rem;
        }
    }
}




/*content end*/







/* --------------Slider start-----------------*/

/*slick standart change start*/
.project-content__slider {

    .slick-slider {
        position: relative;

        display: block;
        box-sizing: border-box;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;

        display: block;
        overflow: hidden;

        margin: 0;
        padding: 0;
    }

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;

        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .slick-track:before,
    .slick-track:after {
        display: table;

        content: '';
    }

    .slick-track:after {
        clear: both;
    }

    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;

        height: 100%;
        min-height: 1px;
    }

    [dir='rtl'] .slick-slide {
        float: right;
    }

    .slick-slide img {
        display: block;
    }

    .slick-slide.slick-loading img {
        display: none;
    }

    .slick-slide.dragging img {
        pointer-events: none;
    }

    .slick-initialized .slick-slide {
        display: block;
    }

    .slick-loading .slick-slide {
        visibility: hidden;
    }

    .slick-vertical .slick-slide {
        display: block;

        height: auto;

        border: 1px solid transparent;
    }

    .slick-arrow.slick-hidden {
        display: none;
    }


    /* Arrows */
    .slick-arrow {
        background-color: transparent;
        background-image: url(/assets/catalogue/slider-arrow.svg);
        background-repeat: no-repeat;
        background-size: 38%;
        background-position: center;
        z-index: 1;
        font-size: 0;
        line-height: 0;

        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
        width: 10%;

        max-width: 9rem;

        height: 100%;

        padding: 0;
        /*transform: translate(0, -50%);*/

        cursor: pointer;

        color: transparent;
        border: none;
        outline: none;

        @include new-tablet {
            width: 18%;
        }

        @include new-mobile {
            background-size: 25%;
        }
    }


    .slick-prev {
        left: 0;
        background-repeat: no-repeat;


    }


    .slick-next {
        right: 0;
        transform: scaleX(-1);
    }

}

/*slick standart change end*/


/*variables for slider and popup*/

$slider-width: 88.2rem;
$slider-height: 16%;

/*$popup-slider-width: 120.1rem;*/
$popup-slider-width: 95%;
$popup-slider-height: 10%;


/*variables for slider and popup end*/


.project-content__slider {
    /*max-width: $slider-width;*/

    &.mfp-hide {
        display: block !important;
    }
}


.project-slider {
    /*opacity: 0;*/
    transition: opacity .3s;

    &.sliderVisible {
        opacity: 1;
    }
}


.project-slider:not(.slick-slider) .project-slider__slide:not(:first-child) {
    display: none;
}

.project-slider:not(.slick-slider) .project-slider__slide:first-child {
    padding-bottom: 80%;
}


.project-slider__slide {
    width: 100%;
    /*padding-bottom: $slider-height;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    /*height: 0;*/
    position: relative;
    height: auto;

    &.slick-slide {
        height: auto;
    }

    &::before {
        content: "";
        width: 100%;
        padding-bottom: 80%;
        display: block;
        position: relative;

    }


}

.project-slider__image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    &:before {
        content: "Показать фотографию";
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        right: 0;
        color: #fff;
        font-size: 2rem;
        display: flex;
        align-items: center;
        bottom: 0;
        justify-content: center;
        transition: opacity .3s;
        opacity: 0;

        @include new-tablet {
            display: none;
        }
    }


    &:hover:before {
        opacity: 1;
    }


}

.popup-stoves {
    display: none;
}



/*------Popup------------*/

.mfp-wrap {
    overflow: hidden auto;
}


.mfp-content {
    padding: 6rem;

    @include new-tablet {
        padding: 0;
    }


    .project-slider__image {
        cursor: default;

        &:before {
            display: none;
        }
    }

    .project-content__slider {
        max-width: $popup-slider-width;
        margin: auto;


    }

    .project-slider__slide {
        width: 100%;
        /*padding-bottom: $popup-slider-height;*/

        &::before {
            padding-bottom: 60%;
        }
    }

    .popup-stoves {
        display: block;
        max-width: 100%;
    }



    .popup-stoves__title {
        background: #212121;
        padding: .9rem 2rem 1.6rem;
        color: #fff;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.6rem;
    }

    .popup-stoves__list {
        display: inline-flex;
        /*flex-wrap: wrap;*/
        background: #fff;
        padding: 1.7rem 2rem;
        position: relative;
        min-width: 50%;

        @include new-tablet {
            flex-wrap: wrap;
            padding-left: 0;
            padding-bottom: 0;
        }

    }

    .popup-stoves__item {
        font-family: Open Sans;
        max-width: 50%;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        pointer-events: none;

        @include new-tablet {
            margin-left: 1.3rem;
            margin-bottom: 1.4rem;
            max-width: unset;
            width: unset;
            flex-grow: 0;
            pointer-events: auto;
        }

        @include new-mobile {
            flex-basis: calc(50% - 1.3rem);
        }

        &:not(:last-child) {
            border-right: 1px solid #C4C4C4;
            margin-right: 1.4rem;
            padding-right: 1.4rem;

            @include new-tablet {
                margin-right: 0;
            }
        }

        &:nth-child(even) {
            @include mobile {
                border-right: none !important;
            }
        }

    }

    .popup-stoves__link {
        font-size: 1.6rem;
        text-decoration: underline;
        color: #212121;
        position: relative;
        align-self: flex-start;
        pointer-events: auto;

        &:before {
            content: "";
            width: 2.8rem;
            height: 2.8rem;
            background: #fff;
            position: absolute;
            /*transform: translateX(50%) rotate(-45deg);*/
            margin-top: -3.6rem;
            transform: matrix(0.71, -0.82, 0.61, 0.71, 0, 0);
            box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.12);
            display: none;

            @include new-tablet {
                display: none;
            }
        }


    }

    .popup-stoves__meta {
        line-height: normal;
        font-size: 1.4rem;
        color: #9D9D9D;
        pointer-events: auto;
    }


    .popup-stoves__popover {
        /*padding: 1rem;*/
        /*width: 88.2rem;*/
        width: 100%;
        /*max-width: 88.2rem;*/
        max-height: 27.3rem;
        position: absolute;
        left: 0;
        /*margin-top: -2rem;*/
        top: -0.2rem;
        transform: translateY(-100%);
        background: #fff;
        overflow: hidden;
        display: none;
        border: 1rem solid #fff;



    }

    .popup-stoves__img {
        max-width: unset;
        width: 100%;
    }


    .popup-stoves__item {
        &:hover {
            .popup-stoves__popover {
                display: block;

                @include new-tablet {
                    display: none;
                }

            }

            .popup-stoves__link:before {
                display: block;

                @include new-tablet {
                    display: none;
                }
            }


        }
    }



    .slick-arrow {
        background-image: url(/assets/catalogue/slider-arrow_w.svg);
    }



    .slick-prev {
        left: 0;
        transform: translateX(-100%);

        @include new-tablet {
            right: 0;
            transform: translateX(0);
            width: 10%;
        }


    }


    .slick-next {
        right: 0;
        transform: scaleX(-1) translateX(-100%);

        @include new-tablet {
            right: 0;
            transform: scaleX(-1) translateX(0);
            width: 10%;
        }
    }

    .project-content__slider {
        position: relative;



        .mfp-close {
            right: 0;
            top: 0;
            transform: translate(100%, -100%);
            color: transparent;
            opacity: 1;

            @include new-tablet {
                right: 3.8rem;
                top: -1.6rem;
            }

            &:before {
                content: "";
                position: absolute;
                width: 4.8rem;
                height: 0;
                border-top: 2px solid #EF7B0F;
                transform: rotate(45deg) translateY(50%);
                top: 50%;
                left: 0;

                @include new-tablet {
                    width: 4rem;
                }


            }

            &:after {
                content: "";
                position: absolute;
                width: 4.8rem;
                height: 0;
                border-top: 2px solid #EF7B0F;
                transform: rotate(-45deg) translateY(50%);
                top: 50%;
                left: 0;

                @include new-tablet {
                    width: 4rem;
                }

            }
        }

    }

}

/*Popup end*/






.stoves-grid {
    display: flex;
    margin: 2rem -2rem;
    flex-wrap: wrap;

    @include new-desktop-md {
        margin: 2rem -1.5rem;
    }

    @include new-mobile {
        margin: -1rem;
        padding: 1.8rem 0;
    }

}

.stoves-grid__item {
    margin: 1.9rem;
    width: calc(100%/3 - 4rem);


    @include new-desktop-md {
        margin: 1.4rem;
        width: calc(100%/3 - 3rem);
    }


    @include new-tablet {
        width: 100%;
    }

    @include new-mobile {
        width: calc(50% - 2rem);
        margin: .9rem;
    }

}


.stoves-grid__img {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;


    &:after {
        width: 100%;
        content: "";
        padding-bottom: 100%;

        @include new-tablet {
            padding-bottom: 50.7375%;
        }
    }
}

.stoves-grid__link {
    position: relative;
    display: flex;


    &:hover .stoves-grid__hover {
        opacity: 1;
    }
}


.stoves-grid__hover {
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    flex-direction: column;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    transition: opacity .3s;
    opacity: 0;
    user-select: none;

}

.stoves-grid__stove {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}


/*collections*/

.project-collections {
    padding: 9rem 4.5rem 1rem;
    background: #F6F6F6;

    @include new-tablet {
        padding: 5rem 3rem 0.1rem;
    }

    @include new-mobile {
        padding: 3rem 1.6rem 1.2rem;
    }

}


.project-collection__header {
    font-family: 'MetaPro';
    line-height: normal;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;

    &:before {
        content: "";
        width: 5rem;
        height: 3px;
        background: #EF7B0F;
        position: absolute;
        bottom: -1.2rem;
    }

    @include new-tablet {
        font-size: 2rem;
    }

    @include new-mobile {
        margin-bottom: 4rem;
    }
}

.project-collection__row {
    display: flex;
    margin: 7rem 0;

    &:not(:last-child) {
        border-bottom: 1px solid #E3E3E3;
        padding-bottom: 2rem;
    }

    @include new-mobile {
        margin: 2.7rem 0;
        flex-direction: column;
    }
}

.project-collection__txt {
    max-width: calc(28% - 2.4rem);
    flex-grow: 1;
    margin-right: 2.4rem;

    @include new-tablet {
        max-width: calc(30% - 2.4rem);
    }

    @include new-mobile {
        max-width: 100%;
        margin-right: 0;
    }

}



.project-collection__images {
    max-width: 70%;
    margin: 0 -0.9rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

    @include new-tablet {
        margin-left: auto;
    }

    @include new-mobile {
        margin: unset;
        max-width: unset;
    }

}

.project-collection__image-block {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1.8rem);
    margin: 0 0.8rem 3rem;

    @include new-tablet {
        position: relative;
        margin-bottom: 2rem;
    }

    @include new-mobile {
        width: 100%;
        margin: .6rem 0;
    }

}


.project-collection__stove-link {
    position: relative;
}

.project-collection__img {
    align-self: flex-start;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    background-size: cover;

    &:after {
        width: 100%;
        content: "";
        padding-bottom: 33.33333333336%;
        display: block;

    }

    +p {
        align-self: flex-end;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.6rem;
        color: #000;
        text-align: right;


        @include new-tablet {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
        }

    }

}







.project-collection__title-link {
    font-family: 'MetaPro';
    line-height: normal;
    font-size: 2.4rem;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;


    @include new-tablet {
        font-size: 1.8rem;
    }
}


.project-collection__label {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Open Sans';
    background: #EF7B0F;
    font-weight: 400;
    margin-left: 1.8rem;
    padding: 0 0.6rem;
}




.project-collection__descr {
    align-self: flex-end;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.6rem;
    color: #575757;
    margin-bottom: 1rem;


    @include new-tablet {
        font-size: 1.4rem;
    }


}

/*collections*/
/*------------PROJECTS-DETAIL end-----------*/
























/*-----------------PARTNERS MAIN-------------*/

.catalog-common_partners {
    /*background: url('../catalogue/partners.jpg') no-repeat 50% / cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:after {
        content: "";
        background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, rgba(26, 26, 26, 0.88) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 31%;
    }

}



.partners-grid {

    display: flex;
    flex-wrap: wrap;
    margin: 1.8rem -2rem 13rem;

    @include new-desktop-md {
        margin: 1.8rem -3.4rem 13rem;
    }


    @include new-tablet {
        margin: 1.8rem -1.5rem 3rem;
    }

    @include new-mobile {
        margin-top: 0;
    }


}

.partner-block {
    /*flex-grow: 1;*/
    display: flex;
    width: calc(100%/3 - 4rem);
    margin: 1.9rem;

    @include new-desktop-md {
        margin: 3.4rem;
        width: calc(50% - 7rem);

    }

    @include new-tablet {
        margin: 1.4rem;
        width: calc(50% - 3rem);
    }


    @include new-mobile {
        max-width: 100%;

        &:not(:last-child) {
            border-bottom: 1px solid #E3E3E3;
            padding-bottom: 1.6rem;
            margin-bottom: 0.4rem;
        }
    }





}



.partner-block__image {
    width: 23.1rem;
    /*max-width: 30%;*/
    flex-shrink: 0;
    flex-grow: 0;
    height: 26.6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 3.5rem;

    @include new-tablet {
        width: 12.3rem;
        height: 15.6rem;
        margin-right: 1.8rem;
    }

    @include new-mobile {
        width: 11.3rem;
        height: 10.8rem;
    }

}

.partner-block__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.partner-block__name {
    font-family: 'MetaPro';
    line-height: normal;
    font-size: 2.4rem;
    font-weight: 600;
    color: #000;
    margin-bottom: .5rem;

    @include new-tablet {
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 1.1;
    }

    @include new-mobile {
        font-size: 1.6rem;
    }

}

.partner-block__role {
    font-size: 1.4rem;
    color: #575757;
    line-height: 1.1;

    @include new-mobile {
        font-size: 1.2rem;
        margin: .2rem 0;
    }


}

.partner-block__content {
    margin-top: auto;


    blockquote {
        font-size: 1.4rem;
        font-style: normal;
        font-weight: normal;
        line-height: normal;

        @include new-tablet {
            line-height: 1.6rem;
        }

        border-left: 2px solid #EF7B0F;
        margin: 2rem 0;
        padding: 0 0.8rem;
        display: block;
        color: #575757;
        padding-right: 0;

        @include new-tablet {
            font-size: 1.2rem;
            margin: 0.8rem 0;
        }
    }


    p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: normal;
        margin: 2rem 0;

        @include new-tablet {
            font-size: 1.2rem;
        }

        @include new-tablet {
            margin: 0;
        }

    }



}

.partner-block__link {

    @include new-tablet {
        font-size: 1.4rem;
    }
}

/*PARTNERS end*/






/*PARTNER DETAIL*/
.catalog-partner_detail {
    background: #F6F6F6;
    background-image: none;
    /*padding-top: 32.3%;*/
    padding-top: 10rem;


    /*@include new-desktop-md {
    padding-top: 30.3%;

    }*/


    @include new-tablet {
        padding-top: 9rem;
    }


    @include new-mobile {
        display: flex;
        flex-direction: column;
        padding-top: 10rem;

        &:before {
            display: none;
        }
    }


}


.partner-detail__photo {
    position: absolute;
    right: 4.5rem;
    top: 12rem;
    width: calc(50% - 30px - 3rem);
    height: 0;
    padding-bottom: 31.5%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    animation: partner-foto 1.7s;

    @include new-tablet {
        right: 3.2rem;
        width: calc(50% - 24px -  2rem);
        /*top: 9.5rem;*/
        padding-bottom: 40.235%;
        top: unset;
        bottom: -4rem;
    }

    @include new-mobile {
        position: static;
        width: calc(100% - 3.2rem);
        margin: auto;
        order: 1;
        margin-bottom: 2rem;
        padding-bottom: 82.2%;
    }

}

@keyframes partner-foto {
 from { transform: translateY(15%); opacity: 0}
 to { transform: translateY(0); opacity: 1;}
}




.partner-detail__header {
    /*position: absolute;*/
    top: 135px;
    left: 4.5rem;
    max-width: 50%;
    top: 0;
    position: relative;
    left: 0;
    margin-top: 5rem;
    max-width: calc(50% - 6rem);

    @include new-tablet {
        /*left: 3rem;*/
        /*top: 9rem;*/
        margin-top: 0;

    }

    @include new-mobile {
        /*top: 8rem;*/
        /*left: 1.6rem;*/
        max-width: 100%;
    }

    .project-info__project-name {
        margin-bottom: 2rem;
        margin-top: 50px;

        @include new-tablet {
            margin-top: 0;
        }


        &:after {
            display: none;
        }

    }

}


.partner-detail__projects-title {
    font-family: 'MetaPro';
    line-height: normal;
    font-size: 2.8rem;
    text-transform: uppercase;

    @include new-tablet {
        font-size: 2rem;
    }
}




.project-info_partner {

    /*position: absolute;*/
    max-width: calc(50% + 3rem);
    flex-direction: column;
    align-items: flex-start;
    min-height: 20vw;
    padding-top: 0;


    blockquote {
        max-width: 44.6rem;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: normal;
        line-height: normal;

        border-left: 2px solid #EF7B0F;
        margin: 2rem 0;
        padding: 0 0.8rem;
        display: block;
        color: #575757;
        margin-top: auto;

        @include new-tablet {
            margin: 0;
            margin-top: auto;
        }
    }

    p {
        line-height: normal;
        max-width: 44.6rem;
        font-weight: normal;
        font-size: 1.4rem;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    @include new-tablet {
        /*flex-direction: row;*/
        position: relative;
        padding-top: 0;
        max-width: calc(50%);
        min-height: 31rem;

    }

    @include new-mobile {
        max-width: 100%;
        margin-bottom: 2rem;
        min-height: unset;
    }


}


.offsetInTopSlow {
    @include new-tablet {
    transform: none;
}
}




.catalog-container_partner-detail {
    padding-top: 8.2rem;

    @include new-tablet {
        padding-top: 1.5rem;
    }

    @include new-mobile {
        padding-top: 3rem;
    }

}


/*catalog grid*/

.catalog-grid_partner-detail {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1.5rem;
    padding: 0;
    margin-bottom: 5.4rem;

    @include new-desktop-md {
        padding-top: 0;
    }
}


.catalog-grid__item_partner-detail {
    position: relative;
    margin: 1.4rem;
    margin-bottom: 9.3rem - 3rem;
    width: calc(50% - 3rem);


    @include new-desktop-md {
        margin: 1.4rem;
        margin-bottom: 9.3rem - 3rem;
        width: calc(50% - 3rem);
    }


    @media (min-width: 768px) {

        &:hover .catalog-grid__button {
            padding-right: 6rem;
            width: calc(50% + 6rem);


            &:after {
                width: 6rem;
            }

        }
    }

    @include new-tablet {

        .catalog-grid__button_partner-detail {
            width: 80%;
            padding: 1.6rem;
        }

        &:hover .catalog-grid__button {
            width: 100%;
        }
    }

}





.catalog-grid__image_partner-detail {
    height: 0;
    background-position: center;
    max-width: 100%;
    padding-bottom: 56%;
    background-repeat: no-repeat;
    background-size: cover;

    @include new-tablet {
        padding-bottom: 106.5%;
    }
}





.catalog-grid__button_partner-detail {
    width: 50%;
    position: absolute;

    &:after {
        content: "";
        background: #EF7B0F;
        background-image: url(/assets/catalogue/arrow.svg);
        background-repeat: no-repeat;
        background-position: 50% 88%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        opacity: 0;
    }


}


.catalog-grid__image_partner-detail {
    padding-bottom: 62%;
}

.catalog-grid__item_partner-detail:hover .catalog-grid__image_partner-detail:after {
    height: 0;
}

.catalog-grid__image_partner-detail:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    background: #fff;
    transition: height .3s;
}

.catalog-grid__button_partner-detail {
    bottom: 0 !important;

    @include new-desktop-md {
        bottom: 0;
    }

}

.catalog-grid__item_partner-detail {
    margin-bottom: 2.5rem;

    @include new-tablet {
        margin-bottom: 1.5rem;
    }
}

/*catalog grid end*/





/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    transition: all .5s ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    transition: all .5s ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}


/*PARTNER DETAIL end*/




/*SETS*/

.catalog-common_sets {
    background: #EEEEEE;
    padding: 140px 4.5rem 3.8rem;

    @include new-tablet {
        padding-top: 110px;
    }

    @include new-mobile {
        padding-top: 100px;
        padding-bottom: 2rem;
    }
}



.sets-header_main {
    display: flex;
    align-items: center;

    @include new-tablet {}

    @include new-mobile {
        flex-direction: column;
        align-items: flex-start;
    }


}

.sets-header__title {
    font-family: 'MetaPro';
    line-height: normal;
    font-size: 3.2rem;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 2.2rem;

    @include new-mobile {
        margin-right: 0;
        align-self: flex-start;
        margin-bottom: 2rem;
    }
}


.sets-header__btn {
    display: inline-block;
    padding: 0.7rem 2rem 0.7rem;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 2.2rem;
    align-self: center;

    @include new-tablet {
        padding: 1.1rem 2.6rem 1.1rem;
        line-height: 1;
        font-size: 1.6rem;
    }

    @include new-mobile {
        width: 100%;
        margin: 0;
    }


    svg {
        margin-left: .9rem;
    }



}


.icon-download {
    width: 1.4rem;
    height: 1.2rem;
}



.icon-email {
    width: 1.8rem;
    height: 1.3rem;
    fill: transparent;
}




.catalog-container_sets {
    padding-top: 4rem;
    margin-bottom: 5rem;
}



.sets-grid {
    margin: 0 -1.5rem;
    display: flex;
    flex-wrap: wrap;

    @include new-tablet {
        padding-top: 2.1rem;
    }

    @include new-mobile {
        padding-top: 1.3rem;
    }

}

.user-set__buttons {
    position: absolute;
    width: 6rem;
    height: 2.6rem;
    right: 0;
    top: 0;
    background: rgba(33, 33, 33, 0.49);
    display: flex;
    display: none;
    z-index: 2;

    @include new-tablet {
        display: flex;
    }
}



.sets-grid__item {
    width: calc(25% - 3rem);
    margin: 1.4rem;
    /*flex-grow: 1;*/
    cursor: pointer;
    position: relative;

    @include new-tablet {
        width: calc(50% - 3rem);
    }

    @include new-mobile {
        width: 100%;
    }

    @media (min-width: 1024px) {
        &:hover {

            .user-set__buttons {
                display: flex;
            }
        }
    }



}







/*button-start*/

.add-set {
    order: 1;
}

.sets-grid__btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.6rem;
    color: #212121;
    background: #F7F7F7;
    border: 2px dotted #575757;
    position: relative;
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: background .3s;

    &:after {
        content: "";
        padding-bottom: 68%;
        width: 100%;
        z-index: -1;
        display: block;
    }

    &:hover {
        background: darken(#F7F7F7, 10%);
    }

}


.sets-grid__btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: flex;
    align-items: center;
    width: 100%;
}



.sets-grid__btn-plh {
    margin: auto;
}


.icon-add-set {
    fill: #EF7B0F;
    width: 1.9rem;
    height: 1.7rem;
    margin-right: 1.6rem;

    @include new-mobile {
        margin-right: 1rem;
    }

}



.sets-grid__btn-input,
.sets-grid__btn-input.form-group {
    width: 75%;
    margin: auto;
    display: block;
    position: relative;

    .sets-grid__input {
        padding-right: 2.5em;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.4rem;
        height: unset;
        padding-bottom: 5px;
        color: #000;
        border-bottom: 1px solid #333;
        border-radius: 0;

    }


}

.form-group._error .form-control{
    border-color: transparent;
}

.sets-grid__pseudo-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}


.icon-ok {
    fill: transparent;
    width: 1.4rem;
    height: 1.1rem;
}



/*button-end*/



.sets-grid__image {
    width: 100%;
    /*height: 100%;*/
    flex-grow: 1;
    position: relative;
    display: flex;
    background: #575757;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.6rem;

    &:after {
        content: "";
        padding-bottom: 68%;
        width: 100%;
        z-index: -1;
        display: block;
    }


    @include new-mobile {
        margin-bottom: 1rem;
    }



}





.sets-grid__name {
    font-family: 'MetaPro';
    line-height: normal;
    font-size: 2rem;
    text-transform: uppercase;
    color: #000;
    display: flex;
    font-weight: 600;
    align-items: center;


    svg {
        margin-left: 2rem;
        transform: translateX(-100%);
        opacity: 0;
        transition: all .3s;
    }

}






.user-set {
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover {
        .sets-grid__name {

            color: #EF7B0F;

            svg {
                opacity: 1;
                transform: translateX(0);

            }

        }

    }


}

.user-set__noset {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-100%);
    width: 100%;
    text-align: center;
    color: #E3E3E3;

}




.user-set__delete,
.user-set__edit {
    width: 50%;
    text-align: center;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
        opacity: .7;

        &:hover {
            opacity: 1;
        }
    }

}

.user-set__edit {
    &:after {
        content: "";
        height: 2rem;
        width: 1px;
        background: #fff;
        opacity: .7;
        position: relative;
        position: absolute;
        right: 0;
        top: .3rem;




    }

}



.icon-edit-set {
    width: 1.6rem;
    height: 1.6rem;
    fill: #fff;
}

.icon-del-set {
    width: 1.3rem;
    height: 1.6rem;
    fill: #fff;
}


/*popups start*/

.sets-popup-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    /*height: 74rem;*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-height: 80vh;

    @include new-mobile {
        position: relative;
        transform: unset;
        display: block;
        left: unset;
        max-height: unset;
        margin: .6rem auto;
    }


}



/*stove*/
/*.sets-popup__image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 24.2rem;
    min-height: 49rem;
    max-height: 74.7rem;
    height: calc(100% + 12rem);
}*/




.sets-popup__image {
    width: 30.7rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: 0;
    padding-bottom: 73.21%;
    flex-grow: 1;

    @include new-tablet {
        width: 19rem;
        height: auto;
        padding-bottom: 0;
        display: flex;

        &:after {
            padding-bottom: 300%;
            content: "";
            width: 100%;
            position: relative;
        }
    }


    @include new-mobile {
        display: none;
    }
}



/*stove*/


.sets-popup {
    width: 70.8rem;
    border: 5px red;
    flex-grow: 1;
    font-size: 1.6rem;

    @include new-tablet {
        width: 66vw;
    }

    @include new-mobile {
        width: 100%;
    }
}



.sets-popup__header {
    background: #575757;
    padding: 4.5rem 4rem;
    color: #fff;
    font-size: 2.4rem;

    @include new-tablet {
        padding: 3.6rem 3rem;
    }


    @include new-mobile {
        padding: 1.6rem;
    }

}


.sets-form {
    position: relative;
    background: #fff;
    padding: 2.2rem 4.5rem 5rem;

    @include new-tablet {
        padding: 2.2rem 3rem 5rem;
    }

    @include new-mobile {
        padding: 2.2rem 1.6rem 3rem;
    }
}





.sets-form__secondary {
    padding-bottom: 3rem;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 2rem;

    @include new-tablet {
        margin-bottom: 4rem;
    }

    @include new-mobile {
        margin-bottom: 1rem;
        padding-bottom: 0;
        border: none;
    }
}


.sets-form__checkbox-label {
    display: block;
    margin-top: 1rem;
}




/*form*/

.sets-form__checkbox {
    position: relative;
    margin-right: 1.2rem;
    width: 1em;
    height: 1em;
    -webkit-appearance: none;

    cursor: pointer;
    outline: none;
    border-color: transparent;
    color: transparent;
    background: transparent;
}

.sets-form__checkbox:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border: 1px solid #ef7b0f;
    background: #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, .2rem);
}

.sets-form__checkbox:checked:after {
    content: "";
    position: absolute;
    width: .5em;
    height: .5em;
    background: #ef7b0f;
    top: 0;
    left: 0;
    transform: translate(50%, .38em)
}


.sets-form__main {
    flex-wrap: wrap;



    .form-placeholder {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 1.4rem;
        color: #575757;
        top: 2rem;
    }

    .form-control {
        font-weight: normal;
        border-bottom: 1px solid #333333;
        border-radius: 0;
    }


    .form-group {

        @include new-tablet {
            margin-top: 0.9rem;
        }

    }

    .form-group,
    .form-group._half {
        @include new-mobile {

            width: 100%;
            margin: 0.3rem 0;
        }


    }


    &.form {
        @include new-mobile {
            margin: 0;
        }

    }

}



.sets-form__btn {
    width: 100%;

    @include new-mobile {
        &.form-submit {
            margin: 3rem 0 0;
            width: 100%;

        }
    }

}




.sets-popup-wrapper {

    font-size: 1.6rem;

    .mfp-close {
        right: -1rem;
        top: 0;
        transform: translate(100%, -100%);
        color: transparent;
        opacity: 1;

        @include new-tablet {
            right: 4.2rem;
            top: -1rem;
        }

        @include new-mobile {
            position: fixed;
            right: 1rem;
            transform: none;
            top: 1rem;
        }


        &:before {
            content: "";
            position: absolute;
            width: 4.8rem;
            height: 0;
            border-top: 2px solid #EF7B0F;
            transform: rotate(45deg) translateY(50%);
            top: 50%;
            left: 0;

            @include new-tablet {
                width: 4rem;
            }

        }

        &:after {
            content: "";
            position: absolute;
            width: 4.8rem;
            height: 0;
            border-top: 2px solid #EF7B0F;
            transform: rotate(-45deg) translateY(50%);
            top: 50%;
            left: 0;

            @include new-tablet {
                width: 4rem;
            }

        }
    }

}


/*form*/




/*popups end*/

/*SETS end*/



/*SETS DETAIL*/

.sets-header_detail {
    @include new-tablet {
        flex-wrap: wrap;
    }
}


.sets-header__title_detail {

    @include new-tablet {
        width: 100%;
        margin-bottom: 1rem;
    }

}

.sets-header__btn+.sets-header__btn {
    @include new-mobile {
        margin-top: 2rem;
    }
}



.sets-grid-detail {
    margin: 0 -1.5rem;
    display: flex;
    flex-wrap: wrap;
}


.sets-grid-detail__item {
    width: calc(100%/3 - 3rem);
    margin: 1.4rem;
    position: relative;


    @media (min-width: 1024px) {
        &:hover .sets-grid-detail__del-btn {
            display: flex;
        }
    }
        



    @include new-tablet {
        width: calc(50% - 1.9rem);
        margin: 0.9rem;
        margin-bottom: 3rem;
    }

    @include new-mobile {
        width: 100%;
    }
}

.sets-grid-detail__img {
    width: 100%;
    position: relative;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: .6rem;

    &:after {
        content: "";
        width: 100%;
        padding-bottom: 33%;
        display: block;
    }
}


.sets-grid-detail__del-btn {
    position: absolute;
    background: rgba(33, 33, 33, 0.49);
    width: 3.4rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    display: none;

    svg {
        opacity: .7;
    }

    &:hover {

        svg {
            opacity: 1;

        }
    }

    @include new-tablet{
    display: flex;
        
    }
}


.sets-grid-detail__name {
    color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    padding: 1.4rem;
    z-index: 1;

    &._light {
        color: #fff;
    }
}

.sets-grid-detail__bottom {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}


.sets-grid-detail__label {
    line-height: normal;
    font-size: 1.4rem;
    color: #A3A3A3;
    margin-right: .4rem;
}


.sets-grid-detail__link {
    color: #000;
    text-decoration: underline;
}

.sets-grid-detail__btn {
    color: #EF7B0F;
    cursor: pointer;
}



.sets-grid-detail__placeholder {
    font-size: 2rem;
    text-align: center;
    margin: 1rem auto 3rem;


    @include new-tablet {
        margin: 3rem auto 2rem;
    }
}





.setsEmailPopup__input {
    align-self: center;
}

/*SETS DETAIL end*/




/*popup for emty sets*/
.sets-popup_empty {
    background: #fff;
    padding: 4rem;
    max-width: 50rem;

}


.sets-popup__close-btn {
    margin-top: 2rem;
    display: block;
}

/*popup for emty sets*/





.sets-popup_delete {
    background: #fff;
    padding: 4rem;
    font-size: 1.6rem;
}

.sets-popup__confirm {
    display: flex;
    margin-top: 2rem;

}



.sets-popup__conf-btn {
    &:first-child {
        margin-right: 1rem;
        background: transparent;
        border-color: transparent;
        color: #EF7B0F;
    }
}





$container-h-padding: 45px;

.project-content,
.project-info,
.project-detail__content,
.catalog-container_common,
.catalog-common__links,
.catalog-common_sets {
    padding-left: $container-h-padding;
    padding-right: $container-h-padding;
}


.project-breadcrumbs {
    left: $container-h-padding;
}

.partner-detail__header {
    margin-left: $container-h-padding;
}




.partner-detail__photo {
    right: $container-h-padding;
}


@media only screen and (max-width: map_get($media, new-tablet)) {
    $container-h-padding: 30px;

    .project-content,
    .project-info,
    .project-detail__content,
    .catalog-container_common,
    .catalog-common__links,
    .catalog-common_sets {
        padding-left: $container-h-padding;
        padding-right: $container-h-padding;
    }


    .project-breadcrumbs {
        left: $container-h-padding;
    }

    .partner-detail__photo {
        right: $container-h-padding;
    }

    .partner-detail__header {
        margin-left: $container-h-padding;
    }


}




@media only screen and (max-width: map_get($media, new-mobile)) {
    $container-h-padding: 16px;

    .project-info,
    .catalog-container_common,
    .catalog-common__links,
    .project-content__col,
    .catalog-common_sets {

        padding-left: $container-h-padding;
        padding-right: $container-h-padding;
    }


    .project-breadcrumbs {
        left: $container-h-padding;
    }

    .partner-detail__header {
        margin-left: $container-h-padding;
    }


}


.noScrollMob {
    @include new-mobile {
        top: 0;
        left: 0;
        position: fixed;
        width: 100vw;
        height: 100vh;
        transform: translate3d(0,0,0);
        /*overflow: hidden;*/
        /*overflow: visible;*/



        .mfp-container {
            height: 95%;
            top: 0;
            left: 0;
            position: fixed;
            overflow: auto;
            margin-bottom: 40px;    
        }

    }

}




.noScrollMob .mfp-container:after {
    content: "";
    height: 40px;
    display: block;
}



.noScrollMob .mfp-container .selectize-dropdown {
margin-bottom: 40px;
}



/*to animate*/
.vueBlock{
    opacity: 0;
    transform: translateY(30%);
    transition: all 1.6s
}

.showVueBlock {
    opacity: 1;
    transform: translateY(0);

}



/*to animate*/


.form-message{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1.6rem;
    background: white;
    font-size: 2.8rem;
    display: flex;
    min-height: 28rem;
    align-items: center;
    z-index: 11;
    /*display: none;*/

    &.ShowMessage{
        display: flex;
    }

    @include new-tablet {
    font-size: 1.8rem;

    }

}






  .catalog-card {
      z-index: 2;
      position: relative;
  }

  .add-to-collection-list__item[disabled] {
    opacity: .5;
    background: white;
    cursor: default;
    pointer-events: none;
  }

  .add-to-collection__input:focus + span
  .add-to-collection__input:not(:empty) + span{
    display: none;
  }





  .add-to-collection__input-wrap {
      position: relative;
  }


  .add-to-collection__input-wrap:before {
      position: absolute;
      content: '';
      width: 2.2rem;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 2;
      cursor: pointer;

  }

.add-to-collection.is-done *{
    cursor: default;
}


.add-to-collection.is-done .add-to-collection__dropdown{
        display: none;
}

.inputButton{
    position: absolute;
    width: 3rem;
    right: -1rem;
    top: 0;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}






.mfp-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sets-popup-wrapper {
    position: relative;
    transform: none;
    top: unset;
    left: unset;
}

@include new-mobile {


    .add-to-collection__content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 4rem;
    }

}




