.form {
    display: flex;
    margin: -3rem -1.5rem 0;
    flex-grow: 1;
    @include new-tablet {
        max-width: unset;
    }
    @include new-mobile {
        flex-direction: column;
    }

    &-group {
        width: 100%;
        position: relative;
        margin: 3rem 1.5rem 0;

        @include new-mobile {
            width: auto;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            height: 2px;
            z-index: 9;
            background: map_get($colors, default);
            transform: scaleX(0);
            transform-origin: 0 0;
            transition: transform 0.175s cubic-bezier(.215, .61, .355, 1);
        }

        &_textarea {
            &:before {
                display: none;
            }

            &._error textarea {
                border-color: #f00;
            }
        }

        &._half {
            width: calc(50% - 3rem);

            @include mobile {
                width: calc(100% - 3rem);
            }
        }

        &._third {
            width: calc(33% - 3rem);

            @include mobile {
                width: calc(100% - 3rem);
            }
        }

        &._active {
            &:before {
                transform: scaleX(1);
            }

            .form {
                &-placeholder {
                    color: #787878;
                    transform: translateY(-2rem) scale(0.76) translateZ(0);

                    @include mobile {
                        transform: translateY(-1.5rem) scale(0.76) translateZ(0);
                    }
                }
            }
        }

        &._error {
            &:before {
                background: #f00 !important;
                transform: scaleX(1);
            }

            .form {
                &-placeholder {
                    color: #f00;

                    ._color--default {
                        color: #f00;
                    }
                }

                &-control {
                    color: #f00;
                }
            }
        }

        @include mobile {
            margin: 2rem 1.5rem 0;
        }
    }

    &-control {
        background: transparent;
        border-bottom: 1px solid #333333;
        border: 0;
        color: #000;
        font-size: 1.5rem;
        font-weight: 300;
        height: 5rem;
        outline: none;
        padding-top: 0.5rem;
        transition: opacity 0.35s;
        width: 100%;

        &:focus {
            ~ .form-placeholder {
                color: #787878;
                transform: translateY(-2rem) scale(0.76) translateZ(0);

                @include mobile {
                    transform: translateY(-1.5rem) scale(0.76) translateZ(0);
                }
            }
        }
    }

    &-placeholder {
        color: #4f4f4f;
        font-size: 1.4rem;
        font-weight: 400;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 1.6rem;
        transform-origin: 0 0;
        transform: translateZ(0);
        transition: $transition;
        transition: transform .175s cubic-bezier(.215,.61,.355,1), color .175s cubic-bezier(.215,.61,.355,1), font-size .175s cubic-bezier(.215, .61, .355, 1);

        @include desktop_hd {
            font-size: 1.4rem;
        }
    }

    &-submit {
        margin: 3rem 1.5rem 0;

        @include mobile {
            margin: 2rem 1.5rem 0;
        }
    }

    @include mobile {
        margin: -2rem -1.5rem 0;
    }
}