.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 50px 30px;
    opacity: 0;
    pointer-events: none;
    transition: $transition;
    background: rgba(#4F4F4F, .98);

    &._in {
        opacity: 1;
        pointer-events: all;

        .zoom-in,
        .zoom-out {
            pointer-events: all;
        }
    }
    &._small {
        .modal {
            &-dialog {
                padding: 65px 35px 50px;
                max-width: 400px;
                text-align: center;

                @include mobile {
                    max-width: 100%;
                }
            }
        }
        p {
            font-size: 18px;
            line-height: normal;
        }
    }
    &._gallery {
        .modal {
            &-close {
                position: fixed;
                top: 20px;
                right: 20px;
                width: 63px;
                height: 63px;
                border-color: #fff;

                &:hover {
                    opacity: .7;
                }
                .icon {
                    max-width: 30px;
                    max-height: 30px;
                    fill: #fff;
                }
                @include tablet {
                    width: 35px;
                    height: 35px;
                    top: 15px;
                    right: 15px;

                    .icon {
                        max-width: 18px;
                        max-height: 18px;
                    }
                }
                @include mobile {
                    top: 10px;
                    right: 10px;
                }
            }
            &-dialog {
                background: transparent;
                max-width: 100%;

                @include mobile {
                    align-items: flex-start;
                }
            }
            &-content {
                @include mobile {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 100vh;
                }
            }
        }
        .slider {
            width: 100%;
            text-align: center;
            margin: 0 !important;
            padding: 0 !important;
            height: auto !important;
            max-height: none;

            &._arrows {
                .slick {
                    &-arrow {
                        top: 50% !important;
                        left: 30px !important;
                        width: 63px;
                        height: 63px;
                        border-color: #fff;

                        &:hover {
                            opacity: .7;
                        }
                        .icon {
                            max-width: 13px;
                            max-height: 18px;
                            fill: #fff;
                        }
                    }
                    &-next {
                        left: inherit !important;
                        right: 30px !important;
                    }
                    @include tablet {
                        &-arrow {
                            left: 15px !important;
                            width: 35px;
                            height: 35px;

                            .icon {
                                max-width: 7px;
                                max-height: 10px;
                            }
                        }
                        &-next {
                            left: inherit !important;
                            right: 15px !important;
                        }
                    }
                    @include mobile {
                        &-arrow {
                            left: 10px !important;
                        }
                        &-next {
                            left: inherit !important;
                            right: 10px !important;
                        }
                    }
                }
            }
            &-item {
                &__title {
                    font-family: 'Open Sans';
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;

                    @include mobile {
                        padding-left: 25px;
                    }
                }
                &__info {
                    font-weight: 300;
                    line-height: normal;
                    font-size: 15px;
                    color: #fff;

                    @include mobile {
                        padding-left: 25px;
                    }
                }
            }
            @include tablet {
                padding: 0 65px !important;
            }
            @include mobile {
                padding: 0 !important;
                text-align: left;
            }
        }
        .slick {
            &-list {
                max-width: 70%;
                min-height: 50vh;
                margin: 0 auto;

                @include tablet {
                    max-width: 100%;
                }
            }
            &-track {
                @include mobile {
                    display: flex;
                    align-items: center;
                }
            }
            @include tablet {
                &-slide {
                    margin: 0 1px;
                }
            }
        }
        img {
            width: auto !important;
            margin: auto auto 20px;
            max-height: calc(100vh - 200px);
        }
        @include desktop {
            img {
                width: auto !important;
                height: auto;
                max-height: calc(100vw - 200px);
            }
        }
        @include tablet {
            padding: 0;
        }
        @include mobile {
            img {
                height: auto;
                max-height: none;
            }
        }
    }
    &._big {
        .modal {
            &-close {
                position: fixed;
                top: 20px;
                right: 20px;
                width: 63px;
                height: 63px;
                border-color: #fff;

                &:hover {
                    opacity: .7;
                }
                .icon {
                    max-width: 30px;
                    max-height: 30px;
                    fill: #fff;
                }
                @include tablet {
                    width: 35px;
                    height: 35px;
                    top: 15px;
                    right: 15px;

                    .icon {
                        max-width: 18px;
                        max-height: 18px;
                    }
                }
                @include mobile {
                    top: 10px;
                    right: 10px;
                }
            }
            &-dialog {
                background: transparent;
                width: 100%;
                max-width: 1030px;

                @include mobile {
                    align-items: flex-start;
                }
            }
            &-content {
                @include mobile {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    height: 100vh;
                    padding: 0 25px;
                }
            }
        }
        p {
            color: #fff;
            font-weight: normal;
            line-height: 25px;
            font-size: 17px;
            margin-top: 25px;
        }
        @include tablet {
            padding: 0;
        }
    }
    &-dialog {
        margin: auto;
        position: relative;
        background: #fff;

        @include mobile {
            min-height: 100vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
    &-title {
        font-size: 24px;
        margin-bottom: 10px;
    }
    &-content {
        max-width: 100%;
    }
    &-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #000;
        cursor: pointer;
        transition: $transition;
        z-index: 2020;

        &:hover {
            border-color: map_get($colors, default);

            .icon {
                fill: map_get($colors, default);
            }
        }
        .icon {
            max-width: 21px;
            max-height: 21px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &-video {
        width: 100% !important;
        max-height: calc(100vh - 100px);
        height: 650px !important;
        position: static !important;
        opacity: 1 !important;
        padding: 0 !important;
    }
    @include mobile {
        padding: 0;

        &-content {
            width: 100%;
        }
        &-inner {
            width: 100%;
        }
        &-video {
            width: calc(100% + 50px) !important;
            margin: 0 -25px !important;
        }
    }
}