.list {
    &-points {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        margin: -65px -50px 0;

        li {
            width: calc(33.3333% - 100px);
            margin: 65px 50px 0;
            font-size: 14px;
            transition: $transition;

            p {
                font-size: inherit;
                line-height: 22px;
            }
            @include desktop_hd {
                font-size: 18px;

                p {
                    font-size: inherit;
                    line-height: 26px;
                }
            }
            @include desktop {
                width: calc(33.3333% - 60px);
                margin: 30px 30px 0;
                line-height: 1.35;
            }
            @include mobile {
                width: calc(100% - 60px);
            }
        }

        &__name {
            margin: 0 !important;
            font-size: 14px;
            font-weight: 700;

            @include desktop_hd {
                font-size: 18px;
            }
        }
        a {
            display: inline-block;
            color: map_get($colors, default) !important;
            border-bottom: 1px solid;

            &:hover {
                border-bottom-color: transparent;
            }
            &[href*="tel"] {
                color: #000 !important;
                border-bottom: 1px solid transparent;

                &:hover {
                    color: map_get($colors, default) !important;
                    border-bottom: 1px solid;
                }
            }
        }
        @include desktop {
            margin: -30px -30px 0;
        }
    }
}