.loader {
    &-container {
        overflow: hidden;

        &._active {
            overflow: inherit;
            max-height: none !important;
        }
    }

    &-page {
        bottom: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;
        transition: all 0.3s ease-in-out;
        z-index: 1000;

        &:before {
            // content: '';
            // position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            // transition: all 0.3s ease-in-out;
            // background: rgba(#4F4F4F, .98);
            // opacity: 0;
            // pointer-events: none;
            // z-index: 1000;
        }

        &._active {
            pointer-events: all;
            opacity: 1;
        }

        &._backdrop {
            &:before {
                opacity: 1;
            }
        }

        &._lines {
            .loader-page {
                &__line {
                    &--bottom,
                    &--top {
                        width: 100%;
                    }

                    &--left,
                    &--right {
                        height: 100%;
                    }
                }
            }
        }

        &._shown {
            .loader-page {
                &__line {
                    transition-delay: 0s !important;

                    &--container {
                        top: -6px;
                        left: -6px;
                        right: -6px;
                        bottom: -6px;
                        transition-delay: 0s;
                    }
                }

                &__content {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    overflow: auto;
                }
            }
        }

        &__content {
            overflow-x: hidden;
            overflow-y: scroll;
        }

        &__wrapper {
            position: absolute;
            top: 56px;
            right: 56px;
            bottom: 56px;
            left: 56px;
            overflow: hidden;
            opacity: 0;
            z-index: 1001;
            transition: all 0.3s ease-in-out;
        }

        &__line {
            position: absolute;
            background: #fff;
            transition: all 0.3s ease-in-out;

            &--container {
                position: absolute;
                top: 50px;
                left: 50px;
                right: 50px;
                bottom: 50px;
                z-index: 1000;
            }

            &--top {
                top: 0;
                left: 0;
                width: 0;
                height: 6px;
                transition-delay: 0.3s;
                @include desktop {
                    height: 3px;
                }
            }

            &--right {
                top: 0;
                right: 0;
                height: 0;
                width: 6px;
                transition-delay: 0.55s;
                @include desktop {
                    width: 3px;
                }
            }

            &--bottom {
                bottom: 0;
                right: 0;
                width: 0;
                height: 6px;
                background: #fff;
                transition-delay: 0.85s;
                @include desktop {
                    height: 3px;
                }
            }

            &--left {
                bottom: 0;
                left: 0;
                height: 0;
                width: 6px;
                transition-delay: 1.15s;
                @include desktop {
                    width: 3px;
                }
            }
        }

        &__column {
            background: #4f4f4f;
            bottom: 0;
            height: 0;
            position: absolute;
            width: 20%;
            will-change: height;
            // width: 16.66666666666667%;

            &_first {
                left: 0;
            }

            &_second {
                left: 20%;
            }

            &_third {
                left: 40%;

            }

            &_fourth {
                left: 60%;

            }

            &_fifth {
                left: 80%;
            }

            // &_first {
            //     left: 0;
            // }

            // &_second {
            //     left: 16.66666666666667%;

            // }

            // &_third {
            //     left: 33.33333333333333%;

            // }

            // &_fourth {
            //     left: 50.00000000000001%;

            // }

            // &_fifth {
            //     left: 66.66666666666668%;

            // }

            // &_sixth {
            //     left: 83.33333333333335%;
            // }

        }
    }
}