.button {
    cursor: pointer;
    transition: $transition;
    font-family: 'MetaPro';
    font-weight: 500;
    position: relative;

    &__line {
        background: #fff;
        position: absolute;
        transition-duration: 0.4s;

        &_left,
        &_right {
            height: 0;
            transition-property: height;
            width: 6px;
            will-change: height;

            @include mobile {
                width: 4px;
            }

            &.is-active {
                height: 100%;
            }
        }

        &_top,
        &_bottom {
            height: 6px;
            transition-property: width;
            width: 0;
            will-change: width;

            @include mobile {
                height: 4px;
            }

            &.is-active {
                width: 100%;
            }
        }

        &_left {
            bottom: 0;
            left: 0;
            transition-delay: 1.5s;
        }

        &_right {
            right: 0;
            top: 0;
            transition-delay: 0.7s;
        }

        &_top {
            left: 0;
            top: 0;
            transition-delay: 0.3s;
        }

        &_bottom {
            bottom: 0;
            right: 0;
            transition-delay: 1.1s;
        }
    }

    &-link {
        display: inline-block;
        font-weight: 700;
        font-size: 1.8rem;
        padding: 5.5rem 4.2rem;
        text-align: center;
        font-family: 'Open Sans';
        width: 36.6rem;

        @include desktop_hd {
            width: 44.4rem;
            font-size: 2.2rem;
            padding: 5.8rem 4.2rem;
        }

        @include mobile {
            padding: 3.8rem 1.8rem;
            width: 100%;
            max-width: 27.6rem;
        }
    }
    &-default {
        background: map_get($colors, default);
        padding: 1.5rem 7rem 1.4rem;
        color: #fff;
        line-height: 1;
        font-size: 2.2rem;
        text-align: center;
        border: 3px solid map_get($colors, default);
        position: relative;

        &:hover {
            background: darken(map_get($colors, default), 5%);
            border-color: darken(map_get($colors, default), 5%);
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            opacity: 0;
        }

        &:before {
            bottom: -3px;
            left: -3px;
            border-left: 3px solid white;
            border-top: 3px solid white;
            transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
        }

        &:after {
            top: -3px;
            right: -3px;
            border-right: 3px solid white;
            border-bottom: 3px solid white;
            transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
        }

        &._mini {
            font-size: 1.8rem;

            @include desktop_hd {
                font-size: 2.2rem;
            }

            @include mobile {
                font-size: 1.6rem;
            }
        }
        @include desktop {
            font-size: 1.8rem;
            padding: 1.3rem 5rem 1.2rem;
        }
        @include mobile {
            font-size: 1.6rem;
            padding: 1.1rem 3rem 1rem;
            border-width: 2px;
        }
    }
    &._with_icon {
        position: relative;
        padding-right: 7rem;
        padding-left: 6rem;

        .icon {
            position: absolute;
            top: calc(50% - 2px);
            right: 1.6rem;
            transform: translate(0, -50%);
        }

        @include desktop {
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
        }

        @include mobile {
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
        }
    }

    &._full {
        width: 100%;
    }
}

.is-mobile {
    .button__line {
        &_left,
        &_right {
            height: 100%;
        }

        &_top,
        &_bottom {
            width: 100%;
        }
    }
}