.icon {
    transition: $transition;

    &-menu {
        position: absolute;
        top: 50%;
        width: 44px;
        height: 44px;
        transform: translate(0, -50%);
        border: 0;
        background: transparent;
        border-radius: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;

        &__bar {
            display: block;
            max-width: 17px;
            height: 2px;
            width: 100%;
            margin: 0 auto;
            background: #fff;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        @include media-min(1200px) {
            display: none;
        }

        @include desktop {
            right: 22px;
        }

        @include mobile {
            right: 8px;
        }
    }
    &-cross {
        fill:#EF7B0F;
        width: 2rem;
        height: 2rem;
    }

    &-arrow {
        max-width: 11px;
        max-height: 10px;
        margin-left: 9px;
        position: relative;
        top: -.5px;
        fill: map_get($colors, default);
        @include desktop_hd {
            max-width: 14px;
            max-height: 13px;
        }
    }

    &-cinema {
        max-width: 24px;
        max-height: 22px;
        margin-right: 12px;
        fill: map_get($colors, default);
        @include tablet {
            max-width: 13px;
            max-height: 12px;
        }
    }

    &-play {
        fill: #fff;
        max-height: 31px;
        max-width: 31px;
        user-select: none;
    }

    &-flasks {
        max-width: 54px;
        max-height: 54px;
        fill: map_get($colors, default);
    }

    &-footwear {
        max-width: 68px;
        max-height: 68px;
        fill: map_get($colors, default);
    }

    &-apple {
        max-width: 53px;
        max-height: 60px;
        fill: map_get($colors, default);
    }

    &-spray {
        max-width: 39px;
        max-height: 60px;
        fill: map_get($colors, default);
    }

    &-fire {
        max-width: 38px;
        max-height: 60px;
        fill: map_get($colors, default);
    }

    &-snowflake {
        max-width: 49px;
        max-height: 55px;
        fill: map_get($colors, default);
    }

    &-download {
        max-width: 18px;
        max-height: 17px;
        fill: #fff;

        @include desktop_hd {
            max-width: 24px;
            max-height: 23px;
        }
    }

    &-brochure {
        width: 25px;
        height: 25px;
        fill: #fff;
    }

    &-like {
        fill: #000;
        fill: #fff;
        flex-shrink: 0;
        max-height: 16px;
        max-width: 16px;
    }

    &-collections {
        max-width: 2.4rem;
        max-height: 1.7rem;
        fill: #fff;
    }

    &-filter {
        max-width: 2.4rem;
        max-height: 2.1rem;
        fill: #fff;
    }

    &-filter-reset {
        stroke: currentColor;
        max-width: 2.5rem;
        max-height: 2.5rem;
    }

    &-collections-prev,
    &-collections-next {
        fill: none;
        max-height: 2.1rem;
        max-width: 3.1rem;
    }
}