@mixin list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}
@mixin placeholder {
    @include optional-at-root('::-webkit-input-placeholder') {
        @content;
    }
    @include optional-at-root(':-moz-placeholder') {
        @content;
    }
    @include optional-at-root('::-moz-placeholder') {
        @content;
    }
    @include optional-at-root(':-ms-input-placeholder') {
        @content;
    }
}
@mixin fontFace($family, $src, $family-slug: 'Regular', $style: normal, $weight: normal) {
    @font-face {
        font-family: $family;
        src: local($family + ' ' + $family-slug), local($family + '-' + $family-slug), url("#{$src}.eot");
        src: local($family + ' ' + $family-slug), local($family + '-' + $family-slug), url("#{$src}.eot?#iefix") format('embedded-opentype'), url("#{$src}.woff") format('woff'), url("#{$src}.ttf") format('truetype'), url("#{$src}.svg##{$family}") format('svg');
        font-style: $style;
        font-weight: $weight;
    }
}
@mixin media-max($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}
@mixin media-min($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
@mixin desktop() {
    @media only screen and (max-width: map_get($media, desktop)) {
        @content;
    }
}
@mixin desktop_hd() {
    @media only screen and (min-width: map_get($media, desktop_hd)) {
        @content;
    }
}
@mixin tablet() {
    @media only screen and (max-width: map_get($media, tablet)) {
        @content;
    }
}
@mixin mobile() {
    @media only screen and (max-width: map_get($media, mobile)) {
        @content;
    }
}

/*new*/
@mixin new-desktop-md() {
    @media only screen and (max-width: map_get($media, new-desktop-md)) {
        @content;
    }
}
@mixin new-desktop-sm() {
    @media only screen and (max-width: map_get($media, new-desktop-sm)) {
        @content;
    }
}
@mixin new-tablet() {
    @media only screen and (max-width: map_get($media, new-tablet)) {
        @content;
    }
}

@mixin new-mobile() {
    @media only screen and (max-width: map_get($media, new-mobile)) {
        @content;
    }
}


