a {
    transition: $transition;
}

p {
    font-size: 18px;
    margin: 0;
    font-weight: 300;
    line-height: 28px;
    color: map_get($colors, text);

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    @include desktop_hd {
        line-height: 34px;
        font-size: 22px;
    }
}

a {
    color: map_get($colors, default);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'MetaPro';
    font-weight: 500;
    margin: 0;
    color: map_get($colors, text);
}

h1 {
    font-size: 72px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    @include desktop_hd {
        font-size: 82px;
    }
    @include desktop {
        font-size: 55px;
    }
    @include mobile {
        font-size: 45px;
    }
}

h2 {
    font-size: 48px;
    @include desktop_hd {
        font-size: 58px;
    }
    @include desktop {
        font-size: 38px;
    }
    @include mobile {
        font-size: 38px;
    }
}

h3 {
    font-size: 32px;
    @include desktop_hd {
        font-size: 42px;
    }
    @include desktop {
        font-size: 28px;
    }
    @include mobile {
        font-size: 32px;
    }
}

h4 {
    font-size: 2.4rem;
    @include desktop_hd {
        font-size: 2.4rem;
    }
    @include desktop {
        font-size: 2.4rem;
    }
    @include mobile {
        font-size: 2rem;
    }
}

.label {
    display: block;

    &._additional {
        font-family: 'MetaPro';
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        @include desktop_hd {
            font-size: 42px;
            line-height: 52px;
        }
        @include mobile {
            line-height: 35px;
            font-size: 25px;
        }
    }
}