$default-transition-duration: 0.3s;
$transition: all $default-transition-duration ease;

/* CONTAINER */
$container: (
    large: 1360px,
    medium: 1288px,
    small: 900px
);

/* COLORS */
$colors: (
    default: #ef7b0f,
    gray: #575757,
    darkGray: #f6f6f6,
    text: #000
);

/* BACKGROUNDS */
$bgColors: (
    default: #d6d9d6,
    gray: #ebeceb,
    smoke: #f5f5f5,
    white: #edeeed
);

/* MEDIA QUERIES */
$media: (
    desktop_hd: 1700px,
    desktop: 1199px,
    tablet: 991px,
    mobile: 767px,
    new-desktop-md: 1919px,
    new-desktop-sm: 1599px,
    new-tablet: 1024px,
    new-mobile: 767px,
);





