.features {
    list-style: none;
    padding: 0;
    margin: -25px -35px 0;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(33.3333% - 70px);
        margin: 75px 35px 0;
        padding-left: 80px;
        position: relative;
        display: inline-flex;
        align-items: center;

        p {
            margin: 0;
        }
        @include desktop {
            width: calc(50% - 70px);
            margin: 45px 35px 0;
            padding-left: 0;
            padding-top: 0;
            flex-wrap: wrap;
            text-align: center;
            align-items: flex-start;

            p {
                width: 100%;
            }
        }
        @include mobile {
            width: calc(100% - 70px);
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 0;
        width: 65px;
        transform: translate(0, -50%);
        text-align: center;

        .icon {
            margin: 0 auto;
        }
        @include desktop {
            position: static;
            width: 100%;
            height: 80px;
            margin: 0 0 20px 0;
            transform: translate(0, 0);
            display: flex;
            align-items: flex-end;

            .icon {
                margin: 0 auto;
                max-width: none;
                max-height: none;
                height: 100%;
            }
        }
    }
    @include desktop {
        margin-top: 0;
    }
    @include mobile {
        margin-top: -25px;
    }
}