.map {
    [class*="-map"] {
        min-width: 100%;
    }

    [class*="-controls-pane"] {
        right: 0;
        bottom: 0;
        pointer-events: none;
    }

    [class*="-copyright__content-cell"],
    [class*="-map-copyrights-promo"] {
        display: none !important;
    }

    [class*="-controls__control"] {
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        top: 0 !important;
    }
    @include tablet {
        height: 435px !important;
    }
    @include mobile {
        width: calc(100% + 50px) !important;
        height: 400px !important;
        margin-left: -25px;
        margin-right: -25px;
    }

    .zoom-in,
    .zoom-out {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 63px;
        height: 63px;
        line-height: 63px;
        font-size: 40px;
        background: #fff;
        pointer-events: none;
        text-align: center !important;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: $transition;

        &:hover {
            background: map_get($colors, default);
            color: #fff;
        }

        @include tablet {
            bottom: 15px;
            right: 15px;
            width: 45px;
            height: 45px;
            line-height: 45px;
            font-size: 30px;
        }
        @include mobile {
            bottom: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 20px;
        }
    }

    .zoom-out {
        bottom: 98px;
        font-size: 45px;
        line-height: 55px;

        @include tablet {
            bottom: 70px;
            line-height: 38px;
            font-size: 35px;
        }
        @include mobile {
            bottom: 55px;
            font-size: 28px;
            line-height: 29px;
        }
    }
}