.site-footer {
	padding: 70px 0 45px;
	background: #fff;

    &__inner {
        opacity: 0;
        transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

        &.is-active {
            opacity: 1;
        }
    }

	&__logo {
		&-container {
			margin-right: 140px;
		}
		@include desktop_hd {
			&-container {
				width: 100%;
				max-width: 195px;
			}
			img {
				width: 100%;
			}
		}
		@include media-max(1300px) {
			&-container {
				margin-right: 60px;
				width: auto;
				max-width: none;
			}
		}
		@include desktop {
			&-container {
				margin-right: 80px;
			}
		}
		@include mobile {
			&-container {
				margin: 0 auto 15px;
				width: 100%;
			}
		}
	}

	&__info {
		max-width: 260px;
		margin-right: 55px;
		margin-top: -5px;

		a,
		p {
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			@include desktop_hd {
				font-size: 16px;
				line-height: 26px;
			}
		}

		p {
			margin-bottom: 8px;
		}

		a {
			color: #595959;

			&:hover {
				color: map_get($colors, default);
			}
			@include desktop_hd {
				font-size: 16px;
				line-height: 26px;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 10px;

                &._active,
                &._active a {
                    color: map_get($colors, default);
                }
			}

			a {
				color: #000;

				&:hover {
					color: map_get($colors, default);
				}
			}
		}
		@include desktop_hd {
			max-width: 320px;

			&._add-width {
				max-width: 345px;
			}
		}
		@include media-max(1300px) {
			margin-right: 40px;
		}
		@include desktop {
			margin-right: 60px;
		}
	}

	.links {
		padding-right: 65px;
		margin-top: -8px;
		margin-left: auto;
		@include media-max(1300px) {
			padding-right: 0;
		}
		@include desktop {
			display: none;
		}
	}

	.copyright {
		margin-top: 25px;
		padding-right: 55px;
		display: flex;
		flex-wrap: wrap;

		a,
		p {
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			@include desktop_hd {
				font-size: 16px;
				line-height: 26px;
			}
		}

		.ibrush {
			margin-left: auto;
		}

		.political {
			color: #595959;

			&:hover {
				color: map_get($colors, default);
			}
		}

		&._visible_tablet {
			display: none;
		}

        .site-social {
            display: none;
        }
		@include media-max(1300px) {
			padding-right: 0;
		}
		@include desktop {
			display: none;

			&._visible_tablet {
				display: block;
				margin-top: 15px;
			}

			p {
				display: block;
			}
			@include mobile {
				display: block;

				&._visible_tablet {
					display: none !important;
				}
			}
            .site-social {
                display: flex;
            }
		}
		@include mobile {
			width: 100%;
			margin: 0;
			display: flex;
			flex-wrap: wrap-reverse;
			flex-direction: row-reverse;

			> a {
				width: 100%;
			}

			p {
				width: 100%;
				margin: 0;
			}
		}
	}

	.container {
		max-width: 1400px;
		@include desktop_hd {
			max-width: 1670px;
		}
	}

	.site-social {
		margin-top: 30px;
        margin-left: -5px;
	}
	@include desktop {
		padding: 45px 0;

		.container {
			width: calc(100% + 100px) !important;
			max-width: calc(100% + 100px) !important;
		}
        .site-social {
            margin-top: 20px;

            li {
                margin-right: 15px;
            }
            .icon {
                max-width: 20px;
                max-height: 20px;
            }
        }
	}
	@include mobile {
		text-align: center;
		padding: 30px 0;

		&__logo {
			width: 100%;
			margin: 0 0 20px;
		}

		&__info {
			max-width: none;
			width: 100%;
			margin: 0 0 15px;

			&-title {
				font-size: 15px !important;
			}
		}

		.container {
			width: 100% !important;
		}

        .site-social {
            width: 100%;
            text-align: center;
            justify-content: center;
            margin: 0 0 20px;

            li {
                margin: 0 8px;
            }
        }
	}
}

.is-mobile .site-footer__inner {
    opacity: 1;
}