.site-header {
	position: absolute;
	top: 55px;
	left: 0;
	right: 0;
	z-index: 101;

    &__inner {
        position: relative;
    }

	&._black {
		.icon-menu {
			&__bar {
				background: #000;
			}
		}

        .pdf {
            &:hover {
                .icon {
                    fill: map_get($colors, default);
                }
            }
            .icon {
                fill: #000;
                transition: $transition;
            }
        }

		.site-mobile {
			.icon-menu {
				&__bar {
					background: #fff;
				}
			}
		}

		@include media-min(1200px) {
            .site-social {
                li {
                    a {
                        &:hover {
                            .icon {
                                fill: map_get($colors, default);
                            }
                        }
                    }

                    .icon {
                        fill: #000;
                    }
                }
            }

			.site-nav {
				li._active {
					a {
						color: map_get($colors, default);
					}
				}

				a {
					color: #000;

					&:hover {
						color: map_get($colors, default);
					}
				}
			}

			a {
				color: #000;

				&:hover {
					color: map_get($colors, default);
				}
			}
		}
	}

	.container {
		position: relative;
	}

	.right {
		margin-left: auto;

        img {
            max-height: 25px;
        }

		@include desktop {
            display: none;
        }
	}

    @include desktop_hd {
        a {
            font-size: 22px;
        }

        .link-document {
            img {
                max-width: 25px;
            }
        }
    }

    @include new-tablet {
        top: 20px;
    }

	@include mobile {
		top: 15px;
	}
}

.is-mobile .site-header__inner {
    opacity: 1;
}

.selections {
    height: 26px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;

    @include desktop {
        display: none;
    }

    &:hover {
        .selections__inner {
            //color: map_get($colors, default);
            width: 92px;
        }

        .icon {
            //fill: map_get($colors, default);
        }
    }

    &__inner {
        align-items: center;
        color: #fff;
        bottom: 0;
        background: #EF7B0F;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
        display: inline-flex;
        overflow: hidden;
        padding-left: 5px;
        padding-right: 5px;
        position: absolute;
        right: 0;
        top: 0;
        transition: all 0.3s;
        width: 100%;
    }

    &__text {
        display: inline-block;
        font-size: 12px;
        margin-left: 5px;
        margin-top: -2px;
        vertical-align: middle;
    }
}