{% if page != 'error404' %}
<footer class="site-footer">
    <div class="site-footer__inner">
        <div class="container _large">
            <div class="_flex">
                <div class="site-footer__logo-container">
                    <a href="index.html" class="site-footer__logo _js-link">
                        <img src="assets/svg_icons/logo-black.svg" alt="">
                    </a>
                    <div class="copyright _visible_tablet">
                        {% include 'social.twig' with {'class': '_black'} %}

                        <a href="#" class="political link-animate">
                            <span class="link-animate-text">Политика конфиденциальности</span>
                        </a>
                        <p class="ibrush">
                            Сайт сделан в
                            <a href="http://ibrush.ru/" target="_blank" class="link-animate">
                                <span class="link-animate-text">iBrush.ru</span>
                            </a>
                        </p>
                    </div>
                </div>
                <div class="site-footer__info">
                    <p class="site-footer__info-title">
                        <strong>Производство</strong>
                    </p>
                    <p class="_visible_desktop">Калужская область, д. Добрино, 10-й Восточные проезд владение 1</p>
                    <p>
                        <a href="tel:84952740300" class="tel link-animate">
                            <span class="link-animate-text">8 495 274 03 00</span>
                        </a>
                        <br>
                        <a href="maito:info@laminamrus.com" class="email link-animate">
                            <span class="link-animate-text">info@laminamrus.com</span>
                        </a>
                    </p>
                </div>
                <div class="site-footer__info">
                    <p class="site-footer__info-title">
                        <strong>Шоурум и отдел продаж</strong>
                    </p>
                    <p class="_visible_desktop">Москва, Пресненская набережная стр. 12, Башня «Федерация Восток», этаж 28, офис 18</p>
                    <p>
                        <a href="tel:84995570000" class="tel link-animate">
                            <span class="link-animate-text">8 499 557 0000</span>
                        </a>
                        <br>
                        <a href="maito:sales@laminamrus.com" class="email link-animate">
                            <span class="link-animate-text">sales@laminamrus.com</span>
                        </a>
                    </p>
                    <p>
                        Пресс-служба <br>
                        <a href="maito:press@laminamrus.com" class="email link-animate">
                            <span class="link-animate-text">press@laminamrus.com</span>
                        </a>
                    </p>
                </div>
                <div class="site-footer__info links">
                    <ul>
                        <li>
                            <a href="brand.html" class="link-animate _js-link">
                                <strong class="link-animate-text">История</strong>
                            </a>
                        </li>
                        <li>
                            <a href="tehnology.html" class="link-animate _js-link">
                                <strong class="link-animate-text">Технологии</strong>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-animate _js-link">
                                <strong class="link-animate-text">Материалы</strong>
                            </a>
                        </li>
                    </ul>
                    {% include 'social.twig' with {'class': '_black'} %}
                </div>
            </div>
            <div class="copyright">
                <a href="#" class="political link-animate">
                    <span class="link-animate-text">Политика конфиденциальности</span>
                </a>
                <p class="ibrush">
                    Сайт сделан в
                    <a href="http://ibrush.ru/" target="_blank" class="link-animate">
                        <span class="link-animate-text">iBrush.ru</span>
                    </a>
                    {% include 'social.twig' with {'class': '_black'} %}
                </p>
            </div>
        </div>
    </div>
</footer>
{% endif %}