{% if page != 'error404' %}
<header class="site-header {% if blackHeader %}_black{% endif %}">
    <div class="site-header__inner catalog-container _large _flex _flex--items-center">
        <a href="index.html" class="site-logo">
            {% if menuItem == 'home' %}<img src="assets/svg_icons/logo.svg" alt="">{% endif %}
            {% if menuItem != 'home' %}<img src="assets/svg_icons/logo-black.svg" alt="">{% endif %}
        </a>
        <button class="icon-menu _js-toggle-menu">
            <span class="icon-menu__bar"></span>
            <span class="icon-menu__bar"></span>
            <span class="icon-menu__bar"></span>
        </button>

        {% include 'nav.twig' %}

        <div class="right _flex _flex--items-center">
            {% include 'social.twig' %}

            <a href="#" class="link-document link-animate pdf">
                <svg class="icon icon-brochure"><use xlink:href="#brochure"></use></svg>
                <span class="link-animate-text">Презентация</span>
            </a>
        </div>

        <a href="sets.html" class="selections _js-link">
            <span class="selections__inner">
                <svg class="icon icon-like"><use xlink:href="#like"></use></svg>
                <span class="selections__text">подборки</span>
            </span>
        </a>
    </div>
    <div class="site-mobile">
        <div class="site-mobile__inner">
            <div class="site-mobile__header">
                <a href="index.html" class="site-logo">
                    <img src="assets/svg_icons/logo.svg" alt="">
                </a>

                <button class="icon-menu _js-toggle-menu">
                    <span class="icon-menu__bar"></span>
                    <span class="icon-menu__bar"></span>
                    <span class="icon-menu__bar"></span>
                </button>
            </div>
            <div class="site-mobile__content">
                {% include 'nav.twig' %}
            </div>
            <div class="site-mobile__footer">
                {% include 'social.twig' %}

                <p>Сайт сделан в
                    <a href="http://ibrush.ru" target="_blank">iBrush.ru</a>
                </p>
                <p>
                    <a href="#" class="political">Политика конфиденциальности</a>
                </p>
            </div>
        </div>
    </div>
</header>
{% endif %}