<nav class="site-nav">
    <ul>
        <li class="_home {% if menuItem == 'home' %}_active{% endif %}">
            <a href="index.html" class="link-animate _js-link">
                <span class="link-animate-text">Главная</span>
            </a>
        </li>
        <li class="{% if menuItem == 'brand' %}_active{% endif %}">
            <a href="brand.html" class="link-animate _js-link">
                <span class="link-animate-text">О бренде</span>
            </a>
        </li>
        <li class=" {% if menuItem == 'tehnology' %}_active{% endif %}">
            <a href="tehnology.html" class="link-animate _js-link">
                <span class="link-animate-text">Технология</span>
            </a>
        </li>
        <li class="{% if menuItem == 'catalog' %}_active{% endif %}">
            <a href="catalog.html" class="link-animate _js-link">
                <span class="link-animate-text">Каталог</span>
            </a>
        </li>
        <li class="{% if menuItem == 'personal-design' %}_active{% endif %}">
            <a href="personal-design.html" class="link-animate _js-link">
                <span class="link-animate-text">Персональный декор</span>
            </a>
        </li>
        <li class="{% if menuItem == 'projects' %}_active{% endif %}">
            <a href="projects.html" class="link-animate _js-link">
                <span class="link-animate-text">Проекты</span>
            </a>
        </li>
        <li class="{% if menuItem == 'contacts' %}_active{% endif %}">
            <a href="contacts.html" class="link-animate _js-link">
                <span class="link-animate-text">Контакты</span>
            </a>
        </li>
        <li class="site-nav__item site-nav__item_collections {% if menuItem == 'collections' %}_active{% endif %}">
            <a href="sets.html" class="link-animate _js-link">
                <span class="link-animate-text">Подборки</span>

                <svg class="icon icon-like"><use xlink:href="#like"></use></svg>
            </a>
        </li>
    </ul>
</nav>