<ul class="site-social {{ class }}">
    <li>
        <a href="https://www.facebook.com/laminamrus/" target="_blank">
            <svg class="icon icon-fb"><use xlink:href="#fb"></use></svg>
        </a>
    </li>
    <li>
        <a href="https://www.instagram.com/laminamrus/" target="_blank">
            <svg class="icon icon-inst"><use xlink:href="#inst"></use></svg>
        </a>
    </li>
</ul>