{% extends 'templates/base.twig' %}
{% set page = 'error404' %}

{% block title %}Laminam :: 404 Похоже, такой страницы не существует{% endblock %}

{% block page %}
    <main class="site-content">
        <div class="error">
            <div class="error-thumb animated d0-3 s0-5 opacity-0" data-animate="fadeIn" style="background-image: url('assets/bg-error404.jpg')"></div>
            <div class="container _flex _flex--items-center">
                <div class="error-code animated d0-7 s0-5 opacity-0" data-animate="fadeInError">404</div>

                <div class="error-inner animated d0-9 s0-5 opacity-0" data-animate="fadeIn">
                    <div class="error-title">Похоже, такой страницы не&nbsp;существует</div>
                    <a href="index.html" class="button button-default">На&nbsp;главную</a>
                </div>

                <a href="index.html" class="site-logo animated d1-1 s0-5 opacity-0" data-animate="fadeIn">
                    <img src="assets/svg_icons/logo.svg" alt="">
                </a>
            </div>
        </div>
    </main>
{% endblock %}