{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'brand' %}
{% set blackHeader = true %}

{% block title %}Laminam :: О бренде{% endblock %}

{% block page %}
    <main class="site-content">
        <div class="banner _standard _brand _js-animated-block">
            <div class="banner-content banner-line__container">
                <h1>История и&nbsp;география Laminam</h1>
                <div class="banner-info _flex">
                    <div class="banner-info__left">
                        <span class="label _additional">Laminam возникла в&nbsp;2001 году по&nbsp;инициативе инженера Франко Стефани, новатора керамической промышленности, который&nbsp;придумал это изделие, создав для него эффективную технологию.</span>
                        <img src="assets/info3.jpg" class="banner-info__thumb visible-lg">
                    </div>
                    <div class="banner-info__right">
                        <p>Все началось с&nbsp;патента на&nbsp;технологию производства керамических плит с&nbsp;большой поверхностью и&nbsp;минимальной толщиной, которая в&nbsp;первые годы третьего
                            тысячелетия оказалась совершенно новым продуктом, придав новый импульс зрелой отрасли.</p>
                        <p>Мы&nbsp;нашли новые области применения для полученного материала, чтобы использовать весь его потенциал, как в&nbsp;обычных сферах применения, таких как архитектура, внутренняя
                            и&nbsp;наружная облицовка, так и&nbsp;в&nbsp;новых направлениях, таких как оборудование и&nbsp;технологии производства энергии из&nbsp;возобновляемых источников.</p>
                        <p>Сегодня компания Laminam производит керамические плиты больших размеров, которые отличают эклектика и&nbsp;вариативность, для многочисленных применений в&nbsp;традиционной,
                            а&nbsp;также авангардной архитектуре, в&nbsp;формировании интерьеров и&nbsp;дизайне.</p>

                        <img src="assets/info3.jpg" class="banner-info__thumb visible-xs-md">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__quote _bg_smoke _js-animated-block">
            <div class="container _large banner-line__container">
                <span class="banner-line banner-line__top animated d0 s0-3 _now" data-animate="widthIn"></span>
                <span class="banner-line banner-line__right animated d0-3 s0-3 _now" data-animate="heightIn"></span>
                <span class="banner-line banner-line__bottom animated d0-6 s0-3 _now" data-animate="widthIn"></span>
                <span class="banner-line banner-line__left animated d0-9 s0-3 _now" data-animate="heightIn"></span>
                <svg class="icon icon-quote _top animated">
                    <use xlink:href="#quote"></use>
                </svg>
                <svg class="icon icon-quote _bottom">
                    <use xlink:href="#quote"></use>
                </svg>
                <p>Люди, идеи, изобретения. Способность думать неординарно и&nbsp;придумывать новое, начиная с&nbsp;исходного сырья; нежелание принимать ограничения, навязанные прошлым опытом. Именно
                    так рождаются новые парадигмы: появляются нестандартные идеи и&nbsp;точки отсчета, которые становятся моделью, предлагающей новые решения.</p>
                <span class="author">Инженер Франко Стефани, Президент</span>
            </div>
        </div>

        <div class="info-block info-block__map _bg_white _js-animated-block">
            <div class="container fadeInTop _medium _flex _flex--items-center">
                <div class="info-block__left offsetInTop animated s0-5 opacity-0">
                    <h3 class="animated s0-5 d0-3 d0--sm opacity-0">Три производственных площадки, где применяется единая технология &laquo;модели&nbsp;Laminam&raquo;</h3>
                    <p class="animated s0-5 d0-4 d0-2--sm opacity-0">Головное предприятие находится в&nbsp;Италии, во&nbsp;Фьорано Моденезе, в&nbsp;самом сердце провинции города Модена.</p>
                    <p class="animated s0-5 d0-5 d0-2--sm opacity-0">К&nbsp;нему прибавились два новых производственных предприятия, которые увеличивают в&nbsp;три раза производственную мощность.</p>
                    <p class="animated s0-5 d0-6 d0-2--sm opacity-0">Одно из&nbsp;них находится в&nbsp;Борготаро (провиция города Парма), и&nbsp;полностью посвящено производству плит форматом 1620&times;3240мм, а&nbsp;другое в&nbsp;России, сфокусированное на&nbsp;формате 1000&times;3000мм.</p>
                </div>
            </div>
        </div>

        <div class="info-block info-block__slider _bg_smoke _js-animated-block">
            <div class="container fadeInTop _medium _flex">
                <div class="info-block__left">
                    <h3 class="offsetInTop _visible_mobile-desktop">Российский завод LaminamRus расположен в&nbsp;Калужской области, в&nbsp;индустриальном парке Ворсино.</h3>
                    <div class="loader-container offsetInTop">
                        <div class="slider slider-info _js-slider-info">
                            <div class="slider-item">
                                <img src="assets/info5.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info3.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info2.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info3.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block__right _flex _flex--items-center offsetInTop">
                    <div class="info-block__inner">
                        <h3 class="_visible_desktop">Российский завод LaminamRus расположен в&nbsp;Калужской области, в&nbsp;индустриальном парке Ворсино.</h3>
                        <p>Производство оснащено автоматизированными линиями и&nbsp;специализируется на&nbsp;производстве керамических плит форматом 1000&times;3000&nbsp;мм, толщиной
                            3&nbsp;и&nbsp;5&nbsp;мм, чтобы более эффективно реагировать на&nbsp;растущий спрос российского рынка.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__video-block _bg_smoke video-block fadeInTop _js-animated-block">
            <span class="video-close _js-stop-video">
                <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
            </span>
            <div class="video-thumb" data-bgi="assets/bg-video1.jpg"></div>
            <div class="video-content">
                <div class="container _large">
                    <svg class="icon icon-play _js-play-video">
                        <use xlink:href="#play"></use>
                    </svg>
                    <p>Открытие завода в&nbsp;России</p>
                </div>
            </div>
            <div class="video-frame animated d0-5 s0-5 opacity-0" data-animate="fadeIn" id="video_faS9yOsw6iY" data-video="faS9yOsw6iY"></div>
        </div>

        <div class="info-block info-block__more _bg_smoke fadeInBlock _js-animated-block">
        <div class="container _flex _flex--items-center">
            <a href="tehnology.html" class="button button-link link-animate _js-link _js-animate-link">
                <span class="link-animate-text">Далее про технологии</span>
                <svg class="icon icon-arrow">
                    <use xlink:href="#arrow"></use>
                </svg>

                <span class="button__line button__line_top js-button-line"></span>
                <span class="button__line button__line_right js-button-line"></span>
                <span class="button__line button__line_bottom js-button-line"></span>
                <span class="button__line button__line_left js-button-line"></span>
            </a>
        </div>
        </div>
    </main>

{% endblock %}