{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'catalog' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Каталог{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">
            <div class="catalog-filter">
                <div class="catalog-container">
                    <h1 class="site-catalog__title">Коллекции</h1>

                    <div class="catalog-filter__inner _flex">
                        <div class="catalog-filter__content">
                            <div class="form">
                                <div class="form-group _third" data-selectize-id="1">
                                    <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="group">
                                        <option></option>
                                        <option value="дерево">дерево</option>
                                        <option value="дизайн">дизайн</option>
                                        <option value="камень">камень</option>
                                        <option value="бетон/штукатурка">бетон/штукатурка</option>
                                        <option value="моноколор">моноколор</option>
                                    </select>

                                    <span class="form-placeholder">Группа</span>
                                </div>

                                <div class="form-group _third" data-selectize-id="2">
                                    <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="thickness">
                                        <option></option>
                                        <option value="3.5">3.5</option>
                                        <option value="5.6">5.6</option>
                                        <option value="12">12</option>
                                    </select>

                                    <span class="form-placeholder">Толщина</span>
                                </div>

                                <div class="form-group _third" data-selectize-id="3">
                                    <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="size">
                                        <option></option>
                                        <option value="1000*3000">1000*3000</option>
                                        <option value="1620*3240">1620*3240</option>
                                    </select>

                                    <span class="form-placeholder">Размер</span>
                                </div>
                            </div>
                            <div class="catalog-filter__reset">
                                <span class="reset-filter reset-filter--orange js-reset-filter">
                                    <svg class="icon icon-cross">
                                        <use xlink:href="#cross"></use>

                                        </svg>
                                    Cбросить фильтр
                                </span>
                            </div>
                        </div>

                        <button class="button button-default _with_icon catalog-filter-btn js-extend-filter is-filter" type="button">
                            <span class="catalog-filter-btn__content catalog-filter-btn__content_filter">
                                Умный фильтр
                                <svg class="icon icon-filter"><use xlink:href="#filter"></use></svg>
                            </span>

                             <span class="catalog-filter-btn__content catalog-filter-btn__content_collections">
                                Коллекции
                                <svg class="icon icon-collections"><use xlink:href="#collections"></use></svg>
                            </span>
                        </button>
                    </div>
                </div>

                <div class="catalog-filter__panel">
                    <div class="catalog-container">
                        <div class="collections-slider-wrap js-collections-slider-wrap is-active">
                            <button type="button" class="collections-slider-wrap__nav collections-slider-wrap__nav_prev is-prev js-collections-slider-btn">
                                <svg class="icon icon-collections-prev"><use xlink:href="#collections-prev"></use></svg>
                            </button>

                            <div class="collections-slider js-collections-slider">
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Blend</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Calce</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Collection</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Filo</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Fokos</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">I Metalli</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">I Naturali</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Kanka</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Kotan</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Kauri</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link _js-link">Legno Venezia</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link">L-Wood</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link">OsSido</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link">Oxide</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link">Seta</a>
                                </div>
                                <div class="collections-slider__item js-collections-slider-item">
                                    <a href="catalog-collection-detail.html" class="collections-slider__link">Tredi</a>
                                </div>
                            </div>

                            <button type="button" class="collections-slider-wrap__nav collections-slider-wrap__nav_next is-next js-collections-slider-btn">
                                <svg class="icon icon-collections-next"><use xlink:href="#collections-next"></use></svg>
                            </button>
                        </div>

                        <div class="catalog-filter__content-wrap js-catalog-filter-wrap">
                            <div class="catalog-filter__content">
                                <div class="form">
                                    <div class="form-group _third" data-selectize-id="4">
                                        <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="shade">
                                            <option></option>
                                            <option value="светлые">светлые</option>
                                            <option value="холодные">холодные</option>
                                        </select>

                                        <span class="form-placeholder">Оттенок</span>
                                    </div>

                                    <div class="form-group _third" data-selectize-id="5">
                                        <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="mode">
                                            <option></option>
                                            <option value="внутри">внутри</option>
                                            <option value="снаружи">снаружи</option>
                                        </select>

                                        <span class="form-placeholder">Способ применения</span>
                                    </div>

                                    <div class="form-group _third" data-selectize-id="6">
                                        <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="style">
                                            <option></option>
                                            <option value="модерн">модерн</option>
                                            <option value="классика">классика</option>
                                        </select>

                                        <span class="form-placeholder">Стиль</span>
                                    </div>
                                </div>
                            </div>

                            <span class="reset-filter js-reset-filter">
                                сбросить фильтр
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="catalog-container">
                <div class="collections-list is-active js-collections-list">
                    <ul class="collections-list__inner">
                        <li class="collections-list__item js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-1.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">Blend</h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>
                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Воплощает гибкость и&nbsp;изменчивость. Вдохновленный индустриальным бетоном дизайн создает особый эффект наполненности и&nbsp;минимализма.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</a>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</a>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="collections-list__item js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-2.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">Calce</h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>
                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Мягкие тона и&nbsp;нежные оттенки, вдохновленные фактурой мокрой штукатурки и&nbsp;промышленного цемента. Деликатный материал с&nbsp;ярко выраженным современным характером, икона изысканного дизайна.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</span>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </li>

                        <li class="collections-list__item js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-3.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">
                                        Collection

                                        <span class="collections-list__label collection-label">New</span>
                                    </h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>
                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Самая &laquo;долгоиграющая&raquo; коллекция. Производится с&nbsp;2002&nbsp;года. Здесь цвет берет на&nbsp;себя определяющую роль.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</span>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="collections-list__item collections-list__item_dark js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-4.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">
                                        Filo
                                    </h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>

                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Поражающая воображение текстура, созданная по&nbsp;образу переливающейся металлической нити, которая повторяется в&nbsp;бесконечных сплетениях радужных звеньев.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</span>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </li>


                        <li class="collections-list__item js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-2.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">Calce</h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>
                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Мягкие тона и&nbsp;нежные оттенки, вдохновленные фактурой мокрой штукатурки и&nbsp;промышленного цемента. Деликатный материал с&nbsp;ярко выраженным современным характером, икона изысканного дизайна.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</span>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </li>

                        <li class="collections-list__item js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-3.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">
                                        Collection

                                        <span class="collections-list__label collection-label">New</span>
                                    </h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>
                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Самая &laquo;долгоиграющая&raquo; коллекция. Производится с&nbsp;2002&nbsp;года. Здесь цвет берет на&nbsp;себя определяющую роль.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</span>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </li>

                        <li class="collections-list__item js-collections-list-item" style="background-image: url('../assets/bin/collections/collection-big-4.jpg')">
                            <a href="catalog-collection-detail.html" class="collections-list__mobile-link _js-link"></a>

                            <div class="collections-list__info">
                                <header class="collections-list__header">
                                    <h4 class="collections-list__title">
                                        Filo
                                    </h4>

                                    <a href="catalog-collection-detail.html" class="_js-link">
                                        <span>Смотреть всю коллекцию</span>
                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </a>
                                </header>

                                <p class="collections-list__description">Поражающая воображение текстура, созданная по&nbsp;образу переливающейся металлической нити, которая повторяется в&nbsp;бесконечных сплетениях радужных звеньев.</p>
                            </div>

                            <div class="collections-list__content js-collections-list-content">
                                <div class="stove-list js-stove-list">
                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-bianco.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Bianco</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-tortora.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Tortora</span>
                                        </a>
                                    </div>

                                    <div class="stove-list__column">
                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-avorio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Avorio</span>
                                        </a>

                                        <a href="catalog-card.html" class="stove-list__item js-stove-list-item _js-link">
                                            <img src="../assets/bin/collections/collection-grigio.jpg" class="stove-list__img" alt="">

                                            <span class="stove-list__name">Grigio</span>
                                        </a>
                                    </div>


                                </div>
                            </div>
                        </li>
                    </ul>

                    <button type="button" class="button button-default collections-list__btn js-collections-list-btn">Смотреть все <span class="collections-list__btn-notice">(10&nbsp;коллекций)</span></button>
                </div>

                <ul class="materials-list js-materials-list">
                    <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/antracite.jpg')" data-materials-item='{ "group": ["дерево", "дизайн"], "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Antracite

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Calce</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item" style="background-image: url('../assets/bin/materials/avorio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Avorio

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Collection</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item" style="background-image: url('../assets/bin/materials/beige.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <span class="materials-list__label collection-label">New</span>

                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Beige

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Kotan</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item" style="background-image: url('../assets/bin/materials/grigio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Grigio

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Blend</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/nero.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Nero

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Blend</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/tortora.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Tortora

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Kauri</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/antracite.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Antracite

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Calce</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item" style="background-image: url('../assets/bin/materials/avorio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Avorio

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Collection</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item" style="background-image: url('../assets/bin/materials/beige.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Beige

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Kotan</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item" style="background-image: url('../assets/bin/materials/grigio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Grigio

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Blend</span>
                            </footer>
                        </a>
                    </li>

                    <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/nero.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5", "size": "1000*3000", "shade": "светлые", "mode": "внутри", "style": "модерн" }'>
                        <a href="catalog-card.html" class="materials-list__link _js-link">
                            <footer class="materials-list__footer">
                                <span class="materials-list__name">
                                    Nero

                                    <svg class="icon icon-arrow">
                                        <use xlink:href="#arrow"></use>
                                    </svg>
                                </span>
                                <span class="materials-list__collection">Blend</span>
                            </footer>
                        </a>
                    </li>
                </ul>

                <h4 class="materials-not-found">По&nbsp;данному фильтру совпадений не&nbsp;найдено</h4>
            </div>
        </div>
    </main>
{% endblock %}