{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Каталог - Карточка{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">
            <div class="catalog-card">
                <div class="catalog-container">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Каталог</a> 
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Calce</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__current">Grigio</span>
                        </li>
                    </ul>

                    <div class="fadeInBlock _js-animated-block">
                        <div class="catalog-card-wrap">
                            <header class="catalog-card__header">
                                <div class="fadeInBlock">
                                    <h1 class="site-catalog__title">Grigio</h1>
                                    <h2 class="site-catalog__subtitle">коллекция CALCE</h2>
                                </div>
                            </header>

                            <div class="catalog-card__inner">
                                <div class="catalog-card__info">
                                    <table class="main-characters-table">
                                        <tr class="main-characters-table__row">
                                            <td class="main-characters-table__cell">
                                                <span class="main-characters-table__key">Группа</span>
                                            </td>
                                            <td class="main-characters-table__cell">
                                                Дерево, дизайн
                                            </td>
                                        </tr>
                                        <tr class="main-characters-table__row">
                                            <td class="main-characters-table__cell">
                                                <span class="main-characters-table__key">Толщина</span>
                                            </td>
                                            <td class="main-characters-table__cell">
                                                3&nbsp;/ 5.6&nbsp;/ 12
                                            </td>
                                        </tr>
                                        <tr class="main-characters-table__row">
                                            <td class="main-characters-table__cell">
                                                <span class="main-characters-table__key">Размер</span>
                                            </td>
                                            <td class="main-characters-table__cell">
                                                1000*3000
                                            </td>
                                        </tr>
                                        <tr class="main-characters-table__row">
                                            <td class="main-characters-table__cell">
                                                <span class="main-characters-table__key">Коэффициент трения</span>
                                            </td>
                                            <td class="main-characters-table__cell">
                                                Laminam&nbsp;5
                                            </td>
                                        </tr>
                                    </table>

                                    <table class="characters-table">
                                        <tr class="characters-table__row">
                                            <th class="characters-table__title" colspan="2">Норма-Метод</th>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">
                                                DIN 51130
                                            </td>
                                            <td class="characters-table__cell">
                                                R10
                                            </td> 
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">
                                                DIN 51097
                                            </td>
                                            <td class="characters-table__cell">
                                                A+B
                                            </td>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">
                                                ANSI A137.1 (DCOF)
                                            </td>
                                            <td class="characters-table__cell">
                                                &ge; 0,42*
                                            </td>                          
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">ASTM C-1028</td>
                                            <td class="characters-table__cell">по&nbsp;требованию</td>
                                        </tr>
                                    </table>

                                    <table class="characters-table">
                                        <tr class="characters-table__row">
                                            <th class="characters-table__title">Pendulum</th>
                                            <th class="characters-table__title">Норма-Метод</th>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">Испанский тест</td>
                                            <td class="characters-table__cell">UNE-ENV 12633:2003</td>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">Английский тест</td>
                                            <td class="characters-table__cell">BS 7976-2:2002 PENDULUM TESTERS</td>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">Австралийский тест</td>
                                            <td class="characters-table__cell">AS/NZS 4586</td>
                                        </tr>
                                    </table>

                                    <table class="characters-table">
                                        <tr class="characters-table__row">
                                            <th class="characters-table__title" colspan="2">Hydrotect<sup class="reg">&reg;</sup> обработка для наружной облицовки HYE</th>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell characters-table__cell_without-border">Kanka Black HYE 1000X3000 Laminam&nbsp;5</td>
                                            <td class="characters-table__cell characters-table__cell_without-border characters-table__cell_right">FH00008</td>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__title" colspan="2">
                                                Kanka Black HYE 1000X3000 Laminam&nbsp;5
                                            </td>
                                        </tr>
                                        <tr class="characters-table__row">
                                            <td class="characters-table__cell">Kanka Black HYE 1000X3000 Laminam&nbsp;5</td>
                                            <td class="characters-table__cell characters-table__cell_right">FH00012</td>
                                        </tr>
                                    </table>

                                    <div class="catalog-card__nav">
                                        <button type="button" class="img-download-btn with-icon setsSingle">
                                            Скачать HiRes

                                            <svg class="icon icon-download"><use xlink:href="#download"></use></svg>
                                        </button>

                                        <span class="add-to-collection js-add-to-collection">
                                            <div class="add-to-collection__content">
                                                <svg class="icon icon-add-to-collection"><use xlink:href="#add-to-collection"></use></svg>
                                            
                                                Добавить в&nbsp;подборку
                                            </div>

                                            <div class="add-to-collection__dropdown">
                                                <div class="add-to-collection__input-wrap">
                                                    <input type="text" value="" class="add-to-collection__input" v-model="name">

                                                    <span class="add-to-collection__title">Создать новую подборку</span>
                                                </div>

                                                <div class="add-to-collection__inner">
                                                    <span class="add-to-collection__label">Или добавить в&nbsp;существующую</span>

                                                    <ul class="add-to-collection-list">
                                                        <li class="add-to-collection-list__item">
                                                             Идеи
                                                        </li>
                                                        <li class="add-to-collection-list__item">
                                                            Следующий проект
                                                        </li>
                                                        <li class="add-to-collection-list__item">
                                                            Оригинальный дизайн
                                                        </li>
                                                    </ul>   
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    
                                    <span class="catalog-card__notice">* Гарантируется по&nbsp;требованию на&nbsp;этапе заказа</span>
                                </div>

                                <div class="catalog-card__preview">
                                    <div class="stove-preview">
                                        <div class="stove-preview__main-column">
                                            <div class="stove-preview__main-img" style="background-image: url('../assets/bin/catalog-card/catalog-card-main.jpg')">
                                                <span class="collection-label stove-preview__label">New</span>
                                            </div>

                                            <button type="button" class="img-download-btn with-icon setsSingle">
                                                Скачать HiRes

                                                <svg class="icon icon-download"><use xlink:href="#download"></use></svg>
                                            </button>
                                        </div>

                                        <div class="stove-preview__extra-column">
                                            <div class="stove-preview__extra-img" style="background-image: url('../assets/bin/catalog-card/catalog-card-extra.jpg')">
                                            </div>

                                            <span class="add-to-collection is-done js-add-to-collection">
                                                <div class="add-to-collection__content">
                                                    <svg class="icon icon-add-to-collection"><use xlink:href="#add-to-collection"></use></svg>
                                                
                                                    Добавлено в&nbsp;подборку <span class="add-to-collection__selected-collection">Следующие проекты</span>
                                                </div>

                                                <div class="add-to-collection__dropdown">
                                                    <div class="add-to-collection__input-wrap is-valid">
                                                        <input type="text" value="" class="add-to-collection__input">

                                                        <span class="add-to-collection__title">Создать новую подборку</span>
                                                    </div>

                                                    <div class="add-to-collection__inner">
                                                        <span class="add-to-collection__label">Или добавить в&nbsp;существующую</span>

                                                        <ul class="add-to-collection-list">
                                                            <li class="add-to-collection-list__item">
                                                                 Идеи
                                                            </li>
                                                            <li class="add-to-collection-list__item">
                                                                Следующий проект
                                                            </li>
                                                            <li class="add-to-collection-list__item">
                                                                Оригинальный дизайн
                                                            </li>
                                                        </ul>   
                                                    </div>
                                                </div>
                                            </span>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
 

            <div class="catalog-container _js-animated-block">
                <div class="similar-stoves fadeInBlock">
                    <h4 class="similar-stoves__title">Похожие плиты</h4>
                    
                    <ul class="materials-list is-active">
                        <li class="materials-list__item materials-list__item_dark materials-list__item_fourth" style="background-image: url('../assets/bin/materials/antracite.jpg')" data-materials-item="{ &quot;group&quot;: &quot;дерево&quot;, &quot;thickness&quot;: &quot;3.5&quot;, &quot;size&quot;: &quot;1000*3000&quot;, &quot;shade&quot;: &quot;светлые&quot;, &quot;mode&quot;: &quot;внутри&quot;, &quot;style&quot;: &quot;модерн&quot; }">
                            <a href="catalog-card.html" class="materials-list__link _js-link">
                                <footer class="materials-list__footer">
                                    <span class="materials-list__name">
                                        Antracite

                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </span>
                                    <span class="materials-list__collection">Calce</span>
                                </footer>
                            </a>
                        </li>

                        <li class="materials-list__item materials-list__item_fourth" style="background-image: url('../assets/bin/materials/avorio.jpg')" data-materials-item="{ &quot;group&quot;: &quot;дерево&quot;, &quot;thickness&quot;: &quot;3.5&quot;, &quot;size&quot;: &quot;1000*3000&quot;, &quot;shade&quot;: &quot;светлые&quot;, &quot;mode&quot;: &quot;внутри&quot;, &quot;style&quot;: &quot;модерн&quot; }">
                            <a href="catalog-card.html" class="materials-list__link _js-link">
                                <footer class="materials-list__footer">
                                    <span class="materials-list__name">
                                        Avorio

                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </span>
                                    <span class="materials-list__collection">Collection</span>
                                </footer>
                            </a>
                        </li>

                        <li class="materials-list__item materials-list__item_fourth" style="background-image: url('../assets/bin/materials/beige.jpg')" data-materials-item="{ &quot;group&quot;: &quot;дерево&quot;, &quot;thickness&quot;: &quot;3.5&quot;, &quot;size&quot;: &quot;1000*3000&quot;, &quot;shade&quot;: &quot;светлые&quot;, &quot;mode&quot;: &quot;внутри&quot;, &quot;style&quot;: &quot;модерн&quot; }">
                            <span class="materials-list__label collection-label">New</span>

                            <a href="catalog-card.html" class="materials-list__link _js-link">
                                <footer class="materials-list__footer">
                                    <span class="materials-list__name">
                                        Beige

                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </span>
                                    <span class="materials-list__collection">Kotan</span>
                                </footer>
                            </a>
                        </li>

                        <li class="materials-list__item materials-list__item_fourth" style="background-image: url('../assets/bin/materials/grigio.jpg')" data-materials-item="{ &quot;group&quot;: &quot;дерево&quot;, &quot;thickness&quot;: &quot;3.5&quot;, &quot;size&quot;: &quot;1000*3000&quot;, &quot;shade&quot;: &quot;светлые&quot;, &quot;mode&quot;: &quot;внутри&quot;, &quot;style&quot;: &quot;модерн&quot; }">
                            <a href="catalog-card.html" class="materials-list__link _js-link">
                                <footer class="materials-list__footer">
                                    <span class="materials-list__name">
                                        Grigio

                                        <svg class="icon icon-arrow">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </span>
                                    <span class="materials-list__collection">Blend</span>
                                </footer>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="info-block info-block__catalog _bg_white _js-animated-block">
                <div class="catalog-container fadeInBlock _medium">
                    <div class="info-block__info">
                        <div class="info-block__inner-projects">
                            <h4 class="info-block__projects-title title-with-line">Проекты с&nbsp;применением  коллекции Calce</h4>

                            <div class="info-block__catalog-nav js-catalog-nav"></div>
                        </div>
                        

                        <div class="slider _slider-catalog _arrows _js-slider-catalog">
                            <div class="slider-item">
                                <div class="slider-item__thumb-container" data-toggle="modal" data-target="#gallery" data-go-to="0">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big1.jpg" data-bgi="assets/catalog-item-big1.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">Fokos Sale</a></h5>
                                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item">
                                <div class="slider-item__thumb-container" data-toggle="modal" data-target="#gallery" data-go-to="1">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big2.jpg" data-bgi="assets/catalog-item-big2.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">I Naturali Pietre, Basalto Vena Chiara</a></h5>
                                        <p class="slider-item__info">2015, London (England)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item" data-toggle="modal">
                                <div class="slider-item__thumb-container" data-target="#gallery" data-go-to="2">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big3.jpg" data-bgi="assets/catalog-item-big3.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">Fokos Sale</a></h5>
                                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item" data-toggle="modal">
                                <div class="slider-item__thumb-container" data-target="#gallery" data-go-to="3">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big4.jpg" data-bgi="assets/catalog-item-big4.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">Fokos Sale</a></h5>
                                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="info-block info-block__contacts _bg_white _js-animated-block" style="background-image: url('assets/map-contacts.png')">
                <div class="container fadeInBlock _medium">
                    <div class="tab-container js-tab-container">
                        <header class="contacts-header">
                            <h4 class="contacts-header__title">Где купить?</h4>

                            <ul class="contacts-tab-nav js-tab-nav">
                                <li class="contacts-tab-nav__item js-tab-nav-item _active">
                                    <a href="#russia" data-toggle="tab" class="contacts-tab-nav__link">Россия</a>
                                </li>
                                <li class="contacts-tab-nav__item js-tab-nav-item">
                                    <a href="#belarus" data-toggle="tab" class="contacts-tab-nav__link">Беларусь</a>
                                </li>
                            </ul>
                        </header>

                        <div class="tab-content tab-content_main js-tab-content">
                            <div id="russia" class="tab-pane js-tab-pane _active">
                                <div class="tab-container js-tab-container">
                                    <nav class="tab-nav js-tab-nav">
                                        <ul>
                                            <li class="js-tab-nav-item _active">
                                                <a href="#russia-tab1" data-toggle="tab">ЦЕНТРАЛЬНЫЙ</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#russia-tab2" data-toggle="tab">СЕВЕРО-ЗАПАДНЫЙ</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#russia-tab3" data-toggle="tab">ЮЖНЫЙ</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#russia-tab4" data-toggle="tab">СЕВЕРОКАВКАЗСКИЙ</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#russia-tab5" data-toggle="tab">ПРИВОЛЖСКИЙ</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#tab6" data-toggle="tab">УРАЛЬСКИЙ</a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <div class="tab-select _bg_white" data-animate="fadeInLeftMini">
                                        <select class="select">
                                            <option value="#russia-tab1">Центральный округ</option>
                                            <option value="#russia-tab2">Северо-западный округ</option>
                                            <option value="#russia-tab3">Южный округ</option>
                                            <option value="#russia-tab4">Северокавказский округ</option>
                                            <option value="#russia-tab5">Приволжский округ</option>
                                            <option value="#russia-tab6">Уральский округ</option>
                                        </select>
                                    </div>

                                    <div class="tab-content js-tab-content">
                                        <div id="russia-tab1" class="tab-pane js-tab-pane _active">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        MADE (ARCH-SKIN)<br>
                                                        ООО «Архскин»<br>
                                                        ул. Дубининская, д. 57, стр.11<br>
                                                        <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                        <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                        <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАЗАЛЬТ КЕРАМИКА<br>
                                                        ООО «Компания Базальт»<br>
                                                        ул. Балтийская, д. 9<br>
                                                        (Ленинградский пр-т, д. 80, корп. 21)<br>
                                                        <a href="tel:7(499)3508021">+7 (499) 350-80-21</a><br>
                                                        <a href="www.bazalt-keramika.ru" class="list-points__site">www.bazalt-keramika.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        ТДК МОСКВА<br>
                                                        ул. Русаковская, д. 25, стр.1<br>
                                                        (м. Сокольники)<br>
                                                        <a href="tel:7(499)2693043">+7 (499) 269-30-43</a><br>
                                                        <a href="tel:7(499)2693477">+7 (499) 269-34-77</a><br>
                                                        <a href="tel:7(495)2233001">+7 (495) 223-30-01</a><br>
                                                        <a href="mailto:salon@tdk-moscow.ru" class="list-points__site">salon@tdk-moscow.ru</a><br>
                                                        <a href="www.tdk-moscow.ru" class="list-points__site">www.tdk-moscow.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="russia-tab2" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        MADE (ARCH-SKIN)<br>
                                                        ООО «Архскин»<br>
                                                        ул. Дубининская, д. 57, стр.11<br>
                                                        <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                        <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                        <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="russia-tab3" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="russia-tab4" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="russia-tab5" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        MADE (ARCH-SKIN)<br>
                                                        ООО «Архскин»<br>
                                                        ул. Дубининская, д. 57, стр.11<br>
                                                        <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                        <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                        <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="russia-tab6" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        MADE (ARCH-SKIN)<br>
                                                        ООО «Архскин»<br>
                                                        ул. Дубининская, д. 57, стр.11<br>
                                                        <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                        <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                        <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="belarus" class="tab-pane js-tab-pane">
                                <div class="tab-container js-tab-container">
                                    <nav class="tab-nav js-tab-nav">
                                        <ul>
                                            <li class="js-tab-nav-item _active">
                                                <a href="#belarus-tab1" data-toggle="tab">Бобруйский</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#belarus-tab2" data-toggle="tab">Борисовский</a>
                                            </li>
                                            <li class="js-tab-nav-item">
                                                <a href="#belarus-tab3" data-toggle="tab">Витебский</a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <div class="tab-select _bg_white" data-animate="fadeInLeftMini">
                                        <select class="select">
                                            <option value="#belarus-tab1">Бобруйский</option>
                                            <option value="#belarus-tab2">Борисовский</option>
                                            <option value="#belarus-tab3">Витебский</option>
                                        </select>
                                    </div>

                                    <div class="tab-content js-tab-content">
                                        <div id="belarus-tab1" class="tab-pane js-tab-pane _active">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        MADE (ARCH-SKIN)<br>
                                                        ООО «Архскин»<br>
                                                        ул. Дубининская, д. 57, стр.11<br>
                                                        <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                        <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                        <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАЗАЛЬТ КЕРАМИКА<br>
                                                        ООО «Компания Базальт»<br>
                                                        ул. Балтийская, д. 9<br>
                                                        (Ленинградский пр-т, д. 80, корп. 21)<br>
                                                        <a href="tel:7(499)3508021">+7 (499) 350-80-21</a><br>
                                                        <a href="www.bazalt-keramika.ru" class="list-points__site">www.bazalt-keramika.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        ТДК МОСКВА<br>
                                                        ул. Русаковская, д. 25, стр.1<br>
                                                        (м. Сокольники)<br>
                                                        <a href="tel:7(499)2693043">+7 (499) 269-30-43</a><br>
                                                        <a href="tel:7(499)2693477">+7 (499) 269-34-77</a><br>
                                                        <a href="tel:7(495)2233001">+7 (495) 223-30-01</a><br>
                                                        <a href="mailto:salon@tdk-moscow.ru" class="list-points__site">salon@tdk-moscow.ru</a><br>
                                                        <a href="www.tdk-moscow.ru" class="list-points__site">www.tdk-moscow.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="belarus-tab2" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        MADE (ARCH-SKIN)<br>
                                                        ООО «Архскин»<br>
                                                        ул. Дубининская, д. 57, стр.11<br>
                                                        <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                        <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                        <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="belarus-tab3" class="tab-pane js-tab-pane">
                                            <ul class="list-points">
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        МАСТЕРДОМ<br>
                                                        Дилерский отдел:<br>
                                                        <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                        <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                        <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                        Архитекторам и дизайнерам:<br>
                                                        <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                        <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                        <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                        <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Москва, Россия</h5>
                                                    <p>
                                                        БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                        ООО «Тэста»<br>
                                                        ул. Гарибальди, д. 15<br>
                                                        <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                        <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                        <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                        <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                    <p>
                                                        BARS RED<br>
                                                        Комсомольский пр-т, д.16/2 стр.3<br>
                                                        (вход со стороны Несвижского п-ка)<br>
                                                        <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                        <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                        <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                        <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="gallery" class="modal _gallery">
        <div class="modal-dialog">
            <span class="modal-close">
                <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
            </span>
            <div class="modal-content">
                <div class="slider _arrows _js-slider-gallery animated d0-5 s0-5 opacity-0" data-animate="fadeInLeftMini">
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big1.jpg" src="assets/catalog-item-big1.jpg" alt="">
                        <h5 class="slider-item__title">Gai, Fokos Rena</h5>
                        <p class="slider-item__info">2015, Cuneo (Italy)</p>
                    </div>
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big2.jpg" src="assets/catalog-item-big2.jpg" alt="">
                        <h5 class="slider-item__title">I Naturali Pietre, Basalto Vena Chiara</h5>
                        <p class="slider-item__info">2015, London (England)</p>
                    </div>
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big3.jpg" src="assets/catalog-item-big3.jpg" alt="">
                        <h5 class="slider-item__title">Fokos Sale</h5>
                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                    </div>
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big4.jpg" src="assets/catalog-item-big4.jpg" alt="">
                        <h5 class="slider-item__title">Fokos Sale</h5>
                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--single popup -->
    <div class="sets-popup-wrapper mfp-hide setsSinglePopup">
        <div class="sets-popup">
            <div class="sets-popup__header">Скачать HiRes изображение GRIGIO</div>
        
            <form action="#" class="sets-form">
        
                <div class="sets-form__secondary">
                    <div>Вы также можете выбрать дополнительные материалы:</div>
                    <label class="sets-form__checkbox-label">
                        <input type="checkbox" class="sets-form__checkbox" name="assets" value="guide">
                        Технический гайд
                    </label>
                    <label class="sets-form__checkbox-label">
                        <input type="checkbox" class="sets-form__checkbox" name="assets" value="video">
                        Видео-материалы
                    </label>
                </div>
        
                <div class="sets-form__main form">
                    <div class="form-group _half" data-selectize-id="1">
                        <input type="text" name="name" class="form-control name">
                        <span class="form-placeholder">Как Вас зовут? <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group _half" data-selectize-id="2">
                        <input type="email" name="mail" class="mail form-control" value="">
                        <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group _half" data-selectize-id="3">
                        <input type="tel" name="phone" class="phone form-control" maxlength="15">
                        <span class="form-placeholder">Ваш телефон <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group _half" data-selectize-id="4">
                        <input type="text" name="city" class="form-control">
                        <span class="form-placeholder">Город <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group" data-selectize-id="5">
                        <select name="occupation" class="occupation selectize selectized" placeholder="" tabindex="-1" style="display: none;">
                            <option value="" selected="selected"></option>
                            <option value="architector">Архитектор</option>
                            <option value="designer">Дизайнер</option>
                            <option value="distributor">Дистрибьютор</option>
                            <option value="diler">Дилер</option>
                            <option value="developer">Девелопер</option>
                            <option value="self">Частное лицо</option>
                            <option value="other">Другое</option>
                        </select>
                        <span class="form-placeholder">Род деятельности</span>
                    </div>
                    <input type="button" class="button button-default form-submit sets-form__btn" value="Скачать">
                    <!-- <button style="display:none;" class="button button-default _mini form-submit form-submit-popup" data-toggle="modal" data-target="#textures">Отправить</button>
                    <button style="display:none;" class="form-submit-popup-error" data-toggle="modal" data-target="#textures_error">Отправить</button> -->
                </div>
            </form>
        </div>
        
        <!-- stove -->
        <div class="sets-popup__image" style="background-image: url(assets/catalogue/stove.jpg);"></div>
        <!-- stove -->
    </div>
    <!--single popup end-->
{% endblock %}