{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Каталог - Коллекция{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">
            <div class="catalog-collection-detail" style="background-image: url('../assets/bin/catalog-collection-detail/catalog-collection-detail.jpg')">
                <div class="catalog-container">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Каталог</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__current">Calce</span>
                        </li>
                    </ul>

                    <div class="fadeInTop _js-animated-block">
                        <div class="catalog-collection-detail__inner offsetInTop">
                            <div class="catalog-collection-detail__info">
                                <h1 class="site-catalog__title catalog-collection-detail__title title-with-line">
                                    Коллекция Calce <span class="collection-label catalog-collection-detail__label">New</span>
                                </h1>

                                <div class="catalog-collection-detail__description">
                                    Мягкие тона и&nbsp;нежные оттенки, вдохновленные фактурой мокрой штукатурки и&nbsp;промышленного цемента. Деликатный материал с&nbsp;ярко выраженным современным характером, икона изысканного дизайна.

                                    <div class="catalog-collection-detail__data">
                                        <span class="catalog-collection-detail__size">
                                            Размер:
                                            <span class="catalog-collection-detail__size-value">1000x3000</span>
                                        </span>

                                        <div class="catalog-collection-detail__download">
                                            <a href="#" class="setsSingle">Скачать HiRes</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="form catalog-collection-detail__form">
                                    <div class="form-group" data-selectize-id="1">
                                        <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="group">
                                            <option></option>
                                            <option value="дерево">дерево</option>
                                            <option value="дизайн">дизайн</option>
                                            <option value="камень">камень</option>
                                            <option value="бетон/штукатурка">бетон/штукатурка</option>
                                            <option value="моноколор">моноколор</option>
                                        </select>

                                        <span class="form-placeholder">Группа</span>
                                    </div>

                                    <div class="form-group" data-selectize-id="2">
                                        <select class="selectize js-filter-selectize" placeholder="" data-collections-filter="thickness">
                                            <option></option>
                                            <option value="3.5">3.5</option>
                                            <option value="5.6">5.6</option>
                                            <option value="12">12</option>
                                        </select>

                                        <span class="form-placeholder">Толщина</span>
                                    </div>

                                    <span class="reset-filter js-reset-filter">
                                        сбросить фильтр
                                    </span>
                                </div>
                            </div>

                            <div class="catalog-collection-detail__characters">
                                <div class="characters-table-wrap js-characters-table-wrap">
                                    <div class="characters-table-wrap__inner js-characters-table-wrap-inner">
                                        <table class="characters-table">
                                            <tr class="characters-table__row">
                                                <th class="characters-table__title" colspan="2">Норма-Метод</th>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">
                                                    DIN 51130
                                                </td>
                                                <td class="characters-table__cell">
                                                    R10
                                                </td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">
                                                    DIN 51097
                                                </td>
                                                <td class="characters-table__cell">
                                                    A+B
                                                </td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">
                                                    ANSI A137.1 (DCOF)
                                                </td>
                                                <td class="characters-table__cell">
                                                    &ge; 0,42*
                                                </td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">ASTM C-1028</td>
                                                <td class="characters-table__cell">по&nbsp;требованию</td>
                                            </tr>
                                        </table>

                                        <table class="characters-table">
                                            <tr class="characters-table__row">
                                                <th class="characters-table__title">Pendulum</th>
                                                <th class="characters-table__title">Норма-Метод</th>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">Испанский тест</td>
                                                <td class="characters-table__cell">UNE-ENV 12633:2003</td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">Английский тест</td>
                                                <td class="characters-table__cell">BS 7976-2:2002 PENDULUM TESTERS</td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">Австралийский тест</td>
                                                <td class="characters-table__cell">AS/NZS 4586 </td>
                                            </tr>
                                        </table>

                                        <table class="characters-table">
                                            <tr class="characters-table__row">
                                                <th class="characters-table__title" colspan="2">Норма-Метод</th>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">
                                                    DIN 51130
                                                </td>
                                                <td class="characters-table__cell">
                                                    R10
                                                </td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">
                                                    DIN 51097
                                                </td>
                                                <td class="characters-table__cell">
                                                    A+B
                                                </td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">
                                                    ANSI A137.1 (DCOF)
                                                </td>
                                                <td class="characters-table__cell">
                                                    &ge; 0,42*
                                                </td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">ASTM C-1028</td>
                                                <td class="characters-table__cell">по&nbsp;требованию</td>
                                            </tr>
                                        </table>

                                        <table class="characters-table">
                                            <tr class="characters-table__row">
                                                <th class="characters-table__title">Pendulum</th>
                                                <th class="characters-table__title">Норма-Метод</th>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">Испанский тест</td>
                                                <td class="characters-table__cell">UNE-ENV 12633:2003</td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">Английский тест</td>
                                                <td class="characters-table__cell">BS 7976-2:2002 PENDULUM TESTERS</td>
                                            </tr>
                                            <tr class="characters-table__row">
                                                <td class="characters-table__cell">Австралийский тест</td>
                                                <td class="characters-table__cell">AS/NZS 4586 </td>
                                            </tr>
                                        </table>
                                    </div>

                                    <span class="characters-table-wrap__toggle-btn js-toggle-characters"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="catalog-container _js-animated-block">
                <div class="catalog-collection-content fadeInBlock">
                    <div class="materials-list-wrap">
                        <ul class="materials-list js-materials-list is-active">
                            <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/antracite.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Antracite

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item" style="background-image: url('../assets/bin/materials/avorio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Avorio

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item" style="background-image: url('../assets/bin/materials/beige.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <span class="materials-list__label collection-label">New</span>

                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Beige

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item" style="background-image: url('../assets/bin/materials/grigio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Grigio

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/nero.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Nero

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/tortora.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Tortora

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/antracite.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Antracite

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item" style="background-image: url('../assets/bin/materials/avorio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Avorio

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item" style="background-image: url('../assets/bin/materials/beige.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Beige

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item" style="background-image: url('../assets/bin/materials/grigio.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Grigio

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>

                            <li class="materials-list__item materials-list__item_dark" style="background-image: url('../assets/bin/materials/nero.jpg')" data-materials-item='{ "group": "дерево", "thickness": "3.5" }'>
                                <a href="catalog-card.html" class="materials-list__link _js-link">
                                    <footer class="materials-list__footer">
                                        <span class="materials-list__name">
                                            Nero

                                            <svg class="icon icon-arrow">
                                                <use xlink:href="#arrow"></use>
                                            </svg>
                                        </span>
                                    </footer>
                                </a>
                            </li>
                        </ul>

                        <h4 class="materials-not-found">По&nbsp;данному фильтру совпадений не&nbsp;найдено</h4>
                    </div>
                </div>

                <div class="stove-combinations-wrap js-stove-combinations-wrap">
                    <div class="stove-combinations-wrap__inner js-stove-combinations-wrap-inner">
                        <ul class="stove-combinations-list">
                            <li class="stove-combinations-list__item">
                                <img src="../assets/bin/catalog-collection-detail/stove-combination-1.jpg" class="stove-combinations-list__img" alt="">
                            </li>
                            <li class="stove-combinations-list__item">
                                <img src="../assets/bin/catalog-collection-detail/stove-combination-2.jpg" class="stove-combinations-list__img" alt="">
                            </li>
                            <li class="stove-combinations-list__item">
                                <img src="../assets/bin/catalog-collection-detail/stove-combination-3.jpg" class="stove-combinations-list__img" alt="">
                            </li>
                            <li class="stove-combinations-list__item">
                                <img src="../assets/bin/catalog-collection-detail/stove-combination-4.jpg" class="stove-combinations-list__img" alt="">
                            </li>
                        </ul>
                    </div>

                    <span class="stove-combinations-wrap__toggle-btn js-toggle-stove-combinations"></span>
                </div>
            </div>

            <div class="info-block info-block__catalog _bg_white _js-animated-block">
                <div class="catalog-container fadeInBlock _medium">
                    <div class="info-block__info">
                        <div class="info-block__inner-projects">
                            <h4 class="info-block__projects-title title-with-line">Проекты с&nbsp;применением  коллекции Calce</h4>

                            <div class="info-block__catalog-nav js-catalog-nav"></div>
                        </div>

                        <div class="slider _slider-catalog _arrows _js-slider-catalog">
                            <div class="slider-item" data-toggle="modal" data-target="#gallery" data-go-to="0">
                                <div class="slider-item__thumb-container" data-toggle="modal" data-target="#gallery" data-go-to="0">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big1.jpg" data-bgi="assets/catalog-item-big1.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">Fokos Sale</a></h5>
                                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item" data-toggle="modal" data-target="#gallery" data-go-to="1">
                                <div class="slider-item__thumb-container" data-toggle="modal" data-target="#gallery" data-go-to="1">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big2.jpg" data-bgi="assets/catalog-item-big2.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">I Naturali Pietre, Basalto Vena Chiara</a></h5>
                                        <p class="slider-item__info">2015, London (England)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item" data-toggle="modal" data-target="#gallery" data-go-to="2">
                                <div class="slider-item__thumb-container" data-target="#gallery" data-go-to="2">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big3.jpg" data-bgi="assets/catalog-item-big3.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">Fokos Sale</a></h5>
                                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>

                            <div class="slider-item" data-toggle="modal" data-target="#gallery" data-go-to="3">
                                <div class="slider-item__thumb-container" data-target="#gallery" data-go-to="3">
                                    <div class="slider-item__thumb" data-prefetch-src="assets/catalog-item-big4.jpg" data-bgi="assets/catalog-item-big4.jpg"></div>
                                </div>

                                <div class="slider-item__inner">
                                    <div class="slider-item__content">
                                        <h5 class="slider-item__title"><a href="project-detail.html" class="slider-item__project _js-link">Fokos Sale</a></h5>
                                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                                    </div>

                                    <div class="slider-item__extra">
                                        <h5 class="slider-item__title"><a href="partner-detail.html" class="slider-item__link _js-link">Сезар Пелли</a></h5>
                                        <p class="slider-item__info">архитектор</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div id="gallery" class="modal _gallery">
        <div class="modal-dialog">
            <span class="modal-close">
                <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
            </span>
            <div class="modal-content">
                <div class="slider _arrows _js-slider-gallery animated d0-5 s0-5 opacity-0" data-animate="fadeInLeftMini">
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big1.jpg" src="assets/catalog-item-big1.jpg" alt="">
                        <h5 class="slider-item__title">Gai, Fokos Rena</h5>
                        <p class="slider-item__info">2015, Cuneo (Italy)</p>
                    </div>
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big2.jpg" src="assets/catalog-item-big2.jpg" alt="">
                        <h5 class="slider-item__title">I Naturali Pietre, Basalto Vena Chiara</h5>
                        <p class="slider-item__info">2015, London (England)</p>
                    </div>
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big3.jpg" src="assets/catalog-item-big3.jpg" alt="">
                        <h5 class="slider-item__title">Fokos Sale</h5>
                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                    </div>
                    <div class="slider-item" data-toggle="modal" data-target="#gallery">
                        <img data-prefetch-src="assets/catalog-item-big4.jpg" src="assets/catalog-item-big4.jpg" alt="">
                        <h5 class="slider-item__title">Fokos Sale</h5>
                        <p class="slider-item__info">2015, Tautanga (New Zealand)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--single popup -->
    <div class="sets-popup-wrapper mfp-hide setsSinglePopup">
        <div class="sets-popup">
            <div class="sets-popup__header">Скачать HiRes изображение GRIGIO</div>

            <form action="#" class="sets-form">

                <div class="sets-form__secondary">
                    <div>Вы также можете выбрать дополнительные материалы:</div>
                    <label class="sets-form__checkbox-label">
                        <input type="checkbox" class="sets-form__checkbox" name="assets" value="guide">
                        Технический гайд
                    </label>
                    <label class="sets-form__checkbox-label">
                        <input type="checkbox" class="sets-form__checkbox" name="assets" value="video">
                        Видео-материалы
                    </label>
                </div>

                <div class="sets-form__main form">
                    <div class="form-group _half">
                        <input type="text" name="name" class="form-control name">
                        <span class="form-placeholder">Как Вас зовут? <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group _half">
                        <input type="email" name="mail" class="mail form-control" value="">
                        <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group _half">
                        <input type="tel" name="phone" class="phone form-control" maxlength="15">
                        <span class="form-placeholder">Ваш телефон <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group _half">
                        <input type="text" name="city" class="form-control">
                        <span class="form-placeholder">Город <span class="_color--default">*</span></span>
                    </div>
                    <div class="form-group">
                        <select name="occupation" class="occupation selectize selectized" placeholder="" tabindex="-1" style="display: none;">
                            <option value="" selected="selected"></option>
                            <option value="architector">Архитектор</option>
                            <option value="designer">Дизайнер</option>
                            <option value="distributor">Дистрибьютор</option>
                            <option value="diler">Дилер</option>
                            <option value="developer">Девелопер</option>
                            <option value="self">Частное лицо</option>
                            <option value="other">Другое</option>
                        </select>
                        <span class="form-placeholder">Род деятельности</span>
                    </div>
                    <input type="button" class="button button-default form-submit sets-form__btn" value="Скачать">
                </div>
                <!-- Message, when form was submitted -->
                <div class="form-message" style="display: none;">Материалы отправлены на указанную почту</div>
                <!-- Message, when form was submitted -->
            </form>
        </div>

            <!-- stove -->
            <div class="sets-popup__image" style="background-image: url(assets/catalogue/stove.jpg);"></div>
            <!-- stove -->
    </div>
    <!--single popup end-->
{% endblock %}
