{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'contacts' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Контакты{% endblock %}

{% block page %}
    <main class="site-content">
        <div class="banner _standard _default _contacts _js-animated-block">
            <div class="banner-content banner-line__container">
                <h1>Контакты</h1>
                <div class="banner-info _flex">
                    <div class="banner-info__left">
                        <span class="label _additional">Шоурум</span>
                        <p class="fs-25">В нашем центральном офисе, который находится на 22 этаже Башни Федерации «Москва-Сити» вы можете ознакомится с выставочным залом  — это огромная витрина  из 153 коллекций керамических плит</p>
                    </div>
                    <div class="banner-info__right">

                        <img src="assets/contacts1.jpg" class="banner-info__thumb">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__content info-block__content--height _bg_smoke _js-animated-block">
            <div class="container _medium _flex _flex--swap-md _flex--items-center">
                <div class="info-block__left">
                    <img src="assets/contacts2.jpg" alt="">
                </div>
                <div class="info-block__right _flex _flex--items-center">
                    <div class="info-block__inner">
                        <p class="link"><a href="mailto:sales@laminamrus.com">sales@laminamrus.com</a></p>
                        <p class="link fs-25"><a href="tel:74995570000">+7 499 557 0000</a></p>
                        <p class="fs-25">Пресненская наб. строение 12, офис 18, этаж 28 <br>Башня Федерация Восток, <br>123100</p>

                        <div>
                            <a href="#" class="link-animate _js-change-coordinates" data-toggle="modal" data-target="#map" data-coordinates="55.749293724895,37.537040584656" data-description="Пресненская наб. строение 12, офис 18, этаж 28 Башня Федерация Восток, 123100">
                                <span class="link-animate-text">На карте</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__content info-block__content--height info-block__content--standard _bg_white _js-animated-block">
            <div class="container fadeInTop _medium _flex _flex--swap-md _flex--items-center">
                <div class="info-block__left _flex offsetInTop _flex--items-center">
                    <div class="info-block__inner">
                        <h3>Производство</h3>
                        <p class="fs-25">Российский завод Laminam — это высокоавтоматизированное современное производство, нацеленное именно на создание ультратонких плит 1000х3000 с толщиной 3 и 5 мм. Завод расположен недалеко от Москвы в индустриальном парке “Ворсино”, что дает большое логистическое преимущество.</p>
                    </div>
                </div>
                <div class="info-block__right">
                    <img src="assets/contacts3.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="info-block info-block__content info-block__content--height _bg_smoke _js-animated-block">
            <div class="container fadeInTop _medium _flex _flex--swap-md _flex--items-center">
                <div class="info-block__left offsetInTop">
                    <img src="assets/contacts4.jpg" alt="">
                </div>
                <div class="info-block__right offsetInTop _flex _flex--items-center">
                    <div class="info-block__inner">
                        <p class="link"><a href="mailto:info@laminamrus.com">info@laminamrus.com</a></p>
                        <p class="link fs-25"><a href="tel:74952740300">+7 495 274 0300</a></p>
                        <p class="fs-25">10-й Восточный проезд, владение 1, д. Добрино Боровский район, <br>Калужская область, <br>249006</p>

                        <div>
                            <a href="#" class="link-animate _js-change-coordinates" data-toggle="modal" data-target="#map" data-coordinates="55.2306424,36.6984995" data-description="10-й Восточный проезд, владение 1, д. Добрино Боровский район, Калужская область, 249006">
                                <span class="link-animate-text">На карте</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__contacts _bg_white _js-animated-block" style="background-image: url('assets/map-contacts.png')">
            <div class="container fadeInBlock _medium">
                <div class="tab-container js-tab-container">
                    <header class="contacts-header">
                        <h4 class="contacts-header__title">Где купить?</h4>

                        <ul class="contacts-tab-nav js-tab-nav">
                            <li class="contacts-tab-nav__item js-tab-nav-item _active">
                                <a href="#russia" data-toggle="tab" class="contacts-tab-nav__link">Россия</a>
                            </li>
                            <li class="contacts-tab-nav__item js-tab-nav-item">
                                <a href="#belarus" data-toggle="tab" class="contacts-tab-nav__link">Беларусь</a>
                            </li>
                        </ul>
                    </header>

                    <div class="tab-content tab-content_main js-tab-content">
                        <div id="russia" class="tab-pane js-tab-pane _active">
                            <div class="tab-container js-tab-container">
                                <nav class="tab-nav js-tab-nav">
                                    <ul>
                                        <li class="js-tab-nav-item _active">
                                            <a href="#russia-tab1" data-toggle="tab">ЦЕНТРАЛЬНЫЙ</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#russia-tab2" data-toggle="tab">СЕВЕРО-ЗАПАДНЫЙ</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#russia-tab3" data-toggle="tab">ЮЖНЫЙ</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#russia-tab4" data-toggle="tab">СЕВЕРОКАВКАЗСКИЙ</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#russia-tab5" data-toggle="tab">ПРИВОЛЖСКИЙ</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#tab6" data-toggle="tab">УРАЛЬСКИЙ</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="tab-select _bg_white" data-animate="fadeInLeftMini">
                                    <select class="select">
                                        <option value="#russia-tab1">Центральный округ</option>
                                        <option value="#russia-tab2">Северо-западный округ</option>
                                        <option value="#russia-tab3">Южный округ</option>
                                        <option value="#russia-tab4">Северокавказский округ</option>
                                        <option value="#russia-tab5">Приволжский округ</option>
                                        <option value="#russia-tab6">Уральский округ</option>
                                    </select>
                                </div>

                                <div class="tab-content js-tab-content">
                                    <div id="russia-tab1" class="tab-pane js-tab-pane _active">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    MADE (ARCH-SKIN)<br>
                                                    ООО «Архскин»<br>
                                                    ул. Дубининская, д. 57, стр.11<br>
                                                    <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                    <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                    <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАЗАЛЬТ КЕРАМИКА<br>
                                                    ООО «Компания Базальт»<br>
                                                    ул. Балтийская, д. 9<br>
                                                    (Ленинградский пр-т, д. 80, корп. 21)<br>
                                                    <a href="tel:7(499)3508021">+7 (499) 350-80-21</a><br>
                                                    <a href="www.bazalt-keramika.ru" class="list-points__site">www.bazalt-keramika.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    ТДК МОСКВА<br>
                                                    ул. Русаковская, д. 25, стр.1<br>
                                                    (м. Сокольники)<br>
                                                    <a href="tel:7(499)2693043">+7 (499) 269-30-43</a><br>
                                                    <a href="tel:7(499)2693477">+7 (499) 269-34-77</a><br>
                                                    <a href="tel:7(495)2233001">+7 (495) 223-30-01</a><br>
                                                    <a href="mailto:salon@tdk-moscow.ru" class="list-points__site">salon@tdk-moscow.ru</a><br>
                                                    <a href="www.tdk-moscow.ru" class="list-points__site">www.tdk-moscow.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="russia-tab2" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    MADE (ARCH-SKIN)<br>
                                                    ООО «Архскин»<br>
                                                    ул. Дубининская, д. 57, стр.11<br>
                                                    <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                    <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                    <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="russia-tab3" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="russia-tab4" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="russia-tab5" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    MADE (ARCH-SKIN)<br>
                                                    ООО «Архскин»<br>
                                                    ул. Дубининская, д. 57, стр.11<br>
                                                    <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                    <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                    <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="russia-tab6" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    MADE (ARCH-SKIN)<br>
                                                    ООО «Архскин»<br>
                                                    ул. Дубининская, д. 57, стр.11<br>
                                                    <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                    <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                    <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="belarus" class="tab-pane js-tab-pane">
                            <div class="tab-container js-tab-container">
                                <nav class="tab-nav js-tab-nav">
                                    <ul>
                                        <li class="js-tab-nav-item _active">
                                            <a href="#belarus-tab1" data-toggle="tab">Бобруйский</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#belarus-tab2" data-toggle="tab">Борисовский</a>
                                        </li>
                                        <li class="js-tab-nav-item">
                                            <a href="#belarus-tab3" data-toggle="tab">Витебский</a>
                                        </li>
                                    </ul>
                                </nav>

                                <div class="tab-select _bg_white" data-animate="fadeInLeftMini">
                                    <select class="select">
                                        <option value="#belarus-tab1">Бобруйский</option>
                                        <option value="#belarus-tab2">Борисовский</option>
                                        <option value="#belarus-tab3">Витебский</option>
                                    </select>
                                </div>

                                <div class="tab-content js-tab-content">
                                    <div id="belarus-tab1" class="tab-pane js-tab-pane _active">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    MADE (ARCH-SKIN)<br>
                                                    ООО «Архскин»<br>
                                                    ул. Дубининская, д. 57, стр.11<br>
                                                    <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                    <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                    <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАЗАЛЬТ КЕРАМИКА<br>
                                                    ООО «Компания Базальт»<br>
                                                    ул. Балтийская, д. 9<br>
                                                    (Ленинградский пр-т, д. 80, корп. 21)<br>
                                                    <a href="tel:7(499)3508021">+7 (499) 350-80-21</a><br>
                                                    <a href="www.bazalt-keramika.ru" class="list-points__site">www.bazalt-keramika.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    ТДК МОСКВА<br>
                                                    ул. Русаковская, д. 25, стр.1<br>
                                                    (м. Сокольники)<br>
                                                    <a href="tel:7(499)2693043">+7 (499) 269-30-43</a><br>
                                                    <a href="tel:7(499)2693477">+7 (499) 269-34-77</a><br>
                                                    <a href="tel:7(495)2233001">+7 (495) 223-30-01</a><br>
                                                    <a href="mailto:salon@tdk-moscow.ru" class="list-points__site">salon@tdk-moscow.ru</a><br>
                                                    <a href="www.tdk-moscow.ru" class="list-points__site">www.tdk-moscow.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="belarus-tab2" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    MADE (ARCH-SKIN)<br>
                                                    ООО «Архскин»<br>
                                                    ул. Дубининская, д. 57, стр.11<br>
                                                    <a href="tel:7(495)2555105">+7 (495) 255 51 05</a><br>
                                                    <a href="www.arch-skin.ru" class="list-points__site">www.arch-skin.ru</a><br>
                                                    <a href="mailto:info@arch-skin.ru">info@arch-skin.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="belarus-tab3" class="tab-pane js-tab-pane">
                                        <ul class="list-points">
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    МАСТЕРДОМ<br>
                                                    Дилерский отдел:<br>
                                                    <a href="tel:7(495)9843242">+7 (495) 984-32-42</a><br>
                                                    <a href="tel:7(800)7003242">+7 (800) 700-32-42</a><br>
                                                    <a href="mailto:md@opt-plitka.com">md@opt-plitka.com</a><br>
                                                    Архитекторам и дизайнерам:<br>
                                                    <a href="tel:7(495)6420799">+7 (495) 642-07-99</a><br>
                                                    <a href="tel:7(926)22722702">+7 (926) 227-22-702</a><br>
                                                    <a href="mailto:desing@masterdom.ru">desing@masterdom.ru</a><br>
                                                    <a href="www.masterdom.ru" class="list-points__site">www.masterdom.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Москва, Россия</h5>
                                                <p>
                                                    БАРС КЕРАМИЧЕСКИЙ ГРАНИТ<br>
                                                    ООО «Тэста»<br>
                                                    ул. Гарибальди, д. 15<br>
                                                    <a href="tel:7(495)5003288">+7 (495) 500 32 88</a><br>
                                                    <a href="tel:7(495)5003296">+7 (495) 500 32 96</a><br>
                                                    <a href="www.ceramic.ru" class="list-points__site">www.ceramic.ru</a><br>
                                                    <a href="mailto:info@ceramic.ru">info@ceramic.ru</a>
                                                </p>
                                            </li>
                                            <li>
                                                <h5 class="list-points__name">Санкт-Петербург, Россия</h5>
                                                <p>
                                                    BARS RED<br>
                                                    Комсомольский пр-т, д.16/2 стр.3<br>
                                                    (вход со стороны Несвижского п-ка)<br>
                                                    <a href="tel:7(495)6798221">+7 (495) 679-82-21</a><br>
                                                    <a href="tel:7(495)6798215">+7 (495) 679-82-15</a><br>
                                                    <a href="www.bars-r.ru" class="list-points__site">www.bars-r.ru</a><br>
                                                    <a href="mailto:info@bars-r.ru">info@bars-r.ru</a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="map" class="modal _big">
            <div class="modal-dialog">
                <span class="modal-close">
                    <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
                </span>
                <div class="modal-content">
                    <div class="modal-inner">
                        <div id="map_area" class="map" style="width: 100%; height: 650px"></div>
                        <p class="_js-map-description"></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}