{% extends 'templates/base.twig' %}
{% set menuItem = 'home' %}
{% set bodyClass = '' %}

{% block title %}Laminam :: Главная{% endblock %}

{% block page %}
    <main class="site-content">
        <div class="banner _main _js-animated-block">
            <div class="slider slider-main _js-slider-main-bg">
                <div class="slider-main__item">
                    <div class="banner-thumb animated d0-2 s1 _hidden-xs" data-animate="bannerIn" style="background-image: url('assets/main1_desk.jpg')"></div>
                    <div class="banner-thumb animated d0-2 s1 _visible-xs" data-animate="bannerIn" style="background-image: url('assets/main1_mob.jpg')"></div>
                </div>
                <div class="slider-main__item">
                    <div class="banner-thumb animated d0-2 s1 _hidden-xs" data-animate="bannerIn" style="background-image: url('assets/slide1.jpg')"></div>
                    <div class="banner-thumb animated d0-2 s1 _visible-xs" data-animate="bannerIn" style="background-image: url('assets/slide1.jpg')"></div>
                </div>
                <div class="slider-main__item">
                    <div class="banner-thumb animated d0-2 s1 _hidden-xs" data-animate="bannerIn" style="background-image: url('assets/slide2.jpg')"></div>
                    <div class="banner-thumb animated d0-2 s1 _visible-xs" data-animate="bannerIn" style="background-image: url('assets/slide2.jpg')"></div>
                </div>
                <div class="slider-main__item">
                    <div class="banner-thumb animated d0-2 s1 _hidden-xs" data-animate="bannerIn" style="background-image: url('assets/slide3.jpg')"></div>
                    <div class="banner-thumb animated d0-2 s1 _visible-xs" data-animate="bannerIn" style="background-image: url('assets/slide3.jpg')"></div>
                </div>
            </div>
            <div class="banner-content banner-line__container animated d0-6 s0-8 bannerInLeft__before" data-animate="bannerInLeft">
                <h1>Ультратонкие керамические плиты уникального формата</h1>
                <p>Размер 1000&times;3000&nbsp;см, толщина от&nbsp;3&nbsp;мм.</p>
            </div>
        </div>

        <div class="info-block info-block__production _bg_default _js-animated-block">
            <div class="container _medium _flex">
                <div class="info-block__left _flex" style="background-image: url('assets/about_production.png')">
                    <div>
                        <h3>Метр на&nbsp;три, но&nbsp;это не&nbsp;точно</h3>
                        <p>Плиты можно резать простым бытовым стеклорезом и&nbsp;получить любую нужную вам&nbsp;форму и&nbsp;размер.</p>
                        <div>
                            <a href="brand.html" class="link-animate _js-link">
                                <span class="link-animate-text">О&nbsp;производстве</span>
                                <svg class="icon icon-arrow">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info-block__right _bg _hidden-sm _hidden-md _hidden-extra" style="background-image: url('assets/main2_desk.jpg')"></div>
                <div class="info-block__right _bg _visible-sm _visible-md" style="background-image: url('assets/main2_mob.jpg')"></div>
                <div class="info-block__right _bg _visible-extra" style="background-image: url('assets/main2_desk@2x.jpg')"></div>
            </div>
        </div>

        <div class="info-block info-block__individual _bg_gray _js-animated-block">
            <div class="container fadeInTop _medium _flex _flex--swap-xs">
                <div class="info-block__left offsetInTop">
                    <div class="loader-container">
                        <div class="slider slider-info _js-slider-info">
                            <div class="slider-item">
                                <img src="assets/info2.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info3.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info2.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info3.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block__right _flex _flex--items-center">
                    <div class="info-block__inner">
                        <h3 class="offsetInTop">Удивительно тонкие и&nbsp;прочные</h3>
                        <p class="offsetInTop">Минимальная толщина плиты составляет 3&nbsp;миллиметра. Еще бывают 6, 10&nbsp;и&nbsp;20&nbsp;миллимитровые плиты, что позволяет использовать их&nbsp;снаружи и&nbsp;внутри</p>
                        <div class="offsetInTop">
                            <a href="tehnology.html" class="link-animate _js-link">
                                <span class="link-animate-text">Технологии</span>
                                <svg class="icon icon-arrow">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__video video-block _bg_smoke _no-overflow fadeInBlock _js-animated-block">
            <div class="info-block__video-container banner-line__container _js-video-circle _no-overflow">
                <span class="banner-line banner-line__top animated s0-3" data-animate="widthIn"></span>
                <span class="banner-line banner-line__right animated d0-3 s0-3" data-animate="heightIn"></span>
                <span class="banner-line banner-line__bottom animated d0-6 s0-3" data-animate="widthIn"></span>
                <span class="banner-line banner-line__left animated d0-9 s0-3" data-animate="heightIn"></span>

                <div class="info-block__video-area animated d1-2 d0-2--sm s1-0 fadeInScaleVideoArea__before _js-play-yt-video" data-toggle="modal" data-target="#video_main" data-animate="fadeInScaleVideoArea"> <!-- _js-animate-video -->
                    <div class="info-block__video-thumb">
                        <span class="thumb static" data-bgi="assets/video-bg.jpg"></span>
                    </div>
                    <svg class="icon icon-play">
                        <use xlink:href="#play"></use>
                    </svg>
                </div>
            </div>
            <div class="container _medium _flex">
                <div class="info-block__left _flex _flex--items-center">
                    <div class="info-block__inner">
                        <h3>Выбор дизайнеров и&nbsp;архитекторов</h3>
                        <p>Плиты Laminam устойчивы к&nbsp;нарузкам, химическим веществам, естественному износу, царапинам и&nbsp;изгибу. Их&nbsp;легко мыть, они не&nbsp;боятся огня и&nbsp;мороза.</p>
                        <p>
                            Со&nbsp;временем на&nbsp;них не&nbsp;появляется налет и&nbsp;не&nbsp;образуется грибок, а&nbsp;насыщенность цвета и&nbsp;текстура не&nbsp;изменяется под воздействием времени и&nbsp;погодных условий.</p>
                        <div>
                            <a href="contacts.html" class="link-animate _js-link">
                                <span class="link-animate-text">Шоурум в&nbsp;Москва Сити</span>
                                <svg class="icon icon-arrow">
                                    <use xlink:href="#arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info-block__right _bg _hidden-xs _hidden-sm _hidden-extra" data-bgi="assets/main4_desk@2x.jpg"></div>
                <div class="info-block__right _bg _visible-extra" data-bgi="assets/main4_desk@2x.jpg"></div>
                <div class="info-block__right _bg _visible-sm" data-bgi="assets/main4_med.jpg"></div>
                <div class="info-block__right _bg _visible-xs" data-bgi="assets/main4_mob.jpg"></div>
            </div>
            <div id="video_main" class="modal _big">
                <div class="modal-dialog">
                    <span class="modal-close">
                        <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
                    </span>
                    <div class="modal-content">
                        <div class="modal-inner">
                            <div class="video modal-video" id="video_-LQRhOD0wvU" data-video="-LQRhOD0wvU"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block _bg_gray _pb-0 _js-animated-block _no-overflow video-block">
            <div class="container fadeInTop _medium _flex _flex--swap-xs">
                <div class="info-block__left offsetInTop">
                    <img data-src="assets/info3.jpg" alt="" class="_img_fully">
                </div>
                <div class="info-block__right _flex _flex--items-center">
                    <div class="info-block__inner offsetInTop">
                        <h3>Три завода&nbsp;&mdash; одна технология</h3>
                        <p>Laminam возникла в&nbsp;2001 году в&nbsp;Италии по&nbsp;инициативе инженера и&nbsp;новатора керамической промышленности Франко Стефани, автора идеи крупноформатных плит.</p>
                        <p>Российское производство находится в&nbsp;Калужской области в&nbsp;индустриальном парке &laquo;Ворсино&raquo;. Здесь производятся плиты формата 1000&times;3000 и&nbsp;работают более 700&nbsp;человек.</p>
                        <div>
                            <a href="#" class="_flex _flex--items-center _flex--inline link-animate _js-play-video" data-toggle="modal" data-target="#video">
                                <img data-src="assets/svg_icons/cinema.svg" alt="" class="icon icon-cinema">
                                <span class="link-animate-text">Открытие завода в&nbsp;Ворсино</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="video" class="modal _big">
                <div class="modal-dialog">
                    <span class="modal-close">
                        <svg class="icon icon-cross"><use xlink:href="#cross"></use></svg>
                    </span>
                    <div class="modal-content">
                        <div class="modal-inner">
                            <div class="video modal-video" id="video_yC8SpTVteRY" data-video="yC8SpTVteRY"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__more _bg_smoke fadeInBlock _js-animated-block">
            <div class="container _flex _flex--items-center">
                <a href="brand.html" class="button button-link link-animate animated d0-1 s0-5 _js-link _js-animate-link">
                    <span class="link-animate-text">О бренде</span>
                    <svg class="icon icon-arrow">
                        <use xlink:href="#arrow"></use>
                    </svg>

                    <span class="button__line button__line_top js-button-line"></span>
                    <span class="button__line button__line_right js-button-line"></span>
                    <span class="button__line button__line_bottom js-button-line"></span>
                    <span class="button__line button__line_left js-button-line"></span>
                </a>
            </div>
        </div>
    </main>
{% endblock %}