{% extends 'templates/base.twig' %}
{% set menuItem = 'projects' %}
{% set blackHeader = true %}
{% block title %}Laminam :: Ссылки{% endblock %}
{% block page %}
<main class="site-content site-content_white">
            <div  class="container" style="padding-top: 10rem">
                <ul>
                    <li><a href="/projects.html"> Проекты разводящая</a></li>
                    <li><a href="/project-detail.html"> Проекты детальная</a></li>
                    <li><a href="/partners.html"> Партнеры разводящая</a></li>
                    <li><a href="/partner-detail.html"> Партнеры детальная</a></li>
                    <li><a href="/sets.html">Подборки разводящая</a></li>
                    <li><a href="/sets-detail.html">Подборки детальная</a></li>

                    <li><a href="/catalog.html">Каталог</a></li>
                    <li><a href="/catalog-collection-detail.html">Каталог детальная коллекции</a></li>
                    <li><a href="/catalog-card.html">Каталог карточка</a></li>

                    <li><a href="/personal-design.html">Персональный дизайн</a></li>

                    <li><a href="http://laminam-email.bogomazov.w.ibrush.ru">Email письмо</a></li>
                </ul>
            </div>
</main>
{% endblock %}