
{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'projects' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Партнеры{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">


        	<div class="catalog-common catalog-partner_detail">

        		<!-- breadcrumbs -->
				<div class="project-breadcrumbs">
                    <ul class="breadcrumbs">
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Проекты</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <a href="#" class="breadcrumbs__link">Партнеры</a>
                        </li>
                        <li class="breadcrumbs__item">
                            <span class="breadcrumbs__current">Сезар Пелли</span>
                        </li>
                    </ul>
				</div>
        		<!-- breadcrumbs -->



        		<!-- title -->
        		<div class="partner-detail__header">
        			<!-- name -->
        			<div class="project-info__project-name">
        				<h1 class="project-info__title">Сезар Пелли</h1>
        				<div class="project-info__meta">архитектор</div>
        			</div>
        			<!-- name -->
        		</div>	
        		<!-- title -->



        		<!-- foto -->
        		<div class="partner-detail__photo"  style="background-image: url('/assets/catalogue/person.jpg')"></div>
        		<!-- foto -->


        		<!-- quote -->
    			<div class="project-info project-info_partner">
                    <p>
                        Одна из главных задач компании MADE – соединение традиций и новаторства в создании комфортной среды. Нам не все равно, среди какой архитектуры живем мы и будут жить наши дети, что происходит с культурой страны, сохраняются ли богатства природы. Поэтому мы начинаем с себя – и стараемся изменить к лучшему мир вокруг!
                    </p>
        			<blockquote>
        				«Мои здания видятся мне неотъемлемой частью городов, и в своих проектах я пытаюсь сделать их ответственными и полезными гражданами»
        			</blockquote>
    			</div>
        		<!-- quote -->
            </div>


			<!-- Projects -->
            <div class="catalog-container_common catalog-container_partner-detail fadeInTopSlow">

            	<h2 class="partner-detail__projects-title">Проекты</h2>

            	<div class="catalog-grid catalog-grid_partner-detail offsetInTopSlow">

            		

            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item catalog-grid__item_partner-detail">
            			<div class="catalog-grid__image catalog-grid__image_partner-detail" style="background-image: url('/assets/catalogue/partner-project.jpg')"></div>
            			<div class="catalog-grid__button catalog-grid__button_partner-detail">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item catalog-grid__item_partner-detail">
            			<div class="catalog-grid__image catalog-grid__image_partner-detail" style="background-image: url('/assets/catalogue/partner-project.jpg')"></div>
            			<div class="catalog-grid__button catalog-grid__button_partner-detail">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item catalog-grid__item_partner-detail">
            			<div class="catalog-grid__image catalog-grid__image_partner-detail" style="background-image: url('/assets/catalogue/partner-project.jpg')"></div>
            			<div class="catalog-grid__button catalog-grid__button_partner-detail">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item catalog-grid__item_partner-detail">
            			<div class="catalog-grid__image catalog-grid__image_partner-detail" style="background-image: url('/assets/catalogue/partner-project.jpg')"></div>
            			<div class="catalog-grid__button catalog-grid__button_partner-detail">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item catalog-grid__item_partner-detail">
            			<div class="catalog-grid__image catalog-grid__image_partner-detail" style="background-image: url('/assets/catalogue/partner-project.jpg')"></div>
            			<div class="catalog-grid__button catalog-grid__button_partner-detail">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            	</div>
            </div>
        </div>
    </main>
{% endblock %}