{% extends 'templates/base.twig' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Партнеры{% endblock %}

{% block page %}

<main class="site-content site-content_white">
    <div class="site-catalog">

    	<div class="catalog-common catalog-common_partners" style="background-image: url('/assets/catalogue/partners.jpg')">
      		<div class="catalog-common__links">
      			<a href="/projects.html" class="catalog-common__link _js-link">Проекты</a>
      			<a href="/partners.html" class="catalog-common__link current _js-link">Партнеры</a>
      		</div>
        </div>


        <div class="catalog-container_common fadeInTopSlow">
        	<div class="partners-grid offsetInTopSlow">

                <!-- partner -->
                <div class="partner-block">
                   <a href="partner-detail.html" class="partner-block__image _js-link" style="background: url('/assets/catalogue/partner.jpg')"></a>
                   <div class="partner-block__text">
                       <a href="partner-detail.html" class="partner-block__name _js-link">Сезар Пелли</a>
                       <div class="partner-block__role">архитектор</div>
                       <div class="partner-block__content">
                           <blockquote>
                               &laquo;Мои здания видятся мне неотъемлемой частью городов, и&nbsp;в&nbsp;своих проектах я&nbsp;пытаюсь сделать их&nbsp;ответственными и&nbsp;полезными гражданами&raquo;
                           </blockquote>
                            <a href="partner-detail.html" class="partner-block__link _js-link">Смотреть проекты</a>
                       </div>
                   </div>       
                </div>
                <!-- partner -->

                <!-- partner -->
                <div class="partner-block">
                   <a href="partner-detail.html" class="partner-block__image _js-link" style="background: url('/assets/catalogue/partner.jpg')"></a>
                   <div class="partner-block__text">
                       <a href="partner-detail.html" class="partner-block__name _js-link">Сезар Пелли</a>
                       <div class="partner-block__role">архитектор</div>
                       <div class="partner-block__content">
                           <p>
                               &laquo;Мои здания видятся мне неотъемлемой частью городов, и&nbsp;в&nbsp;своих проектах я&nbsp;пытаюсь сделать их&nbsp;ответственными и&nbsp;полезными гражданами&raquo;
                           </p>
                            <a href="partner-detail.html" class="partner-block__link _js-link">Смотреть проекты</a>
                       </div>
                   </div>       
                </div>
                <!-- partner -->


                <!-- partner -->
                <div class="partner-block">
                   <a href="partner-detail.html" class="partner-block__image" style="background: url('/assets/catalogue/partner.jpg')"></a>
                   <div class="partner-block__text">
                       <a href="partner-detail.html" class="partner-block__name _js-link">Сезар Пелли</a>
                       <div class="partner-block__role">архитектор</div>
                       <div class="partner-block__content">
                            <a href="partner-detail.html" class="partner-block__link _js-link">Смотреть проекты</a>
                       </div>
                   </div>       
                </div>
                <!-- partner -->


                <!-- partner -->
                <div class="partner-block">
                   <a href="partner-detail.html" class="partner-block__image" style="background: url('/assets/catalogue/partner.jpg')"></a>
                   <div class="partner-block__text">
                       <a href="partner-detail.html" class="partner-block__name _js-link">Сезар Пелли</a>
                       <div class="partner-block__role">архитектор</div>
                       <div class="partner-block__content">
                           <blockquote>
                               &laquo;Мои здания видятся мне неотъемлемой частью городов, и&nbsp;в&nbsp;своих проектах я&nbsp;пытаюсь сделать их&nbsp;ответственными и&nbsp;полезными гражданами&raquo;
                           </blockquote>
                            <a href="partner-detail.html" class="partner-block__link _js-link">Смотреть проекты</a>
                       </div>
                   </div>       
                </div>
                <!-- partner -->

                <!-- partner -->
                <div class="partner-block">
                   <a href="partner-detail.html" class="partner-block__image" style="background: url('/assets/catalogue/partner.jpg')"></a>
                   <div class="partner-block__text">
                       <a href="partner-detail.html" class="partner-block__name _js-link">Сезар Пелли</a>
                       <div class="partner-block__role">архитектор</div>
                       <div class="partner-block__content">
                           <blockquote>
                               &laquo;Мои здания видятся мне неотъемлемой частью городов, и&nbsp;в&nbsp;своих проектах я&nbsp;пытаюсь сделать их&nbsp;ответственными и&nbsp;полезными гражданами&raquo;
                           </blockquote>
                          <a href="partner-detail.html" class="partner-block__link _js-link">Смотреть проекты</a>
                       </div>
                   </div>       
                </div>
                <!-- partner -->
        	</div>

        </div>

    </div>
</main>

{% endblock %}

