{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'personal-design' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Каталог - Персональный дизайн{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">
            <div class="personal-design">
                <div class="personal-design__inner">
                    <div class="catalog-container">
                        <h1 class="site-catalog__title title-with-line">Персональное декорирование</h1>

                        <p class="personal-design__description">Вы&nbsp;можете создать собсвенный дизайн плит, и&nbsp;заказать его у&nbsp;нас!</p>
                    </div>
                </div>
            </div>

            <div class="catalog-container">
                <form action="#" enctype="multipart/form-data" method="post" data-ajax-url="/local/templates/laminam/ajax/ajax_decor.php" class="design-form js-design-form">
                    <div class="personal-design-constructor">
                        <div class="personal-design-constructor">
                            <div class="personal-design-constructor__info">
                                <div class="personal-design-constructor__choice">
                                    <div class="personal-design-constructor__row">
                                        <input type="radio" name="design_form_design_picture" id="design-picture-all-stoves" class="custom-radio" data-stove-params='{ "src": "https://via.placeholder.com/330x990", "width": 3000, "height": 2000, "size": 5 }' checked value="Рисунок на несколько плит">
                                        <label for="design-picture-all-stoves">Рисунок на&nbsp;несколько плит</label>
                                    </div>

                                    <div class="personal-design-constructor__row">
                                        <input type="radio" name="design_form_design_picture" id="design-picture-single-stove" class="custom-radio" data-stove-params='{ "src": "https://via.placeholder.com/990x330", "width": 4000, "height": 3000, "size": 6 }' value="Рисунок на одну плиту">
                                        <label for="design-picture-single-stove">Рисунок на&nbsp;одну плиту</label>
                                    </div>
                                </div>

                                <div class="personal-design-constructor__preview">
                                    <img class="js-data-img-src" src="https://via.placeholder.com/300x900" alt="">
                                </div>

                                <div class="personal-design-constructor__requirements">
                                    <span class="personal-design-constructor__requirements-title">Требования к&nbsp;формату файла:</span>
                                    
                                    <table class="requirements-table">
                                        <tr class="requirements-table__row">
                                            <td class="requirements-table__cell">
                                                <span class="requirements-table__key">Размер&nbsp;до</span>
                                            </td>
                                            <td class="requirements-table__cell">
                                                <span class="js-data-img-width">3000</span>&times;<span class="js-data-img-height">2000</span>&nbsp;px
                                            </td>
                                        </tr>
                                        <tr class="requirements-table__row">
                                            <td class="requirements-table__cell">
                                                <span class="requirements-table__key">Вес не&nbsp;более</span>
                                            </td>
                                            <td class="requirements-table__cell">
                                                <span class="js-data-img-size">5</span>&nbsp;мб
                                            </td>
                                        </tr>
                                        <tr class="requirements-table__row">
                                            <td class="requirements-table__cell">
                                                <span class="requirements-table__key">Формат</span>
                                            </td>
                                            <td class="requirements-table__cell">
                                                jpg, png, tiff
                                            </td>
                                        </tr>
                                    </table>
                                    
                                    <input type="file" name="design_form_file" id="load-file" class="load-file js-load-file" accept="image/*" data-rule-required="true">
                                    <label for="load-file" class="button personal-design-constructor__load-file js-load-file-label">Прикрепить файл</label>
                                </div>
                            </div>

                            <div class="personal-design-constructor__form">
                                <div class="personal-design-constructor__form-inner form">
                                    <div class="form-group">
                                        <input type="text" name="design_form_name" class="form-control name" data-rule-required="true" data-rule-minlength="2" data-rule-maxlength="64">
                                        <span class="form-placeholder">Как Вас зовут? <span class="_color--default">*</span></span>
                                    </div>
    
                                    <div class="form-group _half">
                                        <input type="email" name="design_form_email" class="form-control email" data-rule-required="true" data-rule-email="true">
                                        <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                                    </div>
    
                                    <div class="form-group _half">
                                        <input type="tel" name="design_form_phone" class="phone form-control" maxlength="18" data-rule-required="true">
                                        <span class="form-placeholder">Ваш телефон <span class="_color--default">*</span></span>
                                    </div>

                                    <div class="form-group _half" data-selectize-id="1">
                                        <select name="design_form_occupation" class="occupation selectize selectized" placeholder="">
                                            <option></option>
                                            <option value="Архитектор">Архитектор</option>
                                            <option value="Дизайнер">Дизайнер</option>
                                            <option value="Дистрибьютор">Дистрибьютор</option>
                                            <option value="Дилер">Дилер</option>
                                            <option value="Девелопер">Девелопер</option>
                                            <option value="Частное лицо">Частное лицо</option>
                                            <option value="Другое">Другое</option>
                                        </select>
                                        <span class="form-placeholder">Род деятельности</span>
                                    </div>

                                    <div class="form-group _half">
                                        <input type="text" name="design_form_region" class="form-control region" data-rule-required="true">
                                        <span class="form-placeholder">Регион <span class="_color--default">*</span></span>
                                    </div>

                                    <div class="form-group form-group_textarea">
                                        <textarea name="design_form_comment" placeholder="Любая дополнительная информация" class="personal-design-constructor__comment" data-rule-minlength="2" data-rule-maxlength="1024"></textarea>
                                    </div>
                                </div>

                                <button type="submit" class="button button-default personal-design-constructor__btn">Отправить</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- popup if empty -->
            <div class="sets-popup-wrapper mfp-hide setsEmptyPopup">
                <div class="sets-popup_empty">
                    <div class="sets-popup__alert">
                        Данные успешно отправлены
                    </div>
                </div>
            </div>
            <!-- popup if empty -->
        </div>
    </main>
{% endblock %}