{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'projects' %}
{% set blackHeader = true %}
{% block title %}Laminam :: La Coruña{% endblock %}
{% block page %}
<main class="site-content site-content_white">
    <div class="site-catalog">
        <div class="catalog-common catalog-common_detail" style="background-image: url('/assets/catalogue/slide.jpg')">

            <!-- breadcrumbs -->
            <div class="project-breadcrumbs">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Проекты</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">La Coruna</span>
                    </li>
                </ul>
            </div>
            <!-- breadcrumbs -->

            <div class="project-info">
                <!-- name -->
                <div class="project-info__project-name">
                    <h1 class="project-info__title">La coruna</h1>
                    <div class="project-info__meta">2015, La Coruna (Spain)</div>
                </div>
                <!-- name -->
                <div class="project-info__details">
                    <!-- members -->
                    <div class="project-info__members">
                        <!-- member -->
                        <div class="project-info__members-item">
                            <span class="project-info__role">архитекторы</span>
                            <a href="partner-detail.html" class="project-info__link _js-link">Сезар Пелли</a>              
                            <a href="partner-detail.html" class="project-info__link _js-link">Сезар Пелли</a>                          
                        </div>
                        <!-- member -->
                        <!-- member -->
                        <div class="project-info__members-item">
                            <span class="project-info__role">дизайнер</span>
                            <a href="partner-detail.html" class="project-info__link _js-link">Сезар Пелли</a>                          
                        </div>
                        <!-- member -->
                        <!-- member -->
                        <div class="project-info__members-item">
                            <span class="project-info__role">Дистрибъютор</span>
                            <a href="partner-detail.html" class="project-info__link _js-link">Arch-skin</a>                            
                        </div>
                        <!-- member -->
                    </div>
                    <!-- members -->
                    <!-- list -->
                    <div class="project-info__list">
                        Year: 2015<br>
                        House Complex<br>
                        La Coruña/Spain<br>
                        Design: Archt. Luis Rodriguez<br>
                        Ventilated Facades<br>
                        Collection, Fumo, Perla<br>
                        1000x3000<br>
                    </div>
                    <!-- list -->
                </div>
            </div>
        </div>

        <div class="project-detail  fadeInTopSlow">
            <div class="project-detail__content project-content offsetInTopSlow">
                <div class="project-content__row">
                    <div class="project-content__col">
                        <div class="project-content__text WYSIWYG">
                            <p>
                                Мы&nbsp;начали свой путь с&nbsp;глубокого изучения методов, технологий и&nbsp;продукции в&nbsp;нашей отрасли и&nbsp;сфокусировались на&nbsp;поиске новых производственных подходов. У&nbsp;группы, к&nbsp;которой мы&nbsp;принадлежим, есть более чем сорокалетний опыт в&nbsp;керамической индустрии. System Group хорошо известна своей способностью внедрять инновации в&nbsp;производственные технологии, оборудование, а&nbsp;также в&nbsp;логистические процессы в&nbsp;керамической отрасли. Франко Стефани, признанный новатор в&nbsp;керамической промышленности, придумал и&nbsp;основал Laminam в&nbsp;2001&nbsp;году. Его идея привела к&nbsp;разработке инновационного продукта и&nbsp;технологий, необходимых для его производства.
                            </p>
                            <blockquote>
                                Сегодня Laminam производит большие керамические плиты хорошо известные своим эклектизмом и&nbsp;гибкостью применения, которые используются в&nbsp;самых различных отраслях, будь&nbsp;то традиционное или ультрасовременное строительство, интерьеры и&nbsp;дизайн. 
                            </blockquote>
                            <p>
                                Мы&nbsp;начали с&nbsp;получения патента, защищающего технологию изготовления больших, но&nbsp;при этом тонких керамических плит. В&nbsp;результате в&nbsp;начале двадцать первого века нам удалось изобрести абсолютно новый продукт&nbsp;&mdash; ультратонкую керамику, которая придала новый импульс давно сформировавшейся керамической отрасли. Затем мы&nbsp;стали искать нетрадиционные и&nbsp;инновационные способы применения этого материала, чтобы сполна использовать его потенциал не&nbsp;только в&nbsp;традиционных сферах, таких как архитектура&nbsp;и, в&nbsp;качестве покрытий для внутренних и&nbsp;наружных интерьеров, но&nbsp;также и&nbsp;в&nbsp;новых областях, например, для создания мебели и&nbsp;технологий, генерирующих энергию с&nbsp;использованием возобновляемых источников.
                            </p>
                            <p>
                                Мы&nbsp;начали с&nbsp;получения патента, защищающего технологию изготовления больших, но&nbsp;при этом тонких керамических плит. В&nbsp;результате в&nbsp;начале двадцать первого века нам удалось изобрести абсолютно новый продукт&nbsp;&mdash; ультратонкую керамику, которая придала новый импульс давно сформировавшейся керамической отрасли. Затем мы&nbsp;стали искать нетрадиционные и&nbsp;инновационные способы применения этого материала, чтобы сполна использовать его потенциал не&nbsp;только в&nbsp;традиционных сферах, таких как архитектура&nbsp;и, в&nbsp;качестве покрытий для внутренних и&nbsp;наружных интерьеров, но&nbsp;также и&nbsp;в&nbsp;новых областях, например, для создания мебели и&nbsp;технологий, генерирующих энергию с&nbsp;использованием возобновляемых источников.
                            </p>
                            <ul>
                                <li>Пункт №1</li>
                                <li>Пункт №2</li>
                                <li>Пункт №3</li>
                                <li>Пункт №4</li>
                                <li>Пункт №5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="project-content__col">
                        <!-- slider & popup-->
                        <div class="project-content__slider" id="sliderPopup">
                            <div class="project-slider">
                                <!-- slide -->
                                <div class="project-slider__slide">
                                    <div class="project-slider__image"  style="background-image: url('/assets/catalogue/slide.jpg')"></div>
                                    <!-- <img src="assets/catalogue/detail.jpg" alt="" class="project-slider__img"> -->
                                </div>
                                <!-- slide -->
                                <!-- slide -->
                                <div class="project-slider__slide">
                                    <div class="project-slider__image"  style="background-image: url('/assets/catalogue/detail.jpg')"></div>
                                    <!-- <img src="assets/catalogue/detail.jpg" alt="" class="project-slider__img"> -->
                                </div>
                                <!-- slide -->
                            </div>
                            <!-- stoves for popup-->
                            <div class="popup-stoves">
                                <div class="popup-stoves__title">
                                    В проекте использованы плиты:
                                </div>
                                <div class="popup-stoves__list">
                                    <!-- item -->
                                    <div class="popup-stoves__item">
                                        <!-- stove-name -->
                                        <a href="catalog-card.html" class="popup-stoves__link _js-link closePopup">Grigio</a>
                                        <!-- stove-name -->
                                        <!-- collection -->
                                        <a href="catalog-collection-detail.html" class="popup-stoves__meta _js-link closePopup">коллекция Calce</a>
                                        <!-- collection -->
                                        <!-- stove-image -->
                                        <div class="popup-stoves__popover">
                                            <img src="assets/catalogue/texture.jpg" alt="" class="popup-stoves__img">
                                        </div>
                                        <!-- stove-image -->
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="popup-stoves__item">
                                        <!-- stove-name -->
                                        <a href="catalog-card.html" class="popup-stoves__link _js-link closePopup">Tortora</a>
                                        <!-- stove-name -->
                                        <!-- collection -->
                                        <a href="catalog-collection-detail.html" class="popup-stoves__meta _js-link closePopup">коллекция Calce</a>
                                        <!-- collection -->
                                        <!-- stove-image -->
                                        <div class="popup-stoves__popover">
                                            <img src="assets/catalogue/detail.jpg" alt="" class="popup-stoves__img">
                                        </div>
                                        <!-- stove-image -->
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="popup-stoves__item">
                                        <!-- stove-name -->
                                        <a href="catalog-card.html" class="popup-stoves__link _js-link closePopup">Grigio</a>
                                        <!-- stove-name -->
                                        <!-- collection -->
                                        <a href="catalog-collection-detail.html" class="popup-stoves__meta _js-link closePopup">коллекция Calce</a>
                                        <!-- collection -->
                                        <!-- stove-image -->
                                        <div class="popup-stoves__popover">
                                            <img src="assets/catalogue/texture.jpg" alt="" class="popup-stoves__img">
                                        </div>
                                        <!-- stove-image -->
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="popup-stoves__item">
                                        <!-- stove-name -->
                                        <a href="catalog-card.html" class="popup-stoves__link _js-link closePopup">Tortora Tortora</a>
                                        <!-- stove-name -->
                                        <!-- collection -->
                                        <a href="catalog-collection-detail.html" class="popup-stoves__meta _js-link closePopup">коллекция Calce</a>
                                        <!-- collection -->
                                        <!-- stove-image -->
                                        <div class="popup-stoves__popover">
                                            <img src="assets/catalogue/texture.jpg" alt="" class="popup-stoves__img">
                                        </div>
                                        <!-- stove-image -->
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="popup-stoves__item">
                                        <!-- stove-name -->
                                        <a href="catalog-card.html" class="popup-stoves__link _js-link closePopup">Grigio</a>
                                        <!-- stove-name -->
                                        <!-- collection -->
                                        <a href="catalog-collection-detail.html" class="popup-stoves__meta _js-link closePopup">коллекция Calce</a>
                                        <!-- collection -->
                                        <!-- stove-image -->
                                        <div class="popup-stoves__popover">
                                            <img src="assets/catalogue/texture.jpg" alt="" class="popup-stoves__img">
                                        </div>
                                        <!-- stove-image -->
                                    </div>
                                    <!-- item -->
                                    <!-- item -->
                                    <div class="popup-stoves__item">
                                        <!-- stove-name -->
                                        <a href="catalog-card.html" class="popup-stoves__link _js-link closePopup">Grigio</a>
                                        <!-- stove-name -->
                                        <!-- collection -->
                                        <a href="catalog-collection-detail.html" class="popup-stoves__meta _js-link closePopup">коллекция Calce</a>
                                        <!-- collection -->
                                        <!-- stove-image -->
                                        <div class="popup-stoves__popover">
                                            <img src="assets/catalogue/texture.jpg" alt="" class="popup-stoves__img">
                                        </div>
                                        <!-- stove-image -->
                                    </div>
                                    <!-- item -->
                                </div>
                            </div>
                            <!-- stoves for popup-->
                        </div>
                        <!-- slider -->
                            
                        <!-- stoves-->
                        <div class="stoves-grid fadeInTop">
                            <!-- item -->
                            <div class="stoves-grid__item ">
                                <a href="catalog-card.html" class="stoves-grid__link _js-link">
                                <span class="stoves-grid__img" style="background-image: url('/assets/catalogue/stove.jpg');"></span>
                                <span class="stoves-grid__hover">
                                    <span class="stoves-grid__stove">Tortora</span>
                                    <span class="stoves-grid__coll">
                                        <span>Коллкекция</span>
                                        <span>Calce</span>
                                    </span>
                                </span>
                                </a>
                            </div>
                            <!-- item -->

                            <!-- item -->
                            <div class="stoves-grid__item ">
                                <a href="catalog-card.html" class="stoves-grid__link _js-link">
                                <span class="stoves-grid__img" style="background-image: url('/assets/catalogue/stove.jpg');"></span>
                                <span class="stoves-grid__hover">
                                    <span class="stoves-grid__stove">Tortora</span>
                                    <span class="stoves-grid__coll">
                                        <span>Коллкекция</span>
                                        <span>Calce</span>
                                    </span>
                                </span>
                                </a>
                            </div>
                            <!-- item -->
                            
                            <!-- item -->
                            <div class="stoves-grid__item ">
                                <a href="catalog-card.html" class="stoves-grid__link _js-link">
                                <span class="stoves-grid__img" style="background-image: url('/assets/catalogue/stove.jpg');"></span>
                                <span class="stoves-grid__hover">
                                    <span class="stoves-grid__stove">Tortora</span>
                                    <span class="stoves-grid__coll">
                                        <span>Коллкекция</span>
                                        <span>Calce</span>
                                    </span>
                                </span>
                                </a>
                            </div>
                            <!-- item -->

                            <!-- item -->
                            <div class="stoves-grid__item ">
                                <a href="catalog-card.html" class="stoves-grid__link _js-link">
                                <span class="stoves-grid__img" style="background-image: url('/assets/catalogue/stove.jpg');"></span>
                                <span class="stoves-grid__hover">
                                    <span class="stoves-grid__stove">Tortora</span>
                                    <span class="stoves-grid__coll">
                                        <span>Коллкекция</span>
                                        <span>Calce</span>
                                    </span>
                                </span>
                                </a>
                            </div>
                            <!-- item -->

                            <!-- stoves -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- collections section -->
            <div class="project-detail__content project-collections">
                <div class="fadeInTop">
                    <h2 class="project-collection__header offsetInTop">
                        КОЛЛЕКЦИИ И ПЛИТЫ, ИСПОЛЬЗОВАННЫЕ В ЭТОМ ПРОЕКТЕ
                    </h2>
                </div>
                <!-- 1collection -->
                <div class="fadeInTop">
                    <div class="project-collection__row offsetInTop">
                        <div class="project-collection__txt ">
                            <a href="#" class="project-collection__title-link">
                            <span>Collection</span>
                            <span class="project-collection__label">NEW</span>
                            </a>
                            <div class="project-collection__descr">
                                Самая &laquo;долгоиграющая&raquo; коллекция.<br> Производится с&nbsp;2002&nbsp;года. Здесь цвет берет на&nbsp;себя определяющую роль.
                            </div>
                        </div>
                        <div class="project-collection__images">
                            <!-- stove -->
                            <div class="project-collection__image-block">
                                <a href="catalog-card.html" class="project-collection__stove-link _js-link">
                                    <div class="project-collection__img" style="background-image: url('assets/catalogue/bianco.jpg'); "></div>
                                    <p>Avorio</p>
                                </a>
                            </div>
                            <!-- stove -->
                            <!-- stove -->
                            <div class="project-collection__image-block">
                                <a href="catalog-card.html" class="project-collection__stove-link _js-link">
                                    <div class="project-collection__img" style="background-image: url('assets/catalogue/bianco.jpg'); "></div>
                                    <p>Avorio</p>
                                </a>
                            </div>
                            <!-- stove -->
                            <!-- stove -->
                            <div class="project-collection__image-block">
                                <a href="catalog-card.html" class="project-collection__stove-link _js-link">
                                    <div class="project-collection__img" style="background-image: url('assets/catalogue/bianco.jpg'); "></div>
                                    <p>Avorio</p>
                                </a>
                            </div>
                            <!-- stove -->
                        </div>
                    </div>
                </div>
                <!-- 1collection -->
                <!-- 2collection -->
                <div class="fadeInTop">
                    <div class="project-collection__row offsetInTop">
                        <div class="project-collection__txt">
                            <a href="catalog-collection-detail.html" class="project-collection__title-link _js-link">Collection</a>
                            <div class="project-collection__descr">
                                Самая &laquo;долгоиграющая&raquo; коллекция.<br> Производится с&nbsp;2002&nbsp;года. Здесь цвет берет на&nbsp;себя определяющую роль.
                            </div>
                        </div>
                        <div class="project-collection__images">
                            <!-- stove -->
                            <div class="project-collection__image-block">
                                <a href="catalog-card.html" class="project-collection__stove-link _js-link">
                                    <div class="project-collection__img" style="background-image: url('assets/catalogue/bianco.jpg'); "></div>
                                    <p>Avorio</p>
                                </a>
                            </div>
                            <!-- stove -->
                            <!-- stove -->
                            <div class="project-collection__image-block">
                                <a href="catalog-card.html" class="project-collection__stove-link _js-link">
                                <div class="project-collection__img" style="background-image: url('assets/catalogue/bianco.jpg'); "></div>
                                    <p>Avorio</p>
                                </a>
                            </div>
                            <!-- stove -->
                        </div>
                    </div>
                </div>
                <!-- 2collection -->
            </div>
            <!-- collections section -->
        </div>
    </div>
</main>
{% endblock %}