{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'projects' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Проекты{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">

        	<div class="catalog-common">
        		<div class="catalog-common__links">
        			<a href="/projects.html" class="catalog-common__link current _js-link">Проекты</a>
        			<a href="/partners.html" class="catalog-common__link _js-link">Партнеры</a>
        		</div>
            </div>

            <div class="catalog-container_common fadeInTopSlow">
            	<div class="catalog-grid offsetInTopSlow">

            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic2.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic3.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		<!-- item -->
            		<a href="project-detail.html" class="catalog-grid__item _js-link">
            			<div class="catalog-grid__image" style="background-image: url('/assets/catalogue/pic.jpg')"></div>
            			<div class="catalog-grid__button">
            				<div class="catalog-grid__title">La Coruña</div>
            				<div class="catalog-grid__meta">2015, La Coruna (Spain)</div>
            			</div>
            		</a>
            		<!-- item -->
            		
            	</div>

            	<div class="catalog-common__button">
            		<button type="button" class="button button-default">Смотреть еще </button>        		
            	</div>
            </div>

        </div>
    </main>
{% endblock %}