{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'projects' %}
{% set blackHeader = true %}
{% block title %}Laminam :: La Coruña{% endblock %}
{% block page %}
<main class="site-content site-content_white">
    <div class="site-catalog">
        <div class="catalog-common_sets">
            <!-- breadcrumbs -->
            <div class="project-breadcrumbs sets-breadcrumbs">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Каталог</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Подборки</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">Оригинальный дизайн</span>
                    </li>
                </ul>
            </div>
            <!-- breadcrumbs -->
            <!-- title -->
            <div class="sets-header_main sets-header_detail">
                <h1 class="sets-header__title sets-header__title_detail">Оригинальный дизайн</h1>
                <span class="sets-header__btn button button-default setsFull">Скачать все в HiRes
                            <svg class="icon icon-download"><use xlink:href="#download"></use></svg>
                        </span>
                <span class="sets-header__btn button button-default setsEmail">Отправить на email
                            <svg class="icon icon-email"><use xlink:href="#email"></use></svg>
                        </span>
            </div>
            <!-- title -->
        </div>



        <!-- sets detail-->
        <div id="appItem" class="catalog-container_common catalog-container_sets catalog-container_sets-detail fadeInTopSlow">
            <!-- placeholder -->
            <div class="sets-grid-detail__placeholder">
                Для того, чтобы добавить плиту в подборку, перейдите <a class= "_js-link" href="catalog.html"> в каталог</a>
            </div>
            <!-- placeholder -->
            <!-- grid -->
            <div class="sets-grid-detail offsetInTopSlow">

                <!-- item -->
                <div class="sets-grid-detail__item" v-for="(item, index) in items">
                    <div class="sets-grid-detail__del-btn setsDelete" @click="openPopup(item.id)">
                        <svg class="icon icon-del-set">
                            <use xlink:href="#trash"></use>
                        </svg>
                    </div>

                    <!-- image -->
                    <a class="sets-grid-detail__img _js-link" 
                       :href="items[index].link  + '?' + index" 
                       :style="'background-image: url(' + items[index].image + ');'"></a>
                    <!-- image -->
                    <!-- name -->
                    <a class="sets-grid-detail__name _js-link"
                       :href="items[index].link + '?' + index"  
                       :class="items[index].dark ? '_light' : '' " >
                       ${items[index].name}
                    </a>
                    <!-- name -->
                    <!-- bottom -->
                    <div class="sets-grid-detail__bottom">
                        <!-- collection -->
                        <div class="sets-grid-detail__col">
                            <span class="sets-grid-detail__label">Коллекция:</span>

                            <a class="sets-grid-detail__link _js-link" 
                               :href="items[index].collectionLink + '?' + index" >
                               ${items[index].collectionName}
                           </a>

                        </div>
                        <!-- collection -->
                        <div class="sets-grid-detail__btn setsSingle" @click="openPopupSend(index)">Скачать HiRes</div>
                    </div>
                    <!-- bottom -->
                </div>
                <!-- item--> 

                <!-- popup if delete -->
                <div data-index="" class="sets-popup-wrapper mfp-hide setsDeletePopup">
                    <div class="sets-popup_delete">
                        <div class="sets-popup__alert">Удалить?</div>
                        <div class="sets-popup__confirm">
                            <span class="sets-popup__conf-btn button button-default closePopup">Нет</span>
                            <span class="sets-popup__conf-btn button button-default" @click="approveRemove()">Да</span>
                        </div>
                    </div>
                </div>
                <!-- popup if delete -->



            </div>
            <!-- grid end-->
        </div>
        <!-- sets detail end-->

        <!--single popup -->
        <div class="sets-popup-wrapper mfp-hide setsSinglePopup">
            <div class="sets-popup">
                <div class="sets-popup__header">Скачать HiRes изображение GRIGIO</div>
                <form action="#" class="sets-form">
                    <div class="sets-form__secondary">
                        <div>Вы также можете выбрать дополнительные материалы:</div>
                        <label class="sets-form__checkbox-label">
                            <input type="checkbox" class="sets-form__checkbox" name="assets" value="guide">
                            Технический гайд
                        </label>
                        <label class="sets-form__checkbox-label">
                            <input type="checkbox" class="sets-form__checkbox" name="assets" value="video">
                            Видео-материалы
                        </label>
                    </div>
                    <div class="sets-form__main form">
                        <div class="form-group _half">
                            <input type="text" name="name" class="form-control name">
                            <span class="form-placeholder">Как Вас зовут? <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="email" name="mail" class="mail form-control" value="">
                            <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="tel" name="phone" class="phone form-control" maxlength="15">
                            <span class="form-placeholder">Ваш телефон <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="text" name="region" class="region form-control">
                            <span class="form-placeholder">Город <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group">
                            <select name="occupation" class="occupation selectize selectized" placeholder="" tabindex="-1" style="display: none;">
                                <option value="" selected="selected"></option>
                                <option value="architector">Архитектор</option>
                                <option value="designer">Дизайнер</option>
                                <option value="distributor">Дистрибьютор</option>
                                <option value="diler">Дилер</option>
                                <option value="developer">Девелопер</option>
                                <option value="self">Частное лицо</option>
                                <option value="other">Другое</option>
                            </select>
                            <span class="form-placeholder">Род деятельности</span>
                        </div>
                        <input type="button" class="button button-default form-submit sets-form__btn" value="Скачать" onclick="showSubmitMessage()">
                    </div>

                    <!-- Message, when form was submitted -->
                    <div class="form-message" style="display: none;">Материалы отправлены на указанную почту</div>
                    <!-- Message, when form was submitted -->
                </form>
            </div>
            <!-- stove -->
            <div class="sets-popup__image" style="background-image: url(assets/catalogue/stove.jpg);"></div>
            <!-- stove -->
        </div>
        <!--single popup end-->


        <!--full popup -->
        <div class="sets-popup-wrapper mfp-hide setsFullPopup">
            <div class="sets-popup">
                <div class="sets-popup__header">Скачать HiRes подборки</div>
                <form action="#" class="sets-form">
                    <div class="sets-form__secondary">
                        <div>Вы также можете выбрать дополнительные материалы:</div>
                        <label class="sets-form__checkbox-label">
                            <input type="checkbox" class="sets-form__checkbox" name="assets" value="guide">
                            Технический гайд
                        </label>
                        <label class="sets-form__checkbox-label">
                            <input type="checkbox" class="sets-form__checkbox" name="assets" value="video">
                            Видео-материалы
                        </label>
                    </div>
                    <div class="sets-form__main form">
                        <div class="form-group _half">
                            <input type="text" name="name" class="form-control name">
                            <span class="form-placeholder">Как Вас зовут? <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="email" name="mail" class="mail form-control" value="">
                            <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="tel" name="phone" class="phone form-control" maxlength="15">
                            <span class="form-placeholder">Ваш телефон <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="text" name="region" class="region form-control">
                            <span class="form-placeholder">Город <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group">
                            <select name="occupation" class="occupation selectize selectized" placeholder="" tabindex="-1" style="display: none;">
                                <option value="" selected="selected"></option>
                                <option value="architector">Архитектор</option>
                                <option value="designer">Дизайнер</option>
                                <option value="distributor">Дистрибьютор</option>
                                <option value="diler">Дилер</option>
                                <option value="developer">Девелопер</option>
                                <option value="self">Частное лицо</option>
                                <option value="other">Другое</option>
                            </select>
                            <span class="form-placeholder">Род деятельности</span>
                        </div>
                        <input type="button" class="button button-default form-submit sets-form__btn" value="Скачать" onclick="showSubmitMessage()">
                    </div>
                    <!-- Message, when form was submitted -->
                    <div class="form-message" style="display: none;">Материалы отправлены на указанную почту</div>
                    <!-- Message, when form was submitted -->
                </form>
            </div>
            <!-- stove -->
            <div class="sets-popup__image" style="background-image: url(assets/catalogue/stove.jpg);"></div>
            <!-- stove -->
        </div>
        <!--full popup end-->

        <!-- email popup -->
        <div class="sets-popup-wrapper setsEmailPopup mfp-hide">
            <div class="sets-popup">
                <div class="sets-popup__header">Отправить подборку на email</div>
                <form action="#" class="sets-form">
                    <div class="sets-form__main form">
                        <div class="form-group _half setsEmailPopup__input">
                            <input type="email" name="mail" class="mail form-control " value="">
                            <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="button" class="button button-default form-submit sets-form__btn" value="Отправить" onclick="showSubmitMessage()">
                        </div>
                    </div>
                    <!-- Message, when form was submitted -->
                    <div class="form-message" style="display: none;">Подборка отправлена на указанную почту</div>
                    <!-- Message, when form was submitted -->
                </form>
            </div>
            <!-- stove -->
            <div class="sets-popup__image" style="background-image: url(/assets/catalogue/stove.jpg);"></div>
            <!-- stove -->
        </div>
        <!-- popup end-->
    </div>
</main>
{% endblock %}





