
{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'projects' %}
{% set blackHeader = true %}

{% block title %}Laminam :: Оригинальный дизайн{% endblock %}

{% block page %}
    <main class="site-content site-content_white">
        <div class="site-catalog">


    	<div class="catalog-common_sets">

    		<!-- breadcrumbs -->
			<div class="project-breadcrumbs sets-breadcrumbs">
                <ul class="breadcrumbs">
                    <li class="breadcrumbs__item">
                        <a href="#" class="breadcrumbs__link">Каталог</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span class="breadcrumbs__current">Подборки</span>
                    </li>
                </ul>
            </div>
    		<!-- breadcrumbs -->


    		<!-- title -->
    		<div class="sets-header_main">
    				<h1 class="sets-header__title">Мои подборки</h1>
                    <span  class="sets-header__btn button button-default setsFull">Скачать все в HiRes
                        <svg class="icon icon-download"><use xlink:href="#download"></use></svg>
                    </span>
    		</div>	
            <!-- title -->
        </div>


        <!-- Это демо-кнопка, её нужго удалить -->
        <button id="demoPopup">Это демо-кнопка для того чтобы вызвать попап, который показывается когда подборок еще нет </button>
        <!-- Это демо-кнопка, её нужго удалить -->



        <!-- sets -->
        <div class="catalog-container_common catalog-container_sets fadeInTopSlow">


        	<div class="sets-grid offsetInTopSlow">
                <!-- add set btn-->
                <div class="sets-grid__item add-set">
                    <div class="sets-grid__btn">
                         <div class="sets-grid__btn-text">
                            <div class="sets-grid__btn-plh">
                                <svg class="icon icon-add-set">
                                    <use xlink:href="#add-sets"></use>
                                </svg>
                                 Создать подборку
                             </div>
                             
                            <div class="sets-grid__btn-input form-group" style="display: none;">
                                <input class="form-control sets-grid__input" type="text">
                                <span class="sets-grid__pseudo-btn">
                                    <svg class="icon icon-ok">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                </span>
                            </div>
                         </div>
                    </div>
                </div>
                <!-- add set btn-->
                <!-- add set btn-->
                <div class="sets-grid__item add-set">
                    <div class="sets-grid__btn">
                         <div class="sets-grid__btn-text">
                            <div class="sets-grid__btn-plh" style="display: none;">
                                <svg class="icon icon-add-set">
                                    <use xlink:href="#add-sets"></use>
                                </svg>
                                 Создать подборку
                             </div>

                            <div class="sets-grid__btn-input form-group" >
                                <input class="form-control sets-grid__input" type="text" placeholder="Название подборки">
                                <span class="sets-grid__pseudo-btn">
                                    <svg class="icon icon-ok">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                </span>
                            </div>
                         </div>
                    </div>
                </div>
                <!-- add set btn-->

                <!-- add set btn-->
                <div class="sets-grid__item add-set">
                    <div class="sets-grid__btn">
                         <div class="sets-grid__btn-text">
                            <div class="sets-grid__btn-plh" style="display: none;">
                                <svg class="icon icon-add-set">
                                    <use xlink:href="#add-sets"></use>
                                </svg>
                                 Создать подборку
                             </div>

                            <div class="sets-grid__btn-input form-group" >
                                <input class="form-control sets-grid__input" type="text" placeholder="Название подборки" value="Избранн">
                                <span class="sets-grid__pseudo-btn">
                                    <svg class="icon icon-ok">
                                        <use xlink:href="#ok"></use>
                                    </svg>
                                </span>
                            </div>
                         </div>
                    </div>
                </div>
                <!-- add set btn-->
                
                <!--set item -->
                <div class="sets-grid__item">
                    <div class="user-set__buttons">
                        <span class="user-set__edit">
                            <svg class="icon icon-edit-set">
                                <use xlink:href="#edit"></use>
                            </svg>
                        </span>
                        <span class="user-set__delete setsDelete">
                            <svg class="icon icon-del-set">
                                <use xlink:href="#trash"></use>
                            </svg>
                        </span>
                    </div>
                    
                    <a  href="sets-detail.html" class="_js-link user-set">
                        <div class="sets-grid__image" style="background-image: url('/assets/catalogue/set-cover.jpg')">
                        </div>
                        <div class="sets-grid__name">
                            <span>Следующий проект</span>
                            <svg class="icon icon-arrow">
                                <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <!--set item -->

                <!--set item -->
                <div class="sets-grid__item">
                    <div class="user-set__buttons">
                        <span class="user-set__edit">
                            <svg class="icon icon-edit-set">
                                <use xlink:href="#edit"></use>
                            </svg>
                        </span>
                        <span class="user-set__delete setsDelete">
                            <svg class="icon icon-del-set">
                                <use xlink:href="#trash"></use>
                            </svg>
                        </span>
                    </div>

                    <a href="sets-detail.html" class="_js-link user-set noSet">
                        <div class="sets-grid__image" style="">
                        </div>
                        <span class="user-set__noset">В этой подборке пока пусто</span>
                        <div class="sets-grid__name">
                            <span>Следующий проект</span>
                            <svg class="icon icon-arrow">
                                <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <!--set item -->
                

                <!--set item -->
                <div class="sets-grid__item">
                    <div class="user-set__buttons">
                        <span class="user-set__edit">
                            <svg class="icon icon-edit-set">
                                <use xlink:href="#edit"></use>
                            </svg>
                        </span>
                        <span class="user-set__delete setsDelete">
                            <svg class="icon icon-del-set">
                                <use xlink:href="#trash"></use>
                            </svg>
                        </span>
                    </div>
                    
                    <a  href="sets-detail.html" class="_js-link user-set">
                        <div class="sets-grid__image" style="background-image: url('/assets/catalogue/set-cover.jpg')">
                        </div>
                        <div class="sets-grid__name">
                            <span>Следующий проект</span>
                            <svg class="icon icon-arrow">
                                <use xlink:href="#arrow"></use>
                            </svg>
                        </div>
                    </a>
                </div>
                <!--set item --> 

        	</div>
        </div>

        <!-- sets end -->



        <!-- popup if delete set -->
        <div class="sets-popup-wrapper mfp-hide setsDeletePopup">
            <div class="sets-popup_delete">
                <div class="sets-popup__alert">Удалить подборку?</div>
                <div class="sets-popup__confirm">
                    <span class="sets-popup__conf-btn button button-default closePopup">Нет</span>
                    <span class="sets-popup__conf-btn button button-default">Да</span>
                </div>
            </div>
        </div>
        <!-- popup if delete set -->



        <!-- popup if empty -->
        <div class="sets-popup-wrapper mfp-hide setsEmptyPopup">
            <div class="sets-popup_empty">
                <div class="sets-popup__alert">Созданные вами подборки будут храниться в&nbsp;вашем браузере. При очистке истории подборки также очистятся. Также собранные вами подборки не&nbsp;отобразятся в&nbsp;другом браузере или устройстве</div>
                <span class="sets-popup__close-btn button button-default">Понятно</span>

            </div>

        </div>
        <!-- popup if empty -->

        <!--full popup -->
        <div class="sets-popup-wrapper mfp-hide setsFullPopup">
            <div class="sets-popup">
                <div class="sets-popup__header">Скачать HiRes подборки</div>
            
                <form action="#" class="sets-form">
            
                    <div class="sets-form__secondary">
                        <div>Вы также можете выбрать дополнительные материалы:</div>
                        <label class="sets-form__checkbox-label">
                            <input type="checkbox" class="sets-form__checkbox" name="assets" value="guide">
                            Технический гайд
                        </label>
                        <label class="sets-form__checkbox-label">
                            <input type="checkbox" class="sets-form__checkbox" name="assets" value="video">
                            Видео-материалы
                        </label>
                    </div>
            
                    <div class="sets-form__main form">
                        <div class="form-group _half">
                            <input type="text" name="name" class="form-control name">
                            <span class="form-placeholder">Как Вас зовут? <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="email" name="mail" class="mail form-control" value="">
                            <span class="form-placeholder">Ваш e-mail <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="tel" name="phone" class="phone form-control" maxlength="15">
                            <span class="form-placeholder">Ваш телефон <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group _half">
                            <input type="text" name="city" class="form-control">
                            <span class="form-placeholder">Город <span class="_color--default">*</span></span>
                        </div>
                        <div class="form-group">
                            <select name="occupation" class="occupation selectize selectized" placeholder="" tabindex="-1" style="display: none;">
                                <option value="" selected="selected"></option>
                                <option value="architector">Архитектор</option>
                                <option value="designer">Дизайнер</option>
                                <option value="distributor">Дистрибьютор</option>
                                <option value="diler">Дилер</option>
                                <option value="developer">Девелопер</option>
                                <option value="self">Частное лицо</option>
                                <option value="other">Другое</option>
                            </select>
                            <span class="form-placeholder">Род деятельности</span>
                        </div>
                        <input type="button" class="button button-default form-submit sets-form__btn" value="Скачать">
                        <!-- <button style="display:none;" class="button button-default _mini form-submit form-submit-popup" data-toggle="modal" data-target="#textures">Отправить</button>
                        <button style="display:none;" class="form-submit-popup-error" data-toggle="modal" data-target="#textures_error">Отправить</button> -->
                    </div>
                </form>
            </div>
            
                <!-- stove -->
                <div class="sets-popup__image" style="background-image: url(assets/catalogue/stove.jpg);"></div>
                <!-- stove -->
        </div>
        <!--full popup end-->
                
                


             

        </div>
    </main>


{% endblock %}