{% extends 'templates/base.twig' %}
{% set bodyClass = 'page' %}
{% set menuItem = 'tehnology' %}
{% set blackHeader = true %}

{% block title %}Laminam :: О технологии{% endblock %}

{% block page %}
    <main class="site-content">
        <div class="banner _standard _tehlonogy _js-animated-block">
            <div class="banner-content banner-line__container">
                <h1>Технология и&nbsp;применение плит</h1>
                <div class="banner-info _flex _flex--items-center">
                    <div class="banner-info__left">
                        <span class="label _additional">Производственный процесс в&nbsp;Laminam выстроен на&nbsp;эксклюзивной системе прессования тщательно отобранных и&nbsp;очищенных видов глины и&nbsp;полевого шпата, гарантирующей превосходные характеристики керамических плит.</span>
                    </div>
                    <div class="banner-info__right">
                        <img src="assets/tehnology1.jpg" class="banner-info__thumb">
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__content info-block__tech--screen2 _bg_smoke _js-animated-block">
            <div class="container _medium _flex _flex--end">
                <div class="info-block__left">
                    <p>Совершенные технологии, применяемые в&nbsp;Laminam, включают передовые системы декорирования, энергосберегающие печи для обжига, а&nbsp;также сухую систему резки, позволяющую сократить потребление воды и&nbsp;затраты на&nbsp;ее&nbsp;очистку.
                    </p>

                    <img data-src="assets/tehnology2.jpg" alt="">
                </div>
                <div class="info-block__right _flex _flex--items-end">
                    <p>Вторично используемые сырье и&nbsp;энергия являются основополагающими принципами нашей производственной системы.</p>
                    <img data-src="assets/tehnology3.jpg" alt="">
                </div>
            </div>
        </div>

        <div class="info-block info-block__slider info-block__content info-block__tech--screen3 _bg_white _js-animated-block">
            <div class="container fadeInTop _medium _flex _flex--swap-md">
                <div class="info-block__left offsetInTop">
                    <div class="loader-container">
                        <div class="slider slider-info _js-slider-info _slider-auto">
                            <div class="slider-item">
                                <img src="assets/tehnology4.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info3.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info2.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info3.jpg" alt="">
                            </div>
                            <div class="slider-item">
                                <img data-src="assets/info2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="info-block__right _flex offsetInTop _flex--items-center">
                    <div class="info-block__inner">
                        <h3>Многофункциональность и&nbsp;технологическое совершенство.</h3>
                        <p>Laminam&nbsp;&mdash; это удивительно привлекательная, высокотехнологичная поверхность, способная обеспечить выдающиеся эксплуатационные свойства во&nbsp;всех сферах применения материала, будь&nbsp;то строительство, создание мебели или
                            дизайн интерьера.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__content _bg _bg_smoke _js-animated-block">
            <div class="container fadeInBlock _medium _flex">
                <div class="info-block__left _flex _flex--items-center">
                    <div class="info-block__inner">
                        <h3>Расширяем дизайн-границы</h3>
                        <p>Самая большая и&nbsp;при этом самая тонкая керамическая плита из&nbsp;когда-либо созданных. Она&nbsp;&mdash; словно кожа для поверхностей и&nbsp;структур. Рождена для расширения границ в&nbsp;дизайне и&nbsp;архитектуре.</p>
                        <p>Материал можно использовать как для фасадов с&nbsp;традиционными клеевыми системами, так и&nbsp;для более современных систем, например, для термической обшивки, сухих конструкций, вентилируемых и&nbsp;сплошных фасадов.</p>
                    </div>
                </div>
                <div class="info-block__right _bg _hidden-xs _hidden-extra" style="background-image: url('assets/tech4_desk.jpg')"></div>
                <div class="info-block__right _bg _visible-extra" data-bgi="assets/tech4_desk@2x.jpg"></div>
                <div class="info-block__right _bg _visible-xs" data-bgi="assets/tech4_mob.jpg"></div>
            </div>
        </div>

        <div class="info-block info-block__features _bg_white _js-animated-block">
            <div class="fadeInBlock _flex _flex--items-center">
                <div class="banner-content banner-line__container">
                    <span class="banner-line banner-line__top animated d0 s0-3 _now" data-animate="widthIn"></span>
                    <span class="banner-line banner-line__right animated d0-3 s0-3 _now" data-animate="heightIn"></span>
                    <span class="banner-line banner-line__bottom animated d0-6 s0-3 _now" data-animate="widthIn"></span>
                    <span class="banner-line banner-line__left animated d0-9 s0-3 _now" data-animate="heightIn"></span>
                </div>
                <div class="container _medium">
                    <h3>Уникальные характеристики плит</h3>

                    <ul class="features">
                        <li class="features__item">
                            <div class="features__icon">
                                <img data-src="assets/svg_icons/flasks.svg" alt="" class="icon icon-footwear">
                            </div>
                            <p>Устойчивы к&nbsp;воздействию химических веществ</p>
                        </li>
                        <li class="features__item">
                            <div class="features__icon">
                                <img data-src="assets/svg_icons/footwear.svg" alt="" class="icon icon-footwear">
                            </div>
                            <p>Устойчивы к&nbsp;естественному износу и&nbsp;старению</p>
                        </li>
                        <li class="features__item">
                            <div class="features__icon">
                                <img data-src="assets/svg_icons/apple.svg" alt="" class="icon icon-apple">
                            </div>
                            <p>Полностью совместимы с&nbsp;пищевыми продуктами</p>
                        </li>
                        <li class="features__item">
                            <div class="features__icon">
                                <img data-src="assets/svg_icons/spray.svg" alt="" class="icon icon-spray">
                            </div>
                            <p>Не&nbsp;боятся самых стойких красок</p>
                        </li>
                        <li class="features__item">
                            <div class="features__icon">
                                <img data-src="assets/svg_icons/fire.svg" alt="" class="icon icon-fire">
                            </div>
                            <p>Устойчивы к&nbsp;температурам и&nbsp;воздействию огня</p>
                        </li>
                        <li class="features__item">
                            <div class="features__icon">
                                <img data-src="assets/svg_icons/snowflake.svg" alt="" class="icon icon-snowflake">
                            </div>
                            <p>Не&nbsp;боятся русской зимы и&nbsp;сильных морозов</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="info-block info-block__video-block _bg_smoke fadeInTop">
            <div class="video-block _js-video-block">
                <video class="site-video _js-video" src="assets/video/video.mp4" preload="none">
                    <source src="assets/video/video.mp4" type="video/mp4" />
                    <source src="assets/video/video.ogv" type="video/ogg" />
                </video>

                <div class="video-thumb"></div>

                <div class="video-content _js-video-content">
                    <div class="container _large">
                        <svg class="icon icon-play _js-play-video">
                            <use xlink:href="#play"></use>
                        </svg>
                        <p>Производственный процесс</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-block info-block__more _bg_smoke fadeInBlock _js-animated-block">
            <div class="container _flex _flex--items-center">
                <a href="catalog.html" class="button button-link link-animate _js-link _js-animate-link">
                    <span class="link-animate-text">Каталог и&nbsp;материалы</span>
                    <svg class="icon icon-arrow">
                        <use xlink:href="#arrow"></use>
                    </svg>

                    <span class="button__line button__line_top js-button-line"></span>
                    <span class="button__line button__line_right js-button-line"></span>
                    <span class="button__line button__line_bottom js-button-line"></span>
                    <span class="button__line button__line_left js-button-line"></span>
                </a>
            </div>
        </div>
    </main>
{% endblock %}