.video {
    &-block {
        position: relative;
        overflow: hidden;

        &:not(.info-block__video):hover {
            .icon-play {
                transform: scale(1.2);
            }
        }

        &._played {
            .video {
                &-thumb {
                    // transform: translate(0, 100%);
                    opacity: 0;
                    pointer-events: none;
                }

                &-content {
                    transform: scale(0) !important;
                    z-index: -1;
                    pointer-events: none;
                }

                &-close {
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
        &.info-block__video-block:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 6;
            background: #D6D9D6;
            opacity: 0.38;
            transition: $transition;
            pointer-events: none;
        }
    }

    &-thumb {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: #f5f5f5;
        transition: all 0.5s ease;
        transition-delay: 0.3s;
    }

    &-frame {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
    }

    &-content {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        left: 50%;
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: $transition;
        z-index: 7;

        &.is-hidden {
            display:none;
        }

        .icon {
            max-width: 98px;
            max-height: 98px;
            cursor: pointer;

            @include mobile {
                max-width: 46px;
                max-height: 46px;
            }
        }

        p {
            font-size: 18px;
            font-weight: 500;
            margin: 30px 0 0;
            color: #fff;
            @include desktop {
                font-size: 32px;
            }
            @include mobile {
                line-height: 26px;
                font-size: 25px;
            }
        }
    }

    &-close {
        position: absolute;
        top: 0;
        right: 0;
        background: #fff;
        padding: 10px 10px 20px 20px;
        border-radius: 0 0 0 100%;
        z-index: 20;
        transition: $transition;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;

        .icon {
            max-width: 20px;
            max-height: 20px;
            transform: scale(1.5) !important;
            fill: map_get($colors, default);
        }
        &:hover {
            background: map_get($colors, default);

            .icon {
                fill: #fff;
            }
        }
    }
}

.site-video {
    cursor: pointer;
    display: block;
    height: auto;
    width: auto;
    cursor: pointer;
    display: block;
    min-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    min-height: 100%;
    transform: translate(-50%, -50%);

    // position:absolute;
    // top:0;
    // left:0;
    // width:100%;
    // height:100%;

    // position: fixed;
    // top: 0;
    // bottom: 0;
    // right: 0;
    // left: 0;
}